@using Orchard.JobsQueue.Models
@{
    Style.Include("admin-jobsqueue.css");
    Layout.Title = T("Job Details");
    var message = (QueuedJobRecord)Model.Job;
    var returnUrl = (string)Model.ReturnUrl;
}
<fieldset class="summary">
    <ul>
        <li>
            <label>@T("Priority")</label>
            <span>@message.Priority</span>
        </li>
        <li>
            <label>@T("Created")</label>
            <span>@message.CreatedUtc</span>
        </li>
        <li>
            <label>@T("Payload")</label>
            <span>@message.Parameters</span>
        </li>
    </ul>
</fieldset>
<a href="@returnUrl" class="button">@T("Back")</a>