@using Orchard.Localization
@using Orchard.JobsQueue.Models
@using Orchard.Utility.Extensions
@{
    IEnumerable<QueuedJobRecord> jobs = Model.Jobs;
    JobsQueueStatus status = Model.JobsQueueStatus;

    Layout.Title = T("Jobs Queue");
    Style.Include("admin-jobsqueue.css");
    Script.Require("jQuery");
}
<div class="panel panel-default">
    @using (Html.BeginFormAntiForgeryPost()) {
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-4"><span class="queue-status @String.Format("{0}", status.ToString().HtmlClassify())">@T("Status: {0}", status)</span></div>
                <div class="col-xs-3 text-right">
                    @if (status == JobsQueueStatus.Paused) {
                        <button class="btn btn-primary" type="submit" name="submit.Resume" value="resume"><i class="fa fa-play"></i> @T("Resume")</button>
                    } else {
                        <button class="btn btn-warning" type="submit" name="submit.Pause" value="pause"><i class="fa fa-pause"></i> @T("Pause")</button>
                    }
                </div>
                <div class="col-xs-5 text-right">
                    @if (status != JobsQueueStatus.Paused) {
                        <button class="btn btn-primary" type="submit" name="submit.Process" value="process"><i class="fa fa-cogs"></i> @T("Process Now")</button>
                    }
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                @if (jobs.Any()) {
                    <div class="table-responsive table-with-footer">
                        <table class="table table-fw-widget data-table table-striped dataTable no-footer">
                            <thead>
                                <tr>
                                    <th>@T("Priority")</th>
                                    <th>@T("Type")</th>
                                    <th>@T("Created")</th>
                                    <th>@T("Actions")</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var job in jobs) {
                                    LocalizedString priorityName;
                                    switch (job.Priority) {
                                        case -50:
                                            priorityName = T("Low");
                                            break;
                                        case 0:
                                            priorityName = T("Normal");
                                            break;
                                        case 50:
                                            priorityName = T("High");
                                            break;
                                        default:
                                            priorityName = T("None");
                                            break;
                                    }
                                    <tr>
                                        <td>@priorityName</td>
                                        <td>@job.Message</td>
                                        <td>@Display.DateTimeRelative(DateTimeUtc: job.CreatedUtc)</td>
                                        <td>
                                            <a href="@Url.Action("Details", "Admin", new { job.Id, returnUrl = Request.Url.PathAndQuery })">@T("Details")</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="row or-datatable-footer">
                        <div class="col-sm-12">
                            @Display(Model.Pager)
                        </div>
                    </div>
                } else {
                    <div class="panel-body">
                        <h3 class="no-content">
                            @T("The queue is empty.")
                        </h3>
                    </div>
                }
            </div>
        </div>
    }

    @if (Model.ProcessQueue) {
        using (Script.Foot()) {
        <script type="text/javascript">
                $(function () {
                    $("[name='submit.Process']").trigger("click");
                });
        </script>
        }
    }
</div>