@model LayoutAddViewModel
@using Orchard.Projections.Models;
@using Orchard.Projections.ViewModels;
           
@{
    Layout.Title = T("Add a Layout");
}

@if (!Model.Layouts.Any()) {
    <h3>@T("There are no currently available layouts")</h3>
}

@foreach (var layout in Model.Layouts.OrderBy(x => x.Name.Text)) {
    <h2>@(layout.Name)</h2>
    
    <table class="items">
        <thead>
            <tr>
                <th scope="col" style="width:300px">@T("Name")</th>
                <th scope="col">@T("Description")</th>
            </tr>
        </thead>
        @foreach (var descriptor in layout.Descriptors) {
        <tr>
            <td>@Html.ActionLink(descriptor.Name.Text, "Create", new { id = Model.Id, category = descriptor.Category, type = descriptor.Type })</td>
            <td>@descriptor.Description</td>    
        </tr>
        }
    </table>
}
