@model Orchard.ImportExport.ViewModels.ExportViewModel

@{ Layout.Title = T("Export").ToString(); }

@using(Html.BeginFormAntiForgeryPost()) {
    Html.ValidationSummary();
	<fieldset>
		<legend>@T("Choose the types to include in the export file:")</legend><br />
		<div>
		    @T("Content Types")
		    @{var contentTypeIndex = 0;}
            @foreach (var contentTypeEntry in Model.ContentTypes) {
			    <br />
                <input type="hidden" value="@Model.ContentTypes[contentTypeIndex].ContentTypeName" name="@Html.NameOf(m => m.ContentTypes[contentTypeIndex].ContentTypeName)"/>
                <input type="checkbox" value="true" name="@Html.NameOf(m => m.ContentTypes[contentTypeIndex].IsChecked)"/>
			    <label class="forcheckbox">@Model.ContentTypes[contentTypeIndex].ContentTypeName</label>
			    contentTypeIndex = contentTypeIndex + 1;
		    }
		</div>
		<br /><hr /><br />
		<legend>@T("Choose what to save for these types:")</legend><br />
		<div>
			@Html.EditorFor(m => m.Metadata) 
			<label class="forcheckbox" for="@Html.FieldIdFor( m => m.Metadata)">@T("Metadata")</label>
			<p>@T("Metadata is the definition of your content types: what parts and fields they have, with what settings.")</p><br />
		</div>
		<div>
			@Html.EditorFor(m => m.Data)
			<label class="forcheckbox" for="@Html.FieldIdFor( m => m.Data)">@T("Data")</label>
			<p>@T("Data is the actual content of your site.")</p>
			<p>@T("Version History")</p>
		</div>
	    <div>
            @Html.RadioButtonFor(m => m.DataImportChoice, "Published", new { id = "Published", Checked = "Checked" })
            <label for="@Html.FieldIdFor(m => m.DataImportChoice)" class="forcheckbox">@T("Only Published Versions")</label>
        </div>
        <div>
            @Html.RadioButtonFor(m => m.DataImportChoice, "Draft", new { id = "Draft" })
            <label for="@Html.FieldIdFor(m => m.DataImportChoice)" class="forcheckbox">@T("Only Drafts")</label>
        </div><br />
		<div>
			@Html.EditorFor(m => m.SiteSettings)
			<label class="forcheckbox" for="@Html.FieldIdFor( m => m.SiteSettings)">@T("Site Settings")</label><br />
			<p>@T("Please verify that you are not exporting confidential information, such as passwords or application keys.")</p><br />
		</div>     
	</fieldset>
	<button type="submit" class="primaryAction">@T("Export")</button>
}
