@using Orchard.Utility.Extensions
@model Orchard.ImportExport.ViewModels.ExportViewModel
@{ Layout.Title = T("Export").ToString(); }
@using (Html.BeginFormAntiForgeryPost()) {
    Html.ValidationSummary();
    var exportStepIndex = 0;
    foreach (var exportStep in Model.ExportSteps) {
        var stepName = Html.NameFor(m => m.ExportSteps[exportStepIndex].IsSelected).ToString();
        var stepId = stepName.HtmlClassify();

        <fieldset class="export-step export-step-@exportStep.Name.HtmlClassify()">
            <legend>
                <input type="hidden" name="@Html.NameFor(m => m.ExportSteps[exportStepIndex].Name)" value="@Model.ExportSteps[exportStepIndex].Name"/>
                <input type="checkbox" id="@stepId" name="@stepName" value="true"/>
                <label for="@stepId" class="forcheckbox">@exportStep.DisplayName</label>
            </legend>
            @Html.Hint(@exportStep.Description)
            <div data-controllerid="@stepId">
                @Display(exportStep.Editor)
            </div>
        </fieldset>
        exportStepIndex++;
        if (exportStepIndex < Model.ExportSteps.Count) {
            <hr />
        }
    }

    if (Model.CustomSteps.Any()) {
        <fieldset>
            <legend>@T("Choose the custom steps to execute in the export file:")</legend>
            <ol>
                @for (var customStepIndex = 0; customStepIndex < Model.CustomSteps.Count; customStepIndex++) {
                    <li>
                        <input type="hidden" value="@Model.CustomSteps[customStepIndex].CustomStep" name="@Html.NameOf(m => m.CustomSteps[customStepIndex].CustomStep)" />
                        <input type="checkbox" value="true" name="@Html.NameOf(m => m.CustomSteps[customStepIndex].IsChecked)" id="@Html.NameOf(m => m.CustomSteps[customStepIndex].IsChecked)" />
                        <label class="forcheckbox" for="@Html.NameOf(m => m.CustomSteps[customStepIndex].IsChecked)">@Model.CustomSteps[customStepIndex].CustomStep.CamelFriendly()</label>
                    </li>
                }
            </ol>
        </fieldset>
    }

    <button type="submit" class="primaryAction">@T("Export")</button>
}
