@model Orchard.Blogs.ViewModels.RecentBlogPostsViewModel

@using Orchard.Blogs.Models;
@using Orchard.Core.Routable.Models;
@using Orchard.ContentManagement;

<fieldset>
    <div>
        @Html.LabelFor(m => m.Slug, T("For Blog"))
        <select id="@Html.FieldIdFor(m => m.Slug)" name="@Html.FieldNameFor(m => m.Slug)">
		@foreach(BlogPart blog in Model.Blogs) {
            @Html.SelectOption(Model.Slug, blog.As<RoutePart>().Slug, blog.Name)
		}
		</select>
        <span class="hint">@T("Select which blog you want to display the recent posts for")</span>
    </div>
    <div>
        @Html.LabelFor(m => m.Count, T("Count"))
        @Html.TextBoxFor(m => m.Count, new { @class = "text-small"})
        <span class="hint">@T("Number of posts to display. Zero for all.")</span>
    </div>
</fieldset>