@using Orchard.Layouts.Framework.Elements
@{
    var element = (IElement)Model.Element;
    var isTemplated = element.IsTemplated;
}
<article class="element-box x-element @if(isTemplated){<text>templated</text>}" data-element="@Model.ElementJson">
    @if (!isTemplated) {
        <header>
            <div class="group">
                <div class="pull-left">
                    <div class="actions">
                        @if (element.Descriptor.EnableEditorDialog) {
                            <a href="#" class="edit icon-cog" data-element-typename="@element.Descriptor.TypeName" title="@T("Edit {0} properties", element.Descriptor.DisplayText)"></a>
                        }
                        <a href="#" class="remove icon-trash" title="@T("Remove this {0}", element.Descriptor.DisplayText)"></a>
                    </div>
                </div>
                <div class="pull-right">
                    <span class="name">@element.Descriptor.DisplayText</span>
                </div>
            </div>		    
        </header>
    }
    <div class="view">
        <div class="element">
            @Model.Metadata.ChildContent
        </div>
    </div>
    @if (!isTemplated) {
        <div class="element-overlay"></div>
    }
</article>