@using Orchard.Layouts.Elements
@{
    var element = (Grid)Model.Element;
    var isTemplated = element.IsTemplated;
}
<div class="table x-grid x-element x-container x-holder @if (isTemplated) {<text>templated</text>}" data-element="@Model.ElementJson">
    @if (!isTemplated) {
        <div class="drag-handle">
            <div class="toolbar grid-toolbar group">
                <div class="pull-left">
                    @if (element.Descriptor.EnableEditorDialog) {
                        <a class="edit icon-cog" href="#" title="@T("Edit grid properties")"></a>
                    }
                    <a class="add-row icon-plus" href="#" title="@T("Add row")"></a>
                    <a class="remove icon-trash" href="#" title="@T("Remove grid")"></a>
                </div>
                <div class="pull-right">
                    <span class="name">@T("Grid")</span>
                </div>
            </div>
        </div>
    }
    @DisplayChildren(Model)
</div>