@model LocalizationTaxonomiesViewModel
@using Orchard.Taxonomies.ViewModels;
@{
    Script.Require("jQuery");
}
<fieldset>
    @{ IEnumerable<string> cultures = Model.Cultures;
        if (cultures.Count() > 1) {
            <label for="filterCultures_@Model.Prefix" class="bulk-culture">@T("Culture")</label>
            @Html.DropDownListFor(m => m.SelectedCulture, Model.Cultures.Select(x => new SelectListItem
            {
                Selected = Model.SelectedCulture.Equals(x),
                Value = x,
                Text = System.Globalization.CultureInfo.GetCultureInfo(x).DisplayName
            }))
        }
    }
</fieldset>

@using (Script.Foot()) {
    <script type="text/javascript">
        //<![CDATA[
        $(document).ready(function () {
            var pageurl = '@Url.Action("GetTaxonomy", "LocalizationTaxonomy", new { area = "Orchard.Taxonomies" })';
            function filterTaxonomyCulture(culture) {
                $.ajax({
                    url: pageurl,
                    data: { contentTypeName: '@Model.ContentType', taxonomyFieldName: '@Model.FieldName', culture: culture },
                    success: function (html) {
                        @{
                            var Taxonomyprefix = ((ViewData)).TemplateInfo.HtmlFieldPrefix.Replace('.','_');
                        }
                        $(".taxonomy-wrapper[data-id-prefix='@Taxonomyprefix']").html(html);
                    }
                }).fail(function () {

                    alert("Loading taxonomy fail, Retry");
                });
            }
            $("#@Html.IdFor(m => m.SelectedCulture)").on('change', function () {
                var optionSelected = $("option:selected", this);
                filterTaxonomyCulture($("#@Html.IdFor(m => m.SelectedCulture)").val());

            });
        });
        //]]>
    </script>
    }