@using Newtonsoft.Json;

@{
    Style.Include("~/Modules/Orchard.Azure.MediaServices/Content/amp/stylefix.css");
    Style.Include("~/Modules/Orchard.Azure.MediaServices/Content/amp/azuremediaplayer.min.css");
    Script.Include("~/Modules/Orchard.Azure.MediaServices/Content/amp/azuremediaplayer.min.js").AtHead();

    var altText = Model.AlternateText;
    var assetDataJson = JsonConvert.SerializeObject(Model.AssetData, Formatting.None);
    Random rand = new Random();
    var renderId = rand.Next(0, 10000);
    var playerWidth = Model.PlayerWidth; // Width (in pixels) of the rendered player.
    var playerHeight = Model.PlayerHeight; // Height (in pixels) of the rendered player.
    var autoPlay = Model.AutoPlay; // True to start playing the video automatically, otherwise false.
}
<video id="amp-@Html.Raw(renderId)" class="azuremediaplayer amp-default-skin" autoplay="@autoPlay.ToString().ToLower()" controls width="@playerWidth" height="@playerHeight">
    <p class="amp-no-js">
        @(!String.IsNullOrEmpty(altText) ? T("Description of video item: {0}", altText).Text : "")
    </p>
</video>
<script>
    (function () {
        var subtitlesUrls = undefined,
            posterUrl = undefined,
            videoUrl = undefined,
            id = 'amp-@Html.Raw(renderId)',
            data = JSON.parse('@Html.Raw(assetDataJson.ToString())');

        if (data.VideoAssets &&
            Array.isArray(data.VideoAssets) &&
            data.VideoAssets.length > 0 &&
            data.VideoAssets[0].MainFileUrl)
        {
            videoUrl = data.VideoAssets[0].MainFileUrl;
            videoType = "video/mp4";
        }

        if (data.DynamicVideoAssets &&
            Array.isArray(data.DynamicVideoAssets) &&
            data.DynamicVideoAssets.length > 0 &&
            data.DynamicVideoAssets[0].SmoothStreamingUrl)
        {
            videoUrl = data.DynamicVideoAssets[0].SmoothStreamingUrl;
            videoType = "application/vnd.ms-sstr+xml";
        }

        if (data.SubtitleAssets &&
            Array.isArray(data.SubtitleAssets))
        {
            subtitlesUrls = data.SubtitleAssets.map(function(item) {
                return {
                    src: item.MainFileUrl,
                    srclang: item.Language.substring(0,2),
                    kind: 'subtitles',
                    label: item.Name
                };
            });
        }

        if (data.ThumbnailAssets &&
            Array.isArray(data.ThumbnailAssets) &&
            data.ThumbnailAssets.length > 0 &&
            data.ThumbnailAssets[0].MainFileUrl)
        {
            posterUrl = data.ThumbnailAssets[0].MainFileUrl;
        }

        if (videoUrl) {
            var options = {
                logo: { enabled: false },
                autoplay: @autoPlay.ToString().ToLower(),
                width: @playerWidth,
                height: @playerHeight
            };

            if (posterUrl) {
                options.poster = posterUrl;
            }

            // protocol relative url
            videoUrl = videoUrl.replace(/^https?\:/i, "");

            var player = amp(id, options, function () {
                this.src([{ src: videoUrl, type: videoType }], subtitlesUrls);
            });
        }
    })();
</script>