@using Newtonsoft.Json;

@{
    @*//amp.azure.net/libs/amp/1.5.0/skins/amp-default/azuremediaplayer.min.css*@
    Style.Include("Lib/Css/azuremediaplayer.min.css");

    @*//amp.azure.net/libs/amp/1.5.0/azuremediaplayer.min.js*@
    Script.Include("Lib/JavaScript/azuremediaplayer.min.css").AtHead();

    var altText = Model.AlternateText;
    var assetData = Model.AssetData;
    var assetDataJson = JsonConvert.SerializeObject(assetData, Formatting.None);
    var renderId = Guid.NewGuid().ToString().Replace("-", "");
    var playerWidth = Model.PlayerWidth; // Width (in pixels) of the rendered player.
    var playerHeight = Model.PlayerHeight; // Height (in pixels) of the rendered player.
    var applyMediaQueries = Model.ApplyMediaQueries; // True to apply media query filtering to the set of assets, otherwise false.
    var autoPlay = Model.AutoPlay; // True to start playing the video automatically, otherwise false.
}

<video id="cloudmedia-videoplayer-@Html.Raw(renderId)" class="azuremediaplayer amp-default-skin" autoplay="@autoPlay.ToString().ToLower()" controls width="@playerWidth" height="@playerHeight" data-setup='{"techOrder": ["azureHtml5JS", "flashSS", "silverlightSS", "html5"], "nativeControlsForTouch": false}'>
    <source src="@Model.ContentItem.Stream.Url.Value" />
    <p class="amp-no-js">
        @(!String.IsNullOrEmpty(altText) ? T("Description of video item: {0}", altText).Text : "")
    </p>
</video>