@model Orchard.ContentPicker.Settings.ContentPickerFieldLocalizationSettings

<fieldset>
    @Html.CheckBoxFor(m => m.TryToLocalizeItems)
    <label for="@Html.FieldIdFor(m => m.TryToLocalizeItems)" class="forcheckbox">@T("Try to replace selected items with their correct localization.")</label>
    <span class="hint">@T("Check to attempt to replace items selected in this field with their translation in the main ContentItem's culture. This only applies if the main ContentItem has a LocalizationPart.")</span>
    <div data-controllerid="@Html.FieldIdFor(m => m.TryToLocalizeItems)">
        @Html.CheckBoxFor(m => m.RemoveItemsWithoutLocalization)
        <label for="@Html.FieldIdFor(m => m.RemoveItemsWithoutLocalization)" class="forcheckbox">@T("Remove items that do not have the correct translation.")</label>
        <span class="hint">@T("Check to remove items from the ContentPickerField when the items selected do not have a version in the correct culture (they have a LocalizationPart, but not a translation in the main ContentItem's culture').")</span>
        @Html.CheckBoxFor(m => m.RemoveItemsWithNoLocalizationPart)
        <label for="@Html.FieldIdFor(m => m.RemoveItemsWithNoLocalizationPart)" class="forcheckbox">@T("Remove items that cannot be localized.")</label>
        <span class="hint">@T("Check to remove items from the ContentPickerField when the items selected cannot be localized (do not have a LocalizationPart).")</span>
    </div>

    @Html.CheckBoxFor(m => m.AssertItemsHaveSameCulture)
    <label for="@Html.FieldIdFor(m => m.AssertItemsHaveSameCulture)" class="forcheckbox">@T("Verify culture of selected items.")</label>
    <span class="hint">@T("Check to prevent publication of contents when the items selected have a different culture. This only applies if the main ContentItem has a LocalizationPart.")</span>
    <div data-controllerid="@Html.FieldIdFor(m => m.AssertItemsHaveSameCulture)">
        @Html.CheckBoxFor(m => m.BlockForItemsWithNoLocalizationPart)
        <label for="@Html.FieldIdFor(m => m.BlockForItemsWithNoLocalizationPart)" class="forcheckbox">@T("Do not admit items that cannot be localized.")</label>
        <span class="hint">@T("Check to stop publication of contents when the items selected cannot be localized (do not have a LocalizationPart).")</span>
    </div>
</fieldset>
