@model Orchard.SecureSocketsLayer.Models.SslSettingsPart

<fieldset>
    <legend>@T("SSL Settings")</legend>
    <div>
        @Html.EditorFor(m => m.Enabled)
        <label for="@Html.FieldIdFor(m => m.Enabled)" class="forcheckbox">@T("Enable SSL redirection")</label>
        @Html.ValidationMessage("Enabled", "*")
    </div>
    <div data-controllerid="@Html.FieldIdFor(m => m.Enabled)">
        <div>
            @Html.EditorFor(m => m.SecureEverything)
            <label for="@Html.FieldIdFor(m => m.SecureEverything)" class="forcheckbox">@T("Force SSL on all pages")</label>
            @Html.ValidationMessage("SecureEverything", "*")
        </div>
        <div>
            <div>
                @Html.EditorFor(m => m.CustomEnabled)
                <label for="@Html.FieldIdFor(m => m.CustomEnabled)" class="forcheckbox">@T("Enable SSL on specific pages")</label>
                @Html.ValidationMessage("CustomEnabled", "*")
            </div>
            <div data-controllerid="@Html.FieldIdFor(m => m.CustomEnabled)">
                <div>
                    <label for="@Html.FieldIdFor(m => m.Urls)">@T("Urls")</label>
                    @Html.TextAreaFor(m => m.Urls, new { @class = "textMedium", rows = "5" })
                    @Html.ValidationMessage("Urls", "*")
                    <span class="hint">@T("Provide a list of urls, one per line. Urls can contains wildcard matches using '*', or root identifier like '~/'")</span>
                    <span class="hint">@T("Examples: http://mysite.com/mypage, ~/Profile/Edit, ~/Profile/*")</span>
                </div>
            </div>
        </div>
        <div>
            <label for="@Html.FieldIdFor(m => m.SecureHostName)">@T("Secure Host Name")</label>
            @Html.TextBoxFor(m => m.SecureHostName, new { @class = "textMedium" })
            <span class="hint">@T("Provide the host name secure traffic should be redirected to (e.g. secure.mydomain.com). Don't include the protocol or anything else than the host name. A port can be specified after a colon if necessary (e.g. secure.127-0-0-1.org.uk:4333).")</span>
        </div>
        <div>
            <label for="@Html.FieldIdFor(m => m.InsecureHostName)">@T("Insecure Host Name")</label>
            @Html.TextBoxFor(m => m.InsecureHostName, new { @class = "textMedium" })
            <span class="hint">@T("Provide the host name non-secured traffic should be redirected to (e.g. mydomain.com). Don't include the protocol or anything else than the host name. A port can be specified after a colon if necessary (e.g. dev.127-0-0-1.org.uk:4333).")</span>
        </div>
    </div>

</fieldset>