@using Orchard.MediaLibrary.Models
@using Orchard.Utility.Extensions;
@{
    MediaPart mediaPart = Model.ContentItem.MediaPart;
    Layout.Title = mediaPart.Title;
    var contentTypeClassName = mediaPart.ContentItem.ContentType.HtmlClassify();
}
<article class="media-item @contentTypeClassName">
    <header>
        @Display(Model.Header)
        @if (Model.Meta != null) {
        <div class="metadata">
            @Display(Model.Meta)
        </div>
        }
    </header>
    @Display(Model.Content)
    @if(Model.Footer != null) {
    <footer>
        @Display(Model.Footer)
    </footer>
    }
</article>