@model Orchard.Modules.ViewModels.FeatureStepViewModel
<div>
    @Html.CheckBoxFor(m => m.ExportEnabledFeatures)
    @Html.LabelFor(m => m.ExportEnabledFeatures, T("Enabled Features").ToString(), new {@class = "forcheckbox"})
    @Html.Hint(T("Check this option to export the set of enabled features."))
</div>
<div>
    @Html.CheckBoxFor(m => m.ExportDisabledFeatures)
    @Html.LabelFor(m => m.ExportDisabledFeatures, T("Disabled Features").ToString(), new { @class = "forcheckbox" })
    @Html.Hint(T("Check this option to export the set of disabled features."))
</div>