@using Orchard.ContentManagement
@using Orchard.Utility.Extensions
@using Orchard.ContentManagement.Aspects;
@{
    ContentItem customForm = Model.ContentItem;
    string returnUrl = Model.ReturnUrl;
    var metadata = customForm.ContentManager.GetItemMetadata(customForm);
    var displayText = metadata != null ? MvcHtmlString.Create(metadata.DisplayText) : null;

    Html.AddPageClassNames("edit-" + customForm.ContentType.HtmlClassify());

    // remove default Save/Publish buttons
    Model.Zones["Sidebar"].Items.Clear();

    var submitButtonText = String.IsNullOrEmpty(Model.ContentItem.CustomFormPart.SubmitButtonText) ? T("Submit").Text : Model.ContentItem.CustomFormPart.SubmitButtonText;
    var publishButtonText = String.IsNullOrEmpty(Model.ContentItem.CustomFormPart.PublishButtonText) ? T("Publish").Text : Model.ContentItem.CustomFormPart.PublishButtonText;
}

@Display(New.Parts_Title().Title(displayText))

@using (Html.BeginFormAntiForgeryPost(returnUrl)) {
    @Html.ValidationSummary()
    // Model is a Shape, calling Display() so that it is rendered using the most specific template for its Shape type
    @Display(Model)

    @Html.Hidden("contentId", (int)Model.ContentId, new { id = string.Empty });

    <fieldset class="submit-button">
        @if (Model.ContentItem.CustomFormPart.SavePublishContentItem == false || Model.ContentItem.CustomFormPart.SaveContentItem == true) {
            <button type="submit" name="submit.Save" value="submit.Save">@submitButtonText</button>
        }
        @if (Model.ContentItem.CustomFormPart.SavePublishContentItem == true) {
            <button type="submit" name="submit.Publish" value="submit.Publish">@publishButtonText</button>
        }
    </fieldset>
}