@using Orchard.Utility.Extensions
@model Upgrade.ViewModels.MigrateViewModel

@{
    Layout.Title = T("Migrate Fields").ToString();
    var contentTypeIndex = 0;
}
<div class="panel panel-default">
    @using (Html.BeginFormAntiForgeryPost()) {
        Html.ValidationSummary();
        <div class="panel-body">
            <fieldset>
                <legend>@T("Choose the types to migrate:")</legend>
                <span class="help-block">@T("The migration process fields data. You will still need to enable Orchard.Fields, and remove Contrib.DateTime and Contrib.MediaPicker if you have installed them.")</span>
                <ol>
                    @foreach (var contentTypeEntry in Model.ContentTypes) {
                        <li>
                            <input type="hidden" value="@Model.ContentTypes[contentTypeIndex].ContentTypeName" name="@Html.NameOf(m => m.ContentTypes[contentTypeIndex].ContentTypeName)" />
                            <div class="am-checkbox am-select-all inline">
                                <input name="@Html.NameOf(m => m.ContentTypes[contentTypeIndex].IsChecked)" id="@Html.NameOf(m => m.ContentTypes[contentTypeIndex].IsChecked)" value="true" class="check-all" type="checkbox">
                                <label title="@T("Select All")" for="@Html.NameOf(m => m.ContentTypes[contentTypeIndex].IsChecked)">@Model.ContentTypes[contentTypeIndex].ContentTypeName.CamelFriendly()</label>
                            </div>
                        </li>
                        contentTypeIndex = contentTypeIndex + 1;
                    }
                </ol>
            </fieldset>
        </div>
        <div class="panel-footer">
            <button class="btn btn-primary" type="submit">@T("Migrate")</button>
        </div>
    }
</div>