@{
    var pageTitle = T("Search Content");
    Layout.Title = pageTitle;
}
<div class="panel panel-default">
    @using (Html.BeginFormAntiForgeryPost(Url.Action("index", new { controller = "admin", area = "Orchard.Search" }), FormMethod.Get)) {
        <div class="panel-heading">
            <div class="panel-heading-primary-group">
                @Html.TextBox("searchText", (string)Model.SearchText, new { @class = "text medium", autofocus = "autofocus", required = "required" })
                <button type="submit">@T("Search")</button>
            </div>
        </div>
        <div class="panel-body">
            @if (Model.ContentItems.Items.Count > 0) {
                <fieldset class="content-items bulk-items content-items-with-actions">
                    @Display(Model.ContentItems)
                </fieldset>
            }
            @if (HasText(Model.SearchText) && Model.ContentItems.Items.Count == 0) {
                <div class="alert-warning alert alert-icon alert-dismissible alert-border-color">
                    <div class="icon"><span class="s7-attention"></span></div>
                    <div class="message">
                        <button class="close" aria-label="Close" data-dismiss="alert" type="button"><span class="s7-close" aria-hidden="true"></span></button>@T("There are no results")
                    </div>
                </div>
            }
        </div>
        <div class="panel-footer">
            @Display(Model.Pager)
        </div>
    }
</div>