@model Orchard.Modules.ViewModels.ModulesIndexViewModel
@using Orchard.Modules.Models;
@using Orchard.Mvc.Html;

@{
    Style.Require("ModulesAdmin");

    Layout.Title = T("Modules").ToString();
}


@using (Html.BeginFormAntiForgeryPost(Url.Action("Index", "Admin"))) {
    <div class="row">
        <fieldset class="pull-right col-md-4 col-sm-6 col-xs-12">
            <div class="input-group xs-mb-15">
                <input id="searchText" type="text" class="form-control" name="@Html.NameOf(m => m.Options.SearchText)" value="@Model.Options.SearchText"><span class="input-group-btn">
                    <button type="button" class="btn btn-primary">@T("Search").ToString()</button>
                </span>
            </div>
        </fieldset>

        @if (Model.InstallModules) {
            <div class="pull-left col-md-8 col-sm-6 col-xs-12">
                @Html.ActionLink(T("Install a module from your computer").ToString(), "AddModule", "PackagingServices", new { area = "Orchard.Packaging", returnUrl = HttpContext.Current.Request.RawUrl }, new { @class="button"})
            </div>
        }
    </div>
    if (Model.Modules.Any()) {
        <ul class="contentItems">
            @foreach (ModuleEntry module in Model.Modules.OrderBy(m => m.Descriptor.Name)) {
                <li>@Display.ModuleEntry(Module: module)</li>
            }
        </ul>
    }
    else {
        <p>@T("No modules available").ToString()</p>
    }

    @Display(Model.Pager)
}

