@model ModulesIndexViewModel
@using Orchard.Modules.Extensions;
@using Orchard.Mvc.Html;
@using Orchard.Modules.ViewModels;

@{
    Style.Require("ModulesAdmin");

    WorkContext.Layout.BeforeContent.Add(New.BeforeContent(Title: "Modules"), "5");
}

@if (Model.InstallModules) {
    <div class="manage">@Html.ActionLink(T("Install a module").ToString(), "AddModule", "PackagingServices", new { area = "Orchard.Packaging", returnUrl = HttpContext.Current.Request.RawUrl }, new { @class = "button primaryAction" })</div>
}

@if (Model.Modules.Count() > 0) {
<ul class="contentItems">
    @foreach (var module in Model.Modules.OrderBy(m => m.Name)) {
    <li>
        <div class="summary">
            <div class="properties">
                <h2>@module.Name<span> - @T("Version: {0}", !string.IsNullOrEmpty(module.Version) ? module.Version : T("1.0").ToString())</span></h2>
                @if (!string.IsNullOrEmpty(module.Description)) {
                <p>@module.Description</p>}
                <ul class="pageStatus" style="color:#666; margin:.6em 0 0 0;">
                    <li>@T("Features: {0}", MvcHtmlString.Create(string.Join(", ", module.Features.Select(f => Html.Link(string.IsNullOrEmpty(f.Name) ? f.Id : f.Name, string.Format("{0}#{1}", Url.Action("features", new { area = "Orchard.Modules" }), f.Id.AsFeatureId(n => T(n)))).ToString()).OrderBy(s => s).ToArray())))</li>
                    <li>&nbsp;&#124;&nbsp;@T("Author: {0}", !string.IsNullOrEmpty(module.Author) ? module.Author : T("Unknown").ToString())</li>
                    <li>&nbsp;&#124;&nbsp;@T("Website: ")
                        @if (!string.IsNullOrEmpty(module.WebSite)) { <a href="@module.WebSite">@module.WebSite</a> }
                        else { @T("Unknown").ToString() }
                    </li>
                </ul>
            </div>
        </div>
    </li>}
</ul>}