@model Orchard.Modules.ViewModels.ModulesIndexViewModel
@using Orchard.Modules.Models;
@using Orchard.Mvc.Html;

@{
    Style.Require("ModulesAdmin");

    Layout.Title = T("Modules").ToString();
}


@using (Html.BeginFormAntiForgeryPost(Url.Action("Index", "Admin"))) {
    <div class="panel panel-default ">
        <div class="panel-heading no-border form-inline">
            <div class="panel-heading-actions">
                <div class="input-group">
                    <input id="searchText" type="text" class="form-control" name="@Html.NameOf(m => m.Options.SearchText)" value="@Model.Options.SearchText"><span class="input-group-btn">
                        <button type="submit" class="btn btn-primary">@T("Search").ToString()</button>
                    </span>
                </div>
            </div>
            <div class="panel-heading-primary-group">
                <fieldset class="bulk-actions">
                    @if (Model.InstallModules) {
                        @Html.ActionLink(T("Install a module from your computer").ToString(), "AddModule", "PackagingServices", new { area = "Orchard.Packaging", returnUrl = HttpContext.Current.Request.RawUrl }, new { @class = "button" })
                    }
                </fieldset>
            </div>

        </div>
        <div class="panel-body">
            @if (Model.Modules.Any()) {
            <ul class="content-items no-selection">
                @foreach (ModuleEntry module in Model.Modules.OrderBy(m => m.Descriptor.Name)) {
                    <li>@Display.ModuleEntry(Module: module)</li>
                }
            </ul>
            }
            else {
            <p>@T("No modules available").ToString()</p>
            }

            @Display(Model.Pager)
        </div>
    </div>
    
}

