@model Orchard.Localization.ViewModels.EditLocalizationViewModel
@if (Model.ContentItem.ContentItem.Id > 0 && Model.SelectedCulture != null && Model.ContentLocalizations.Localizations.Count() > 0) {
Style.Require("LocalizationAdmin");
<fieldset class="localization culture-selection">
    <fieldset class="culture-selected">
        <label for="SelectedCulture">@T("Content Localization")</label>
        <div>@T("This is the <em>{0}</em> variation of {1}.",
                            Html.Encode(Model.SelectedCulture),
                            Display.EditorLink(ContentItem: Model.MasterContentItem ?? Model.ContentItem))</div>
           @Html.Hidden("SelectedCulture", Model.SelectedCulture)
    </fieldset>
    @if (Model.ContentLocalizations.Localizations.Count() > 0) {
    <dl class="content-localization">
        <dt>@T("Other translations:")</dt>
        <dd class="content-localizations">
            @Html.UnorderedList(Model.ContentLocalizations.Localizations, (c, i) => MvcHtmlString.Create(Display.EditorLink(Value: c.Culture.Culture, ContentItem: c).ToString()), "localizations")
        </dd>
    </dl>
    }
</fieldset>}