@model Orchard.ContentTypes.ViewModels.AddFieldViewModel
@{
    Style.Require("ContentTypesAdmin");

    Layout.Title = T("Add New Field To \"{0}\"", Model.Part.DisplayName).ToString();
}

@using (Html.BeginFormAntiForgeryPost()) {
    @Html.ValidationSummary()
    <fieldset>
        <label for="DisplayName">@T("Name")</label>
        @Html.TextBoxFor(m => m.DisplayName, new {@class = "textMedium", autofocus = "autofocus"})
        <span class="hint">@T("Use no spaces or special characters. For example, \"MyCustomField\"")</span>
    </fieldset>
    <fieldset>
        <label for="FieldTypeName">@T("Field Type")</label>
        @Html.DropDownListFor(m => m.FieldTypeName, new SelectList(Model.Fields, "FieldTypeName", "FieldTypeName"))
    </fieldset>
    <fieldset>
        <button class="primaryAction" type="submit">@T("Save")</button>
    </fieldset>
}