@model Orchard.ContentTypes.ViewModels.CreatePartViewModel

@WorkContext.Layout.BeforeContent.Add(New.BeforeContent(Title: T("New Content Part").ToString()), "5");

@using (Html.BeginFormAntiForgeryPost()) {
    @Html.ValidationSummary()
    <fieldset>
        <label for="Name">@T("Name")</label>
        @Html.TextBoxFor(m => m.Name, new {@class = "textMedium", autofocus = "autofocus"})
        <span class="hint">@T("Use no spaces or special characters. For example, \"MyCustomPart\"")</span>
    </fieldset>
    <fieldset>
        <button class="primaryAction" type="submit">@T("Create")</button>
    </fieldset>}