@using Orchard.Utility.Extensions
@model Orchard.ContentTypes.ViewModels.EditPartViewModel
@{
    Style.Require("ContentTypesAdmin");
    Script.Require("jQuery");
    Layout.Title = T("Edit {0}", Model.Name.CamelFriendly()).ToString();
}
@using (Html.BeginFormAntiForgeryPost()) {
    <div class="panel panel-default panel-heading-fullwidth panel-borders">
        <div class="panel-heading">
            <div class="panel-heading-primary-group">
                <span class="title">@T("Settings")</span>
            </div>
        </div>
        <div class="panel-body">
            @Html.ValidationSummary()
            <div class="form-group">
                <label class="control-label" for="@Html.FieldIdFor(m => m.Name)">@T("Name")</label>
                @Html.TextBoxFor(m => m.Name, new { @class = "text large", disabled = "disabled" })
                @Html.HiddenFor(m => m.Name)
            </div>
            @{Html.RenderTemplates(Model.Templates);}
        </div>
    </div>

    <div class="panel panel-default panel-heading-fullwidth panel-borders">
        <div class="panel-heading">
            <div class="panel-heading-primary-group">
                <span class="title">@T("Fields")</span>
            </div>
            <div class="panel-heading-actions">
                <a class="icon s7-plus" href="@Url.Action("AddFieldTo", new {area = "Orchard.ContentTypes", id = Model.Name})" title="@T("Add Field")"></a>
            </div>
        </div>
        <div class="panel-body">
            @Html.EditorFor(m => m.Fields, "Fields", "")
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-body">
            <fieldset class="text-left">
                <button class="btn btn-primary" type="submit" name="submit.Save" value="Save">@T("Save")</button>
                <button class="btn btn-danger" type="submit" name="submit.Delete" value="Delete" itemprop="RemoveUrl">@T("Delete")</button>
            </fieldset>
        </div>
    </div>
}