@using Orchard.ContentTypes.Extensions
@model Orchard.ContentTypes.ViewModels.EditTypeViewModel
@{
    Style.Require("ContentTypesAdmin");
    Script.Require("jQuery");
    Style.Require("jQueryUI");
    Layout.Title = T("Edit {0} Definition", Html.Raw(Model.DisplayName)).Text;
    Html.AdminBreadcrumbs(new { CurrentContentType = Model.Definition });
}

@using (Html.BeginFormAntiForgeryPost())
{
    <div class="panel panel-default panel-heading-fullwidth panel-borders">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-6">
                    <span class="title">@T("Settings")</span>
                </div>
                <div class="col-xs-6 text-right">
                    <a class="icon s7-display2" href="@Url.Action("EditPlacement", new {area = "Orchard.ContentTypes", id = Model.Name})" title="@T("Edit Placement")"></a>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div itemscope="itemscope" itemid="@Model.Name" itemtype="http://orchardproject.net/data/ContentType">
                @Html.ValidationSummary()
                <div class="form-group">
                    <label class="control-label" for="DisplayName">@T("Display Name")</label>
                    @Html.TextBoxFor(m => m.DisplayName, new { @class = "text large", placeholder = T("Content Type Id: {0}", Model.Name) })
                    @Html.HiddenFor(m => m.Name)
                </div>
                @{ Html.RenderTemplates(Model.Templates); }
            </div>
        </div>
    </div>

    <div class="panel panel-default panel-heading-fullwidth panel-borders">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-6">
                    <span class="title">@T("Fields")</span>
                </div>
                <div class="col-xs-6 text-right">
                    <a class="icon s7-plus" href="@Url.Action("AddFieldTo", new {area = "Orchard.ContentTypes", id = Model.Name})" title="@T("Add Field")"></a>
                </div>
            </div>
        </div>
        <div class="panel-body manage-type">
            @Html.EditorFor(m => m.Fields, "Fields", "")
        </div>
    </div>

    <div class="panel panel-default panel-heading-fullwidth panel-borders">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-6">
                    <span class="title">@T("Parts")</span>
                </div>
                <div class="col-xs-6 text-right">
                    <a class="icon s7-plus" href="@Url.Action("AddPartsTo", new {area = "Orchard.ContentTypes", id = Model.Name})" title="@T("Add Field")"></a>
                </div>
            </div>
        </div>
        <div class="panel-body manage-type">
            @Html.EditorFor(m => m.Parts, "TypeParts", "")
        </div>
        <div class="panel-footer form-horizontal">
            <button class="btn btn-primary" type="submit" name="submit.Save" value="Save"><i class="fa fa-save"></i> @T("Save")</button>
            <button class="btn btn-danger" type="submit" name="submit.Delete" value="Delete" itemprop="RemoveUrl"><i class="fa fa-trash"></i> @T("Delete")</button>
        </div>
    </div>
                    }
