@model Orchard.ContentTypes.ViewModels.EditTypeViewModel
@{
    Style.Require("ContentTypesAdmin");
    Script.Require("jQuery");
    Layout.Title = T("Edit {0} Definition", Html.Raw(Model.DisplayName)).Text;
}

@using (Html.BeginFormAntiForgeryPost()) {
    <div class="panel panel-default panel-heading-fullwidth panel-borders">
        <div class="panel-heading">
            <div class="panel-heading-primary-group">
                <span class="title">@T("Settings")</span>
            </div>
            <div class="panel-heading-actions">
                <a class="icon s7-display2" href="@Url.Action("EditPlacement", new {area = "Orchard.ContentTypes", id = Model.Name})" title="@T("Edit Placement")"></a>
            </div>
        </div>
        <div class="panel-body form-horizontal">
            <div class="form-horizontal" itemscope="itemscope" itemid="@Model.Name" itemtype="http://orchardproject.net/data/ContentType">
                @Html.ValidationSummary()
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="DisplayName">@T("Display Name")</label>
                    <div class="col-sm-6">
                        @Html.TextBoxFor(m => m.DisplayName, new { @class = "text large", placeholder = T("Content Type Id: {0}", Model.Name) })
                        @Html.HiddenFor(m => m.Name)
                    </div>
                </div>
                @{ Html.RenderTemplates(Model.Templates); }
            </div>
        </div>
    </div>

    <div class="panel panel-default panel-heading-fullwidth panel-borders">
        <div class="panel-heading">
            <div class="panel-heading-primary-group">
                <span class="title">@T("Fields")</span>
            </div>
            <div class="panel-heading-actions">
                <a class="icon s7-plus" href="@Url.Action("AddFieldTo", new {area = "Orchard.ContentTypes", id = Model.Name})" title="@T("Add Field")"></a>
            </div>
        </div>
        <div class="panel-body">
            @Html.EditorFor(m => m.Fields, "Fields", "")
        </div>
    </div>

    <div class="panel panel-default panel-heading-fullwidth panel-borders">
        <div class="panel-heading">
            <div class="panel-heading-primary-group">
                <span class="title">@T("Parts")</span>
            </div>
            <div class="panel-heading-actions">
                <a class="icon s7-plus" href="@Url.Action("AddPartsTo", new {area = "Orchard.ContentTypes", id = Model.Name})" title="@T("Add Field")"></a>
            </div>
        </div>
        <div class="panel-body manage-type">
            @Html.EditorFor(m => m.Parts, "TypeParts", "")
        </div>
    </div>

    <div class="panel panel-default panel-borders">
        <div class="panel-body form-horizontal">
            <button class="btn btn-primary" type="submit" name="submit.Save" value="Save">@T("Save")</button>
            <button class="btn btn-danger" type="submit" name="submit.Delete" value="Delete" itemprop="RemoveUrl">@T("Delete")</button>
        </div>
    </div>
                    }
