@using Orchard.AuditTrail.Models
@{
    var record = (AuditTrailEventRecord)Model.Record;
}
<div class="audit-trail-record-details">
    <fieldset>
        <legend>@record.Event - <span>@record.Category</span></legend>
        <div>
            <span>@Display.DateTime(DateTimeUtc: record.CreatedUtc, CustomFormat: T("g"))</span>
            @if (!String.IsNullOrWhiteSpace(record.UserName)) {
                @T(" | ")<span>@record.UserName</span>
            }
        </div>
    </fieldset>
</div>