@using Orchard.ContentManagement
@{
    var eventData = (IDictionary<string, object>) Model.EventData;
    var contentItem = (ContentItem) Model.ContentItem;
    var contentItemId = contentItem.Id;
    var contentItemVersionNumber = contentItem.Version;
    var contentType = contentItem.ContentType;
    var title = Html.ItemDisplayText(contentItem);
    var isPublished = contentItem.VersionRecord.Published;
    var isLatest = contentItem.VersionRecord.Latest;
}
<section class="audittrail-content-eventsummary">
    @T("{0} - {1} (version {2})", contentType, title, contentItemVersionNumber)
    @if (isPublished) {
        @T(" - ")
        <a href="@Url.Action("Detail", "Content", new {area = "Orchard.AuditTrail", id = contentItemId, version = contentItemVersionNumber})">@T("View")</a>
    }
    else if (isLatest) {
        @T(" - ")
        <a href="@Url.Action("Edit", "Admin", new {area = "Contents", id = contentItemId})">@T("Edit")</a>
    }
</section>