@using Orchard.AuditTrail.Helpers
@using Orchard.ContentManagement
@{
    var eventData = (IDictionary<string, object>) Model.EventData;
    var contentItem = (ContentItem) Model.ContentItem;
    var contentItemId = contentItem.Id;
    var eventVersionNumber = eventData.Get<int>("VersionNumber");
    var eventIsPublished = eventData.Get<bool>("Published");
    var contentType = contentItem.ContentType;
    var title = Html.ItemDisplayText(contentItem);
    var isLatest = contentItem.VersionRecord.Number == eventVersionNumber;
}
<section class="audittrail-content-eventsummary">
    @T("{0} - {1} (version {2})", contentType, title, eventVersionNumber)
    @if (eventIsPublished) {
        @T(" - ")
        <a href="@Url.Action("Detail", "Content", new { area = "Orchard.AuditTrail", id = contentItemId, version = eventVersionNumber })">@T("View")</a>
    }
    else if (isLatest) {
        @T(" - ")
        <a href="@Url.Action("Edit", "Admin", new {area = "Contents", id = contentItemId})">@T("Edit")</a>
    }
</section>