@model dynamic
@using Orchard.Security;
@using Orchard.DisplayManagement.Descriptors;
@using Orchard.UI.Resources;
@using Orchard;
@using Orchard.ContentManagement;

@{
    Style.Include("site.css");
	Style.Include("ie.css").UseCondition("lte IE 8").SetAttribute("media", "screen, projection");
	Style.Include("ie6.css").UseCondition("lte IE 6").SetAttribute("media", "screen, projection");
    Script.Require("jQuery");
    Script.Require("ShapesBase");
    Script.Include("admin.js");
    // these are just hacked together to fire existing partials... can change
    Model.Header.Add(Display.Header());

    // experimentation
    var thisUser = Html.Resolve<IAuthenticationService>().GetAuthenticatedUser();
    Model.Header.Add(Display.User(CurrentUser: thisUser));
    Model.Footer.Add(Display.OrchardVersion());
}
<div id="header" role="banner">
    @Display(Model.Header)</div>
<div id="content">
    <div id="navshortcut">
        <a href="#Menu-admin">
            @T("Skip to navigation")</a></div>
    <div id="main" role="main">
        <div id="messages">
            @Display(Model.Messages)
        </div>
        @Display(Model.Content)</div>
    <div id="menu">
        @Display(Model.Navigation)</div>
</div>
<div id="footer" role="contentinfo">
    @Display(Model.Footer)
</div>