@{
    Style.Include("Lib.css", "Lib.min.css");
    Style.Include("TheAdmin.css");

    Script.Include("https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js").UseCondition("lt IE 9").AtHead();
    Script.Include("https://oss.maxcdn.com/respond/1.4.2/respond.min.js").UseCondition("lt IE 9").AtHead();
    Script.Require("jQuery");
    Script.Require("jQueryUI");
    Script.Require("Bootstrap");
    Script.Require("ShapesBase").AtFoot();
    Script.Include("TheAdmin.js");

    var overridePanel = Model.PanelOverride == true;
}
<div class="am-wrapper @*am-fixed-sidebar*@" data-default-remove-confirmation-prompt="@T("Are you sure you want to remove this element?")'">
    @Display(Model.TopMenu)
    @Display(Model.SideMenu)
    <div class="am-content">
        <div class="page-head">
            @if (Model.Title != null) {
                @Display.Title(Title: Model.Title)
            }

            @Display.Breadcrumb()
        </div>
        <div class="main-content">
            @if (Model.Messages != null) {
                <div id="messages">
                    @Display(Model.Messages)
                </div>
            }

            @if (Model.LocalNavigation != null) {
                <div id="local-navigation">
                    @Display(Model.LocalNavigation)
                </div>
            }
            <div class="row">
                <div class="col-md-12">
                    @if (overridePanel) {
                        @Display(Model.Content)
                    }
                    else {
                        <div class="panel panel-default">
                            @Display(Model.Content)
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    @Display.Sidebar()
</div>

@using (Script.Foot()) {
    <script type="text/javascript">
//<![CDATA[
    var confirmRemoveMessage = '@T("Are you sure you want to remove this element ?")';
//]]>
    </script>
}
