@{
    var title = (string)Convert.ToString(Layout.Title);
    Style.Include("Lib.css", "Lib.min.css");
    Style.Include("FontAwesome");
    Style.Include("TheAdmin.css");

    Script.Include("https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js").UseCondition("lt IE 9").AtHead();
    Script.Include("https://oss.maxcdn.com/respond/1.4.2/respond.min.js").UseCondition("lt IE 9").AtHead();
    Script.Require("jQuery");
    Script.Require("jQueryUI");
    Script.Require("Bootstrap");
    Script.Require("ShapesBase").AtFoot();
    Script.Include("TheAdmin.js");

    /* Some useful shortcuts or settings
    ***************************************************************/

    Func<dynamic, dynamic> Zone = x => Display(x); // Zone as an alias for Display to help make it obvious when we're displaying zones

    /* Inserting some ad hoc shapes
    ***************************************************************/

    Model.TopHeader.Add(Model.TopMenu);
    //Model.Breadcrumbs.Add(Display.Breadcrumb());
    Model.Footer.Add(Display.OrchardVersion());

    if (Model.Title != null) {
        Model.Header.Add(Display.Title(Title: Model.Title));
    }
}
<div id="layout-content" class="or-wrapper or-fixed-sidebar" data-default-remove-confirmation-prompt="@T("Are you sure you want to remove this element?")'">
    <nav class="navbar navbar-default navbar-fixed-top or-top-header">
        <div class="container-fluid">
            <div class="navbar-header">
                <div class="page-title"><span>@Html.Title(title)</span></div><a href="#" class="or-toggle-left-sidebar navbar-toggle collapsed"><span class="icon-bar"><span></span><span></span><span></span></span></a>
                @Display.Branding()
            </div>
            @*<a href="#" class="or-toggle-right-sidebar"><span class="icon s7-menu2"></span></a>*@
            <a href="#" data-toggle="collapse" data-target="#or-navbar-collapse" class="or-toggle-top-header-menu collapsed"><span class="icon s7-angle-down"></span></a>
            <div id="or-navbar-collapse" class="collapse navbar-collapse">
                @Display.User(CurrentUser: WorkContext.CurrentUser)
                @if (Model.TopHeader != null) {
                    @Display(Model.TopHeader)
                }
            </div>
        </div>
    </nav>
    <div class="or-left-sidebar">
        <div class="content">
            @if (Model.SideMenu != null) {
                @Display(Model.SideMenu)
            }
            <!--Sidebar bottom content-->
        </div>
    </div>
    <div class="or-content">
        <div class="page-head">
            @if (Model.Header != null) {
                @Display(Model.Header)
            }

            @if (Model.Breadcrumbs != null) {
                @Display(Model.Breadcrumbs)
            }
        </div>
        <div class="main-content">
            @if (Model.Aside != null) {

            }
            @if (Model.Messages != null) {
                <div id="messages">
                    @Display(Model.Messages)
                </div>
            }

            @if (Model.Filters != null) {
                @Display(Model.Filters)
            }

            @if (Model.LocalNavigation != null) {
                <div id="local-navigation">
                    @Display(Model.LocalNavigation)
                </div>
            }
            <div class="row">
                <div class="col-md-12">
                    @Display(Model.Content)
                </div>
            </div>
        </div>
    </div>
    @*Right sidebar for future use*@
    @*@Display.Sidebar()*@
</div>
@if (Model.Footer != null) {
    <div class="footer">
        @Zone(Model.Footer)
    </div>
}

@using (Script.Foot()) {
    <script type="text/javascript">
        //<![CDATA[
        var confirmRemoveMessage = '@T("Are you sure you want to remove this element ?")';
        //]]>
    </script>
}
