@using System.Web.Routing;
@using Orchard.Utility.Extensions;
@{
    Script.Require("jQuery");
    Script.Include("admin.js");
    IEnumerable<dynamic> firstLevelMenuItems = Model;

    foreach (var imageSet in Model.ImageSets) {
        RegisterImageSet(imageSet, Model.MenuName /* style */, 16 /* bounding box */);
    }

    Model.Attributes.Add("role", "navigation");
    var tag = Tag(Model, "ul");
}
﻿@tag.StartElement
    @foreach(var firstLevelMenuItem in Model) {
        IEnumerable<dynamic> secondLevelMenuItems = firstLevelMenuItem;

        string sectionHeaderText = firstLevelMenuItem.Text;
        var firstOfTheSecond = secondLevelMenuItems.FirstOrDefault();

        var imageClassName = "navicon-" + sectionHeaderText.TextHint.HtmlClassify();
        var imageId = HasText(firstLevelMenuItem.ImageId)
            ? "navicon-" + firstLevelMenuItem.ImageId
            : null;

        IHtmlString sectionHeaderMarkup;
        if (firstLevelMenuItem.RouteValues != null || HasText(firstLevelMenuItem.Url)) {
            sectionHeaderMarkup = HasText(imageId)
                ? Html.Link(sectionHeaderText, (string)firstLevelMenuItem.Href, new { @class = imageClassName, id = imageId })
                : Html.Link(sectionHeaderText, (string)firstLevelMenuItem.Href, new { @class = imageClassName });
        }
        else if (firstOfTheSecond != null && firstLevelMenuItem.LinkToFirstChild && (firstOfTheSecond.RouteValues != null || HasText(firstOfTheSecond.Url))) {
            sectionHeaderMarkup = HasText(imageId)
                ? Html.Link(sectionHeaderText, (string)firstOfTheSecond.Href, new { @class = imageClassName, id = imageId })
                : Html.Link(sectionHeaderText, (string)firstOfTheSecond.Href, new { @class = imageClassName });
        }
        else {
            sectionHeaderMarkup = HasText(imageId)
                ? new HtmlString(string.Format(@"<span class=""{1}"" id=""{2}"">{0}</span>", Html.Encode(sectionHeaderText), Html.Encode(imageClassName), Html.Encode(imageId)))
                : new HtmlString(string.Format(@"<span class=""{1}"">{0}</span>", Html.Encode(sectionHeaderText), Html.Encode(imageClassName)));
        }

        if (firstLevelMenuItem == firstLevelMenuItems.First()) {
            firstLevelMenuItem.Classes.Add("first");
        }
        if (firstLevelMenuItem == firstLevelMenuItems.Last()) {
            firstLevelMenuItem.Classes.Add("last");
        }
        if (firstLevelMenuItem.Selected) {
            firstLevelMenuItem.Classes.Add("selected");
        }

        firstLevelMenuItem.Classes.Add("section-" + sectionHeaderText.TextHint.HtmlClassify());
        var firstLevelTag = Tag(firstLevelMenuItem, "li");
        @firstLevelTag.StartElement
            <h3>@sectionHeaderMarkup</h3>
            if (secondLevelMenuItems.Where(menuItem => !menuItem.LocalNav).Count() > 1 || !firstLevelMenuItem.LinkToFirstChild) {
                <ul class="menuItems">
                @foreach (var secondLevelMenuItem in secondLevelMenuItems.Where(menuItem => !menuItem.LocalNav)) {
                    if (secondLevelMenuItem.Selected) {
                        secondLevelMenuItem.Classes.Add("selected"); 
                    }
                    var secondLevelTag = Tag(secondLevelMenuItem, "li");
                    @secondLevelTag.StartElement
                        <a href="@secondLevelMenuItem.Href">@secondLevelMenuItem.Text</a>
                    @secondLevelTag.EndElement
                }
                </ul>
            }
       @firstLevelTag.EndElement
    }
@tag.EndElement
@using(Script.Foot()) {
<script type="text/javascript">
//<![CDATA[
    (function ($) {
        $("@string.Format(".{0} h3", string.Join(".", Model.Classes))").expandoControl(function(controller) { return controller.next(); }, { key: "N42", path: "@Url.Content("~/")" });
    })(jQuery);
//]]>
</script>
}