@using System.Web.Routing;
@using Orchard.Utility.Extensions;
@{
    Script.Require("jQuery");
    Script.Include("admin.js");
    IEnumerable<dynamic> firstLevelMenuItems = Model;

    Model.Attributes.Add("role", "navigation");
    var tag = Tag(Model, "ul");
}
﻿@tag.StartElement
    @foreach(var firstLevelMenuItem in Model) {
        IEnumerable<dynamic> secondLevelMenuItems = firstLevelMenuItem;

        string sectionHeaderText = firstLevelMenuItem.Text;
        var firstOfTheSecond = secondLevelMenuItems.FirstOrDefault();
        var sectionHeaderMarkup = firstLevelMenuItem.RouteValues != null || HasText(firstLevelMenuItem.Url)
            ? Html.Link(sectionHeaderText, (string)firstLevelMenuItem.Href)
            : firstOfTheSecond != null && firstLevelMenuItem.LinkToFirstChild
                ? Html.Link(sectionHeaderText, (string)firstOfTheSecond.Href)
                : new HtmlString(string.Format("<span>{0}</span>", Html.Encode(sectionHeaderText)));

        if (firstLevelMenuItem == firstLevelMenuItems.First()) {
            firstLevelMenuItem.Classes.Add("first");
        }
        if (firstLevelMenuItem == firstLevelMenuItems.Last()) {
            firstLevelMenuItem.Classes.Add("last");
        }

        firstLevelMenuItem.Classes.Add("section-" + sectionHeaderText.HtmlClassify());
        var firstLevelTag = Tag(firstLevelMenuItem, "li");
        @firstLevelTag.StartElement
            <h3>@sectionHeaderMarkup</h3>
            if (secondLevelMenuItems.Where(menuItem => !menuItem.LocalNav).Count() > 1 || !firstLevelMenuItem.LinkToFirstChild) {
                <ul class="menuItems">
                @foreach (var secondLevelMenuItem in secondLevelMenuItems.Where(menuItem => !menuItem.LocalNav)) {
                    <li>
                        <a href="@secondLevelMenuItem.Href">@secondLevelMenuItem.Text</a>
                    </li>
                }
                </ul>
            }
       @firstLevelTag.EndElement
    }
@tag.EndElement
@using(Script.Foot()) {
<script type="text/javascript">
//<![CDATA[
    (function ($) {
        $("@string.Format(".{0} h3", string.Join(".", Model.Classes))").expandoControl(function(controller) { return controller.next(); }, { key: "N42", path: "@Url.Content("~/")" });
    })(jQuery);
//]]>
</script>
}