@using Orchard.Utility.Extensions
<nav>
    <ul class="sidebar-elements">
        <li>
            @Display.Branding()
        </li>
        @foreach (var firstLevelMenuItem in Model.Items) {
                IEnumerable<dynamic> secondLevelMenuItems = firstLevelMenuItem;

                string iconClass = string.Join(" ", firstLevelMenuItem.Classes);
                var itemClassName = HasText(iconClass)
                    ? "icon s7-" + iconClass.HtmlClassify()
                    : "icon s7-link";

                if (secondLevelMenuItems.Count() > 1) {
                    firstLevelMenuItem.Classes.Add("parent");
                }
                if (firstLevelMenuItem.Item.Selected) {
                    firstLevelMenuItem.Classes.Add("active");
                }

                var firstLevelTag = Tag(firstLevelMenuItem, "li");
                var firstLevelHref = firstLevelMenuItem.Href;

                string sectionHeaderText = firstLevelMenuItem.Text.Text;
            @firstLevelTag.StartElement


            if (secondLevelMenuItems.Any()) {
                firstLevelHref = secondLevelMenuItems.First().Href;
            }

            <a href="@(secondLevelMenuItems.Count() > 1 ? "javascript:" : firstLevelHref)">
                <i onclick="location.href = '@firstLevelHref';" class="@itemClassName"></i>
                <span>@sectionHeaderText</span>
            </a>

            if (secondLevelMenuItems.Count() > 1) {
                <ul class="sub-menu">
                    @foreach (var secondLevelMenuItem in firstLevelMenuItem.Items) {
                        if (secondLevelMenuItem.Item.Selected) {
                            secondLevelMenuItem.Classes.Add("active");
                        }
                        var secondLevelTag = Tag(secondLevelMenuItem, "li");
                        var secondLevelUrl = secondLevelMenuItem.Href;

                        @secondLevelTag.StartElement
                        <a href="@secondLevelUrl">@secondLevelMenuItem.Text.Text</a>
                                @secondLevelTag.EndElement

                    }
                </ul>
            }

            @firstLevelTag.EndElement
        }
        <li><a href="javascript:;" class="sidebar-minify-btn" data-click="sidebar-minify"><i class="fa fa-angle-double-left"></i></a></li>
    </ul>
</nav>