@using Orchard.Utility.Extensions;
@{
    IEnumerable<dynamic> firstLevelMenuItems = Layout.TopMenu;
}
<ul class="nav navbar-nav or-nav-right">
    @foreach (var firstLevelMenuItem in Model.Items) {

        IEnumerable<dynamic> secondLevelMenuItems = firstLevelMenuItem;
        string sectionHeaderText = firstLevelMenuItem.Text.Text;

        if (firstLevelMenuItem.Selected) {
            firstLevelMenuItem.Classes.Add("active");
        }
        if (firstLevelMenuItem.Items.Count > 0) {
            firstLevelMenuItem.Classes.Add("dropdown");
        }

        var firstLevelTag = Tag(firstLevelMenuItem, "li");
        @firstLevelTag.StartElement

        if (secondLevelMenuItems.Any()) {
            <a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="dropdown-toggle">@sectionHeaderText<span class="angle-down s7-angle-down"></span></a>
            <ul role="menu" class="dropdown-menu">
                @foreach (var secondLevelMenuItem in firstLevelMenuItem.Items) {
                    var secondLevelTag = Tag(secondLevelMenuItem, "li");
                    var secondLevelUrl = secondLevelMenuItem.Href;

                    @secondLevelTag.StartElement
                        <a href="@secondLevelUrl">@secondLevelMenuItem.Text</a>
                    @secondLevelTag.EndElement
                }
            </ul>
        }

        @firstLevelTag.EndElement
    }
</ul>