@model Orchard.Packaging.ViewModels.PackagingInstallViewModel
@using Orchard.Environment.Extensions.Models;
@using Orchard.Packaging.ViewModels;
@using System.Linq;

@{
    Style.Require("PackagingAdmin");

    Layout.Title = T("{0} - {1} Details", Model.ExtensionDescriptor.Name, Model.ExtensionDescriptor.Version).ToString();
}

@using (Html.BeginFormAntiForgeryPost(Url.Action("InstallModule", "Gallery", new { packageId = Request.QueryString["packageId"], version = Request.QueryString["version"], sourceId = Request.QueryString["sourceId"], redirectTo = Request.QueryString["redirectTo"] }))) {
    <h3>@T("Pick the features you want enabled during install").ToString()</h3>

    <fieldset>
        @{ var index = 0; }
        @foreach (PackagingInstallFeatureViewModel feature in Model.Features) {
            <div>
                @Html.HiddenFor(m => m.Features[index].FeatureDescriptor.Id)
                @Html.HiddenFor(m => m.Features[index].FeatureDescriptor.Name)

                @Html.EditorFor(m => m.Features[index].Enable)

                <label class="forcheckbox" for="@Html.FieldIdFor(m => m.Features[index].Enable)">@feature.FeatureDescriptor.Name</label>
                @{ index++; }
            </div>
        }
    </fieldset>

    <button class="primaryAction" type="submit">@T("Install")</button>
}