@model Orchard.Packaging.ViewModels.PackagingInstallViewModel
@using Orchard.Environment.Extensions.Models;
@using Orchard.Packaging.ViewModels;
@using System.Linq;

@{
    Style.Require("PackagingAdmin");
    Script.Require("PackagingModulesAdmin").AtFoot();

    Layout.Title = T("{0} - {1} Details", Model.ExtensionDescriptor.Name, Model.ExtensionDescriptor.Version).ToString();
}

@using (Html.BeginFormAntiForgeryPost(Url.Action("InstallModule", "Gallery", new { packageId = Request.QueryString["packageId"], version = Request.QueryString["version"], sourceId = Request.QueryString["sourceId"], redirectTo = Request.QueryString["redirectTo"] }))) {
    <h3>@T("Which type of installation do you want?").ToString()</h3>

    <fieldset>
        @Html.RadioButton("PackagingInstallMode", "All", (Model.PackagingInstallMode == PackagingInstallMode.All), new { id = "PackagingInstallMode_All", onClick = "checkAll();" })
        <label for="Features_All" class="forcheckbox">@T("Install and enable all features")</label>
    </fieldset>

    if (Model.Features.Count > 0) {
    <fieldset>
        @Html.RadioButton("PackagingInstallMode", "Custom", (Model.PackagingInstallMode == PackagingInstallMode.Custom), new { id = "PackagingInstallMode_Custom", onClick = "checkCustom();" })
        <label for="Features_Custom" class="forcheckbox">@T("Custom")</label>

        <div class="custom_details" id="custom_features">
            <legend>@T("Pick the features you want enabled during install").ToString()</legend>

            @{ var index = 0; }
            @foreach (PackagingInstallFeatureViewModel feature in Model.Features) {
                <div>
                    @Html.HiddenFor(m => m.Features[index].FeatureDescriptor.Id)
                    @Html.HiddenFor(m => m.Features[index].FeatureDescriptor.Name)

                    @Html.EditorFor(m => m.Features[index].Enable)

                    <label class="forcheckbox" for="@Html.FieldIdFor(m => m.Features[index].Enable)">@feature.FeatureDescriptor.Name</label>
                    @{ index++; }
                </div>
            }
        </div>
    </fieldset>
    }

    <button class="primaryAction" type="submit">@T("Install")</button>
}