@model Orchard.Packaging.ViewModels.PackagingSourcesViewModel

@{ Layout.Title = T("Settings").ToString(); }

<h2>@T("Gallery")</h2>
<div class="manage">
    @Html.ActionLink(T("Add Feed").Text, "AddSource", new { }, new { @class = "button primaryAction" })
</div>
@using (Html.BeginFormAntiForgeryPost()) {
<fieldset>
    <table class="items" summary="@T("This is a table of the gallery feeds in your application")">
        <colgroup>
            <col id="Col1" />
            <col id="Col2" />
            <col id="Col3" />
        </colgroup>
        <thead>
            <tr>
                <th scope="col">@T("Title")</th>
                <th scope="col">@T("Url")</th>
                <th scope="col"></th>
            </tr>
        </thead>
        @foreach (var item in Model.Sources) {
        <tr>
            <td>@item.FeedTitle</td>
            <td>@Html.Link(item.FeedUrl, item.FeedUrl)</td>
            <td>@Html.ActionLink(T("Delete").ToString(), "Remove", new { id = item.Id }, new { itemprop = "RemoveUrl UnsafeUrl" })</td>
        </tr>
        }
    </table>
</fieldset>
}