@model Orchard.Packaging.ViewModels.PackagingExtensionsViewModel
@using System.Linq;

@{ Style.Require("PackagingAdmin"); }

<h1>@Html.TitleForPage(T("Browse Gallery - Themes").Text)</h1>

@using ( Html.BeginFormAntiForgeryPost(Url.Action("Themes", "Gallery")) ) {
    <fieldset class="bulk-actions">
        <label for="filterResults" class="bulk-filter">@T("Feed:")</label>
        <select id="sourceId" name="sourceId">
            @Html.SelectOption("", Model.SelectedSource == null, T("Any (show all feeds)").ToString())
            @foreach (var source in Model.Sources) {
                @Html.SelectOption(source.Id, Model.SelectedSource != null && Model.SelectedSource.Id == source.Id, source.FeedTitle)
            }
        </select>
        <button type="submit">@T("Apply")</button>
    </fieldset>
}
    

@if (Model.Extensions.Count() > 0) {
    <ul class="contentItems">
    @foreach (var item in Model.Extensions) {
        <li> 
            <div class="moduleName">
                <h2>@item.Title<span> - @T("Version: {0}", item.Version)</span></h2>
            </div>

            <div class="related">
                @Html.ActionLink(T("Install").ToString(), "Install", new RouteValueDictionary {{"SyndicationId", item.PackageId},{"cameFrom", "Modules"}})@T(" | ")
                <a href="@item.PackageStreamUri">@T("Download")</a>
             </div>

             <div class="properties">
                <p>@(item.Description == null ? T("(No description").Text : item.Description)</p>
                <ul class="pageStatus">
                    <li>@T("Last Updated: {0}", DateTime.Now.ToLocalTime())</li>
                    <li>&nbsp;&#124;&nbsp;@T("Author: {0}", item.Authors)</li>
                </ul>
           </div>   
        </li>}
    </ul>
}