@using Orchard.ImageEditor.Models
@{
    ImageEditorPart imageEditorPart = Model.ContentPart;
}
    
<div id="crop-options" style="display: none">
    <fieldset>
        <div>
            <input id="crop-maintain" type="checkbox">
            <label for="crop-maintain" class="forcheckbox">@T("Maintain proportions")</label>
        </div>
        <div>
            <label for="crop-width">@T("Width")</label>
            <input id="crop-width" value="@imageEditorPart.ImagePart.Width" class="text small">
            <span class="hint">@T("The width of the selection in pixels.")</span>
        </div>
        <div>
            <label for="crop-height">@T("Height")</label>
            <input id="crop-height" value="@imageEditorPart.ImagePart.Height" class="text small">
            <span class="hint">@T("The height of the selection in pixels.")</span>
        </div>
    </fieldset>
    
    <button id="crop-apply">@T("Apply")</button>
    <button id="crop-cancel">@T("Cancel")</button>
</div>
