@using Orchard.ContentManagement;
@using Admin.Bootstrap.Models;

@{
    var settings = WorkContext.CurrentSite.As<AdminThemeSettingsPart>();

    string title = Convert.ToString(Model.Title);
    string siteName = Convert.ToString(WorkContext.CurrentSite.SiteName);

    Display.Resources();
}
<!DOCTYPE html> 
<html lang="@WorkContext.CurrentCulture" class="static @Html.ClassForPage() @(settings.UseFluidLayout ? "fluid-layout" : "boxed-layout") @(settings.UseFixedNav ? "fixed-nav" : "floating-nav") @(settings.UseStickyFooter ? "sticky-footer" : string.Empty)">

<head>
    <meta charset="utf-8" />
    <meta name="description" content="@title" />
    <title>@Html.Title(title, siteName)</title>
    @Display(Model.Head)
    <script>(function (d) { d.className = "dyn" + d.className.substring(6, d.className.length); })(document.documentElement);</script>
</head>

<body class="theme-@WorkContext.CurrentTheme.Id load">
    @* Layout (template) is in the Body zone @ the default position (nothing, zero, zilch) *@
    @Display(Model.Body)
    @Display(Model.Tail)
</body>
</html>