@model Orchard.Comments.Models.CommentsPart
@using Orchard.Comments.Models;
@using Orchard.Localization;

<fieldset>
    <legend>@T("Comments") 
    @if (Model.Comments.Count > 0) { 
        <span>&#150; @Display.CommentSummaryLinks(item: Model.ContentItem, count: Model.Comments.Count, pendingCount: Model.PendingComments.Count)</span> 
     }
     </legend>
    @Html.EditorFor(m => m.CommentsActive)
    <label class="forcheckbox" for="CommentsActive">
        @T("Allow new comments")</label> <span class="hint forcheckbox">
            @T("Enable to show the comment form. Disabling still allows the existing comments to be shown but does not allow the conversation to continue.")</span>
</fieldset>