@model TaxonomyAdminIndexViewModel
@using Orchard.Taxonomies.ViewModels;

@{
    Layout.Title = T("Manage Taxonomies").ToString();
    int taxonomyIndex = 0, ti;
}
<div class="panel panel-default">
    @if (Model.Taxonomies.Any()) {
        using (Html.BeginFormAntiForgeryPost()) {
            @Html.ValidationSummary()
            <div class="panel-heading no-border">
                <div class="panel-heading-primary-group">
                    <fieldset>
                        <input id="publishActions" name="@Html.NameOf(m => m.BulkAction)" type="hidden" value="@TaxonomiesAdminIndexBulkAction.None" />
                        <button name="submit.BulkEdit" type="submit" class="hidden" value="@T("Apply")">@T("Apply")</button>
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-bolt"></i> Bulk Actions <span class="caret"></span>
                            </button>&nbsp;
                            <ul class="dropdown-menu" role="menu">
                                <li><a id="btn-bulk-delete" href="#" data-confirm="@T("Are you sure you want to delete these items?")" data-action="@TaxonomiesAdminIndexBulkAction.Delete">@T("Delete").ToString()</a></li>
                            </ul>
                        </div>
                    </fieldset>
                </div>
                <div class="panel-heading-actions">
                    <a class="btn btn-primary" href="@Url.Action("Create", new { Area = "Contents", Id = "Taxonomy", ReturnUrl = Request.RawUrl })"><i class="fa fa-plus"></i> @T("Add a taxonomy").Text</a>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="table-responsive table-with-footer">
                        <table class="table table-fw-widget data-table table-striped dataTable no-footer" summary="@T("This is a table of the taxonomies in your application")">
                            <thead>
                                <tr>
                                    <th scope="col" class="text-nowrap">
                                        <div class="am-checkbox inline">
                                            <input id="checkAll" class="check-all" type="checkbox">
                                            <label class="check-all" title="@T("Select All")" for="checkAll"></label>
                                        </div>
                                    </th>
                                    <th scope="col" width="100%">@T("Name")</th>
                                    <th scope="col">&nbsp;</th>
                                </tr>
                            </thead>
                            @foreach (var taxonomyEntry in Model.Taxonomies) {
                                ti = taxonomyIndex;
                                <tr class="@(taxonomyEntry.IsInternal ? "internal" : null)">
                                    <td>
                                        <input type="hidden" value="@Model.Taxonomies[taxonomyIndex].Id" name="@Html.NameOf(m => m.Taxonomies[ti].Id)" />
                                        <input type="hidden" value="@Model.Taxonomies[taxonomyIndex].Name" name="@Html.NameOf(m => m.Taxonomies[taxonomyIndex].Name)" />
                                        @if (!taxonomyEntry.IsInternal || Authorizer.Authorize(Orchard.Security.StandardPermissions.SiteOwner)) {
                                            <div class="am-checkbox">
                                                <input type="checkbox" value="true" name="@Html.NameOf(m => m.Taxonomies[ti].IsChecked)" id="@Html.NameOf(m => m.Taxonomies[ti].IsChecked)" />
                                                <label for="@Html.NameOf(m => m.Taxonomies[ti].IsChecked)"></label>
                                            </div>
                                        }
                                    </td>
                                    <td>
                                        @if (!taxonomyEntry.IsInternal || Authorizer.Authorize(Orchard.Security.StandardPermissions.SiteOwner)) {
                                            @Html.ActionLink(taxonomyEntry.Name, "Index", "TermAdmin", new { taxonomyId = taxonomyEntry.Id }, new object { })
                                        } else {
                                            @Html.ItemDisplayText(taxonomyEntry.ContentItem)
                                        }
                                    </td>
                                    <td class="text-nowrap">
                                        @if (!taxonomyEntry.IsInternal || Authorizer.Authorize(Orchard.Security.StandardPermissions.SiteOwner)) {
                                            <a class="btn btn-default" href="@Url.Action("Index", "TermAdmin", new { taxonomyId = taxonomyEntry.Id })"><i class="fa fa-tags"></i> @T("Terms")</a>
                                            <a class="btn btn-default" href="@Url.Action("Import", new { id = taxonomyEntry.Id })"><i class="fa fa-cloud-download"></i> @T("Import")</a>
                                            <a class="btn btn-primary" href="@Url.ItemEditUrl(taxonomyEntry.ContentItem)"><i class="fa fa-pencil-square-o"></i> @T("Edit")</a>
                                            <a class="btn btn-danger" href="@Url.ItemRemoveUrl(taxonomyEntry.ContentItem, new { returnUrl = Request.RawUrl })" data-confirm="@T("Are you sure you want to delete this item?")"><i class="fa fa-trash"></i> @T("Delete")</a>
                                        }
                                    </td>
                                </tr>
                                taxonomyIndex++;
                            }
                        </table>
                    </div>
                </div>
            </div>
            <div class="row am-datatable-footer">
                <div class="col-sm-12">
                    @Display(Model.Pager)
                </div>
            </div>
        }
    } else {
        <div class="panel-body">
            <h3 class="no-content">
                @T("There are currently no taxonomies.")
                @Html.ActionLink(T("Add one now").Text, "Create", new { Area = "Contents", Id = "Taxonomy", ReturnUrl = Request.RawUrl }, new { @class = "" })
            </h3>
        </div>
    }
</div>
@Display.Modal()