@model AdminIndexViewModel
@using Orchard.Projections.Models;
@using Orchard.Projections.ViewModels;

@{
    Style.Include("admin-projections.css");

    var index = 0;

	var pageSizes = new List<int?>() { 10, 50, 100 };
	var defaultPageSize = WorkContext.CurrentSite.PageSize;
	if(!pageSizes.Contains(defaultPageSize)) { 
		pageSizes.Add(defaultPageSize);
	}

    Layout.Title = T("Manage Queries").ToString();
}

@using (Html.BeginFormAntiForgeryPost()) { 
    @Html.ValidationSummary()
    <div class="manage">@Html.ActionLink(T("Add a new Query").ToString(), "Create", new { Area = "Contents", id = "Query", returnurl = HttpContext.Current.Request.RawUrl }, new { @class = "btn btn-primary" })</div>

    <fieldset class="bulk-actions">
        <input id="publishActions" name="@Html.NameOf(m => m.Options.BulkAction)" type="hidden" value="@QueriesBulkAction.None" />
        <button name="submit.BulkEdit" type="submit" class="hidden" value="@T("Apply")">@T("Apply")</button>
        <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                Bulk Actions <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li><a href="javascript:submitForm($('form'), '@QueriesBulkAction.Delete');">@T("Delete").ToString()</a></li>
            </ul>
        </div>
    </fieldset>
    <fieldset class="bulk-actions">
		<label for="filterResults">@T("Sort by:")</label>
        <select id="filterResults" name="@Html.NameOf(m => m.Options.Order)">
            @Html.SelectOption(Model.Options.Order, QueriesOrder.Name, T("Name").ToString())
        </select>
		<input type="hidden" name="Page" value="1" />
		<label for="pageSize">@T("Show:")</label>
		<select id="pageSize" name="PageSize">
			@Html.SelectOption((int)Model.Pager.PageSize, 0, T("All").ToString())
			@foreach(int size in pageSizes.OrderBy(p => p)) {
				@Html.SelectOption((int)Model.Pager.PageSize, size, size.ToString())
			}
		</select>
        <button class="btn btn-default" type="submit" name="submit.Filter" value="@T("Filter")">@T("Filter")</button>
    </fieldset>
    <fieldset class="table-responsive">
        <table class="table table-hover table-bordered items">
            <thead>
                <tr>
                    <th scope="col" class="checkbox">&nbsp;&darr;</th>
                    <th scope="col">@T("Name")</th>
                    <th class="text-right" scope="col">@T("Actions")</th>
                </tr>
            </thead>
            @foreach (var entry in Model.Queries)
            {
                <tr>
                    <td>
                        <input type="hidden" value="@Model.Queries[index].QueryId" name="@Html.NameOf(m => m.Queries[index].QueryId)" />
                        <input type="checkbox" value="true" name="@Html.NameOf(m => m.Queries[index].IsChecked)" />
                    </td>
                    <td>
                        @Html.ActionLink(entry.Name, "Edit", new { id = entry.QueryId })
                    </td>
                    <td class="text-right">
                        @Html.ActionLink(T("Properties").ToString(), "Edit", new { Area = "Contents", id = entry.QueryId, returnurl = HttpContext.Current.Request.RawUrl }) |
                        @Html.ActionLink(T("Edit").ToString(), "Edit", new { id = entry.QueryId }) |
                        @Html.ActionLink(T("Delete").ToString(), "Delete", new { id = entry.QueryId }, new { itemprop = "RemoveUrl UnsafeUrl" })
                        @if (entry.Query.FilterGroups.SelectMany(x => x.Filters).Any())
                        {
                            <text>| </text> @Html.ActionLink(T("Preview").ToString(), "Preview", new { id = entry.QueryId })
                        }
                    </td>
                </tr>
                        index++;
            }
        </table>
        @Display(Model.Pager)
    </fieldset>
} 