@using Orchard.Search.ViewModels
@model SearchSettingsFieldsViewModel
@{
    Style.Include("orchard-search-admin.css");
}
<fieldset>
    <div class="form-group">
        @if (Model.Entries != null && Model.Entries.Any()) {
            <label>@T("Fields")</label>
            <ul class="search-indexes group list-unstyled">
                @{
                    var indexes = Model.Entries.Select(x => x.Index);
                    var entryIndex = 0;
                    foreach (var index in indexes) {
                        var fieldEntries = Model.Entries.Single(x => x.Index == index).Fields;
                        var entryIndexClosure = entryIndex;
                        @Html.HiddenFor(m => m.Entries[entryIndex].Index)
                        <li>
                            <h3>@index</h3>
                            <ul class="list-unstyled">
                                @{ var fieldIndex = 0; }
                                @foreach (var fieldEntry in fieldEntries) {
                                    var fieldIndexClosure = fieldIndex;
                                    <li>
                                        <div class="or-checkbox">
                                            @Html.EditorFor(m => m.Entries[entryIndex].Fields[fieldIndex].Selected)
                                            <label class="forcheckbox" for="@Html.FieldIdFor(m => m.Entries[entryIndexClosure].Fields[fieldIndexClosure].Selected)">@Model.Entries[entryIndex].Fields[fieldIndex].Field</label>
                                            @Html.HiddenFor(m => m.Entries[entryIndex].Fields[fieldIndex].Field)
                                        </div>
                                    </li>
                                    fieldIndex++;
                                }
                            </ul>
                        </li>
                                        entryIndex++;
                                    }
                }
            </ul>
            <span class="help-block">@T("Check any field for each index which should be used for search queries.")</span>

                                    }
    </div>
    <div>
        <label>@T("Localization")</label>
        <div class="or-checkbox">
            @Html.EditorFor(m => m.FilterCulture)
            <label class="forcheckbox" for="@Html.FieldIdFor(m => m.FilterCulture)">@T("Narrow search to current culture only")</label>
            <span class="help-block">@T("If checked, search results will only include content items localized in the current culture of the request.")</span>
        </div>
    </div>
    <div>
        <label for="@Html.FieldIdFor(m => m.DisplayType)">@T("Display Type")</label>
        @Html.TextBoxFor(m => m.DisplayType, new { @class = "text single-line" })
        <span class="help-block">@T("The display type to use for content items in the search results page.")</span>
    </div>
</fieldset>