<div>
  
a @Display.Title(text:"This is everything")
b @Display(Model)]

c [@Display(View.Page)]

d @Display.Message(Content:"Madness!!!")

e @Display.Explosion(Width:40)

f @Display.Message(Content: Display.Explosion(Height:10,Width:15))

g @Display.Rounded(Contents: Model)

</div>
