@using Orchard.UI.Resources;
@{
    Script.Require("ShapesBase");
    Style.Include("site.css");
    RegisterLink(new LinkEntry { Condition = "lte IE 6", Rel = "stylesheet", Type="text/css", Href = Href("../Styles/ie6.css")}.AddAttribute("media", "screen, projection"));

    if (!string.IsNullOrEmpty(WorkContext.CurrentSite.SuperUser)) {
        WorkContext.Layout.Footer.Add(New.User(), "10"); // Login and dashboard links
    }
}
<div id="header">
    <div id="branding">
        <h1>@T("Welcome to Orchard")</h1>
    </div>
</div>

@if (Model.Navigation != null) {
<div id="layout-navigation" class="group">
    @Display(Model.Navigation)
</div>
}

@if (Model.Messages != null) {
<div id="messages">
    @Display(Model.Messages)
</div>
}

<div id="main">
@if (Model.Content != null) {
    @Display(Model.Content)
}
</div>

@if (Model.Footer != null) {
<div id="footer" role="contentinfo">
    @Display(Model.Footer)
</div>
}