@model DisplayReportViewModel
@using Orchard.Core.Reports.ViewModels;

@{ Layout.Title = T("Display Report").ToString(); }

@using(Html.BeginFormAntiForgeryPost()) {
    @Html.ValidationSummary()
    <fieldset>
        <table class="items" summary="@T("This is a table of the reports in your application")">
            <colgroup>
                <col id="Col1" />
                <col id="Col2" />
                <col id="Col3" />
                <col id="Col4" />
            </colgroup>
            <thead>
                <tr>
                    <th scope="col">@T("Type")</th>
                    <th scope="col">@T("Message")</th>
                    <th scope="col">@T("Date")</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            @foreach (var reportEntry in Model.Report.Entries) {
            <tr>
                <td>
                    @reportEntry.Type
                </td>
                <td>
                    @reportEntry.Message
                </td>
                <td>
                    @reportEntry.Utc.ToLocalTime().ToShortDateString() @reportEntry.Utc.ToLocalTime().ToShortTimeString()
                </td>
            </tr>
            }
        </table>
    </fieldset>
}