@{
    Script.Require("jQuery");
    Script.Require("Toastr");
    Style.Require("Toastr");
    Layout.Title = T("Migrate Infosets").ToString();
}
<div class="panel panel-default">
    <div class="panel-body">
        <fieldset>
            @using (Html.BeginFormAntiForgeryPost(Url.Action("Index", "Infoset"))) {
                <legend>@T("Migrating Site Settings:")</legend>
                <span class="help-block">@T("This migration step will migrate your Site Settings to Infosets and delete the deprecated records.")</span>
                <button class="btn btn-primary" type="submit">@T("Migrate")</button>
            }
        </fieldset>
        <fieldset>
            <legend>@T("Migrating Body Parts:")</legend>
            <span class="help-block">@T("This migration step will copy all Body Parts to Infosets.")</span>
            <button type="button" class="btn btn-primary" data-url="@Url.Action("MigrateBody", "Infoset")">@T("Migrate")</button>
        </fieldset>

        <fieldset>
            <legend>@T("Migrating Media Parts:")</legend>
            <span class="help-block">@T("This migration step will copy all Media Parts to Infosets.")</span>
            <button type="button" class="btn btn-primary" data-url="@Url.Action("MigrateMedia", "Infoset")">@T("Migrate")</button>
        </fieldset>

        <fieldset>
            <legend>@T("Migrating Content Item Permissions Parts:")</legend>
            <span class="help-block">@T("This migration step will copy all Content Item Permissions parts to Infosets.")</span>
            <button type="button" class="btn btn-primary" data-url="@Url.Action("MigrateContentPermissionsPart", "Infoset")">@T("Migrate")</button>
        </fieldset>

        <fieldset>
            <legend>@T("Migrating Content Item Menu Parts:")</legend>
            <span class="help-block">@T("This migration step will copy all Content Item Menu parts to Infosets.")</span>
            <button type="button" class="btn btn-primary" data-url="@Url.Action("MigrateContentMenuItemPart", "Infoset")">@T("Migrate")</button>
        </fieldset>

        <fieldset>
            <legend>@T("Migrating Tags Parts:")</legend>
            <span class="help-block">@T("This migration step will copy all Tags parts to Infosets.")</span>
            <button type="button" class="btn btn-primary" data-url="@Url.Action("MigrateTagsPart", "Infoset")">@T("Migrate")</button>
        </fieldset>

        <fieldset>
            <legend>@T("Migrating Widget Parts:")</legend>
            <span class="help-block">@T("This migration step will copy all Widget parts to Infosets.")</span>
            <button type="button" class="btn btn-primary" data-url="@Url.Action("MigrateWidgetPart", "Infoset")">@T("Migrate")</button>
        </fieldset>

        <fieldset>
            <legend>@T("Migrating Layer Parts:")</legend>
            <span class="help-block">@T("This migration step will copy all Layer parts to Infosets.")</span>
            <button type="button" class="btn btn-primary" data-url="@Url.Action("MigrateLayerPart", "Infoset")">@T("Migrate")</button>
        </fieldset>

        <fieldset>
            <legend>@T("Migrating Menu Widget Parts:")</legend>
            <span class="help-block">@T("This migration step will copy all Menu Widget parts to Infosets.")</span>
            <button type="button" class="btn btn-primary" data-url="@Url.Action("MigrateMenuWidgetPart", "Infoset")">@T("Migrate")</button>
        </fieldset>

        <fieldset>
            <legend>@T("Migrating Shape Menu Item Parts:")</legend>
            <span class="help-block">@T("This migration step will copy all Shape Menu Item parts to Infosets.")</span>
            <button type="button" class="btn btn-primary" data-url="@Url.Action("MigrateShapeMenuItemPart", "Infoset")">@T("Migrate")</button>
        </fieldset>

        <fieldset>
            <legend>@T("Migrating Menu Item Parts:")</legend>
            <span class="help-block">@T("This migration step will copy all Menu Item parts to Infosets.")</span>
            <button type="button" class="btn btn-primary" data-url="@Url.Action("MigrateMenuItemPart", "Infoset")">@T("Migrate")</button>
        </fieldset>

        @if (Request.RawUrl.EndsWith("1.x")) {
            <fieldset>
                <legend>@T("FIXING 1.x VERSIONS:")</legend>
                <span class="help-block">@T("This migration step will merge version infosets.")</span>
                <button class="btn btn-primary" type="button" data-url="@Url.Action("FixContentItemVersionPart", "Infoset")">@T("Migrate")</button>
            </fieldset>
        }

        @using (Script.Foot()) {
            <script type="text/javascript">
                $(function () {
                    var antiForgeryToken = '@HttpUtility.JavaScriptStringEncode(Html.AntiForgeryTokenValueOrchard().ToString())';
                    var endMessage = '@HttpUtility.JavaScriptStringEncode(T("All items have been processed").Text)';
                    var shortCutFunction = "info";
                    var title = "";

                    toastr.options = {
                        closeButton: true,
                        debug: false,
                        newestOnTop: true,
                        progressBar: true,
                        positionClass: 'toast-bottom-right',
                        preventDuplicates: false,
                        onclick: null
                    };

                    $('[data-url]:not([data-url=""])').click(function () {
                        var importUrl = $(this).data('url');

                        var startId = 0;

                        var iId = setInterval(function () {

                            $.ajax({
                                type: 'POST',
                                url: importUrl,
                                async: false,
                                data: {
                                    __RequestVerificationToken: antiForgeryToken,
                                    id: startId // start at index 0
                                },
                                success: function (data) {
                                    if (Number(data) == startId) {
                                        clearInterval(iId);

                                        shortCutFunction = "success";
                                        var $toast = toastr[shortCutFunction](endMessage, title);
                                    }
                                    else {
                                        startId = Number(data);

                                        shortCutFunction = "info";
                                        var $toast = toastr[shortCutFunction]('Processing content item ' + startId, title);
                                    }
                                },
                                fail: function (result) {
                                    console.log("An error occured: " + result);

                                    shortCutFunction = "error";
                                    var $toast = toastr[shortCutFunction]("An error occured: " + result, title);
                                }
                            });

                        }, 100);

                    });
                });
            </script>
        }
    </div>
    <div class="panel-footer">&nbsp;</div>
</div>