@model SortCriterionAddViewModel
@using Orchard.Projections.Models;
@using Orchard.Projections.ViewModels;

@{
    Layout.Title = T("Add a Sort Criterion");
}
<div class="panel panel-default">
    <div class="panel-body">
        @if (!Model.SortCriteria.Any()) {
            <h3 class="no-content">@T("There are currently no available sort criterias")</h3>
        }

        @foreach (var sortCriterion in Model.SortCriteria.OrderBy(x => x.Name.Text)) {

            <h4>@sortCriterion.Name</h4>

                <table class="table table-condensed table-hover table-bordered table-striped">
                    <thead>
                        <tr>
                            <th scope="col" style="width:300px">@T("Name")</th>
                            <th scope="col">@T("Description")</th>
                        </tr>
                    </thead>
                    @foreach (var descriptor in sortCriterion.Descriptors) {
                        <tr>
                            <td>@Html.ActionLink(descriptor.Name.Text, "Edit", new { id = Model.Id, category = descriptor.Category, type = descriptor.Type })</td>
                            <td class="left-align">@descriptor.Description</td>
                        </tr>
                    }
                </table>
        }
    </div>
</div>
