@using Orchard.Localization
@using Orchard.Messaging.Models
@using Orchard.Messaging.ViewModels
@using Orchard.Utility.Extensions
@{
    IEnumerable<QueuedMessageRecord> messages = Model.Messages;
    MessagesFilter filter = Model.Filter;
    MessageQueueStatus status = Model.MessageQueueStatus;

    Layout.Title = T("Message Queue");
    Style.Include("admin-messaging.css", "admin-messaging.min.css");
}
@using (Html.BeginFormAntiForgeryPost()) {
<div class="manage">
    <span class="queue-status @String.Format("{0}", status.ToString().HtmlClassify())">@T("Status: {0}", status)</span>
    @if (status == MessageQueueStatus.Paused) {
        <button type="submit" name="submit.Resume" value="resume" class="button">@T("Resume")</button>
    }
    else {
        <button type="submit" name="submit.Pause" value="pause" class="button grey">@T("Pause")</button>
        <button type="submit" name="submit.Process" value="process">@T("Process Now")</button>
    }
</div>
<fieldset class="bulk-actions">
    <label for="filterResults" class="bulk-filter">@T("Filter")</label>
    <select id="filterResults" name="status">
        @Html.SelectOption(filter.Status, default(QueuedMessageStatus?), T("All").ToString())
        @Html.SelectOption(filter.Status, QueuedMessageStatus.Pending, T("Pending").ToString())
        @Html.SelectOption(filter.Status, QueuedMessageStatus.Sending, T("Sending").ToString())
        @Html.SelectOption(filter.Status, QueuedMessageStatus.Sent, T("Sent").ToString())
        @Html.SelectOption(filter.Status, QueuedMessageStatus.Faulted, T("Faulted").ToString())
    </select>
    <button type="submit" name="submit.Filter" value="yes please">@T("Apply")</button>
</fieldset>
if (!messages.Any()) {
    if (filter.Status == null) {
        <div class="message info">@T("There no messages in this queue yet.")</div>
    }
    else {
        <div class="message info">@T("There no messages in the '{0}' status.", filter.Status)</div>
    }
}
else {
    <table class="items">
        <thead>
            <tr>
                <th>@T("Status")</th>
                <th>@T("Priority")</th>
                <th>@T("Type")</th>
                <th>@T("Created")</th>
                <th>@T("Completed")</th>
                <th>@T("Actions")</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var message in messages) {
                LocalizedString priorityName;
                switch (message.Priority) {
                    case -50:
                        priorityName = T("Low");
                        break;
                    case 0:
                        priorityName = T("Normal");
                        break;
                    case 50:
                        priorityName = T("High");
                        break;
                    default:
                        priorityName = T("None");
                        break;
                }
                <tr>
                    <td><span class="message-status @message.Status.ToString().HtmlClassify()">@message.Status</span></td>
                    <td>@priorityName</td>
                    <td>@message.Type</td>
                    <td>@Display.DateTimeRelative(dateTimeUtc: message.CreatedUtc)</td>
                    <td>@Display.DateTimeRelative(dateTimeUtc: message.CompletedUtc)</td>
                    <td>
                        <a href="@Url.Action("Details", "Admin", new { message.Id, returnUrl = Request.Url.PathAndQuery })">@T("Details")</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    }
    @Display(Model.Pager)
}