@model Orchard.Users.Models.SecuritySettingsPart

<fieldset>
    <legend>@T("Security settings")</legend>
    <div>
        <label>@T("Life span of authentication cookies")</label>
        @Html.TextBoxFor(m => m.AuthCookieLifeSpan, new { @class = "text medium" })
        @Html.ValidationMessageFor(m => m.AuthCookieLifeSpan)
        <p class="hint">@T("The time after signing in after which authentication cookies will be invalidated, in standard TimeSpan format (dd.hh:mm:ss).")</p>
    </div>
</fieldset>