@model Orchard.Users.ViewModels.UserEditViewModel
<div class="form-group">
    @Html.LabelFor(m => m.UserName, T("User Name"))
    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.UserName, "*")
</div>
<div class="form-group">
    @Html.LabelFor(m => m.Email, T("Email"))
    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.Email, "*")
</div>