@model Orchard.Layouts.Settings.LayoutTypePartSettings
<fieldset>
    <div>
        @Html.CheckBoxFor(m => m.IsTemplate)
        @Html.LabelFor(m => m.IsTemplate, T("Use as Template").Text, new { @class = "forcheckbox" })
        @Html.Hint(T("Content items of this type will be usable as templates for other layouts."))
    </div>
    <div>
        @Html.LabelFor(m => m.DefaultLayoutData, T("Default Layout Data"))
        @Html.TextAreaFor(m => m.DefaultLayoutData, 25, 100, new { @class = "text large" })
        @Html.ValidationMessageFor(m => m.DefaultLayoutData)
        @Html.Hint(T("The default layout Data is used when a new content item is created."))
    </div>
</fieldset>