@model Orchard.MediaProcessing.Models.MediaHtmlFilterSettingsPart

<fieldset>
    <legend>@T("Media Processing Filter")</legend>
    <div>
        @Html.LabelFor(m => m.DensityThreshold, T("Density Threshold"))
        @Html.DropDownListFor(m => m.DensityThreshold, new List<SelectListItem>(new [] {
                    new SelectListItem { Value = "1", Text = "@1x" },
                    new SelectListItem { Value = "2", Text = "@2x" },
                    new SelectListItem { Value = "3", Text = "@3x" },
                    new SelectListItem { Value = "4", Text = "@4x" }}
                ))
        <span class="hint">@T("The image will only be reduced if at least this pixel density is maintained.")</span>
    </div>
    <div>
        @Html.LabelFor(m => m.Quality, T("JPEG Quality"))
        @Html.TextBoxFor(i => i.Quality, new { @type = "number", @min = "0", @max = "100" }) %
        <span class="hint">@T("The quality level to apply on JPEG's, where 100 is full-quality (no compression).")</span>
    </div>
    <div>
        @Html.CheckBoxFor(i => i.PopulateAlt)
        @Html.LabelFor(m => m.PopulateAlt, T("Populate Empty Alt Tags").Text, new { @class = "forcheckbox" })
        <span class="hint">@T("Populate an Alt tag based on the file name if the Alt tag is empty")</span>
    </div>

</fieldset>