@{
    Style.Require("Canopy_Bootstrap");
    Script.Require("Canopy_Bootstrap");
}

@using (Script.Head()) {
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,400italic|Lato:400,400italic,700,700italic" rel="stylesheet" type="text/css" />
}

<header>
    @Display(Model.Header)
</header>

<nav>
    @Display(Model.Navigation)
</nav>

@Display(Model.Messages)

<main>
    @Display(Model.BeforeContent)
    @Display(Model.Content)
    @Display(Model.AfterContent)
</main>

<footer>
    @Display(Model.Footer)
</footer>

@Display(Model.OuterLeft)
@Display(Model.OuterRight)