@{
    Style.Require("Canopy_Bootstrap");
    Script.Require("Canopy_Bootstrap");
}

@using (Script.Head()) {
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,400italic|Lato:400,400italic,700,700italic" rel="stylesheet" type="text/css" />
}

<header class="container">
    @Display(Model.Header)
</header>

<nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
    <div class="container">
        @Display(Model.Navigation)
    </div>
</nav>

@Display(Model.Messages)

<main class="container">
    @Display(Model.BeforeContent)
    @Display(Model.Content)
    @Display(Model.AfterContent)
</main>

<footer class="container">
    @Display(Model.Footer)
</footer>

@Display(Model.OuterLeft)
@Display(Model.OuterRight)