@model Orchard.Fields.Settings.EnumerationFieldSettings
@using Orchard.Fields.Settings;
<fieldset>
    <div>
        @Html.CheckBoxFor(m => m.Required) <label for="@Html.FieldIdFor(m => m.Required)" class="forcheckbox">@T("An option is required")</label>
        <span class="hint">@T("Check to ensure the user is providing an option for this field.")</span>
    </div>
</fieldset>
<fieldset>
    <label for="@Html.FieldIdFor(m => m.Options)">@T("Options")</label>
	<div class="editor-field">
    @Html.TextAreaFor(m => m.Options, new { @class = "text medium", rows = "5" })
    @Html.ValidationMessageFor(m => m.Options)
    <span class="hint">@T("Enter an option per line.")</span>
	</div>
    
	<label for="@Html.FieldIdFor(m => m.ListMode)">@T("List mode")</label>    
    <select id="@Html.FieldIdFor(m => m.ListMode)" name="@Html.FieldNameFor(m => m.ListMode)">
        @Html.SelectOption(ListMode.Dropdown, Model.ListMode == ListMode.Dropdown, T("Dropdown list").ToString())
        @Html.SelectOption(ListMode.Radiobutton, Model.ListMode == ListMode.Radiobutton, T("Radio button list").ToString())
        @Html.SelectOption(ListMode.Listbox, Model.ListMode == ListMode.Listbox, T("Listbox").ToString())
        @Html.SelectOption(ListMode.Checkbox, Model.ListMode == ListMode.Checkbox, T("Checkbox").ToString())
    </select> 
</fieldset>
<fieldset>
    <label for="@Html.FieldIdFor(m => m.Hint)">@T("Help text")</label>
    @Html.TextAreaFor(m => m.Hint, new { @class = "text medium", rows = "5" } )
    <span class="hint">@T("The help text is written under the field when users are selecting an option.")</span>
    @Html.ValidationMessageFor(m => m.Hint)
</fieldset>
<fieldset>
    <div>
        <label for="@Html.FieldIdFor(m => m.DefaultValue)">@T("Default value")</label>
        @Html.TextBoxFor(m => m.DefaultValue, new { @class = "text large" })
        <span class="hint">@T("The default option proposed when creating a content item. If there is no equivalent choice among Options, it will not be used. (optional)")</span>
        <span class="hint">@T("When using the Listbox or Checkbox List mode, you can define multiple options separated by a semicolon.")</span>
        @Html.ValidationMessageFor(m => m.DefaultValue)
    </div>
</fieldset>
