@model Orchard.Fields.Settings.NumericFieldSettings
@using Orchard.Fields.Settings;

<fieldset>
    <div>
        @Html.CheckBoxFor(m => m.Required) <label for="@Html.FieldIdFor(m => m.Required)" class="forcheckbox">@T("Required")</label>
        <span class="hint">@T("Check if the field is required.")</span>
    </div>
</fieldset>
<fieldset>
	<div class="editor-field">
        <label class="forpicker" for="@Html.FieldIdFor(m => m.Scale)">@T("Scale")</label>
        @Html.TextBoxFor(m => m.Scale, new { @class = "text small" })
        @Html.ValidationMessageFor(m => m.Scale)
        <span class="hint">@T("The number of digits to the right of the decimal. Put 0 for integers.")</span>
	</div>
</fieldset>
<fieldset>
	<div class="editor-field">
        <label class="forpicker" for="@Html.FieldIdFor(m => m.Minimum)">@T("Minimum")</label>
        @Html.TextBoxFor(m => m.Minimum, new { @class = "text small" })
        @Html.ValidationMessageFor(m => m.Minimum)
        <span class="hint">@T("The minimum value allowed. (optional)")</span>
	</div>
</fieldset>
<fieldset>
	<div class="editor-field">
        <label class="forpicker" for="@Html.FieldIdFor(m => m.Maximum)">@T("Maximum")</label>
        @Html.TextBoxFor(m => m.Maximum, new { @class = "text small" })
        @Html.ValidationMessageFor(m => m.Maximum)
        <span class="hint">@T("The maximum value allowed. (optional)")</span>
	</div>
</fieldset>
<fieldset>
    <div>
        <label for="@Html.FieldIdFor(m => m.Hint)">@T("Help text")</label>
        @Html.TextAreaFor(m => m.Hint, new { @class = "text medium", rows = "5" } )
        <span class="hint">@T("The help text is written under the field when the user is entering a value.")</span>
        @Html.ValidationMessageFor(m => m.Hint)
    </div>
</fieldset>
