@using Orchard.Core.Contents;
@using Orchard.Localization.Models;
@if (AuthorizedFor(Permissions.PublishContent)) {
    Style.Require("LocalizationAdmin");
    IEnumerable<LocalizationPart> localizations = Model.Localizations;
    var localizationLinks = Html.UnorderedList(localizations, (c, i) => Html.ItemEditLink(c.Culture.Culture, c), "localizations list-inline");

    <ul class="pageStatus">
        @if (Model.Culture != null) {
            <li><div class="content-culture">@T("Culture: {0}", Model.Culture)</div></li>
        }
        else {
            <li><div class="content-culture">@T("Culture: {0}", T("Undefined"))</div></li>
        }
        @if (localizations.Count() > 0) {
            <li>@T("Translations:") @localizationLinks</li>
        }
        @if (Model.Culture != null && !((IEnumerable<string>)Model.SiteCultures).All(c => c == Model.Culture || localizations.Any(l => c == l.Culture.Culture))) {
            <li><div class="add-localization">@Html.ActionLink(T("+ New translation").Text, "Translate", "Admin", new { area = "Orchard.Localization", id = Model.MasterId }, new { itemprop = "UnsafeUrl" })</div></li>
        }
    </ul>
}