@using Orchard.ContentManagement;
@using Orchard.Core.Contents
@using Orchard.Utility.Extensions;
@{
    ContentItem contentItem = Model.ContentItem;
    var returnUrl = ViewContext.RequestContext.HttpContext.Request.ToUrlString();
}
<div class="summary-condensed" itemscope="itemscope" itemid="@contentItem.Id" itemtype="http://orchardproject.net/data/ContentItem">
    <div class="properties">
        <div class="head">
            <div class="or-checkbox inline">
                <input type="checkbox" value="@contentItem.Id" name="itemIds" id="content-summary-@contentItem.Id">
                <label for="content-summary-@contentItem.Id"></label>
            </div>&nbsp;
            <h3>@Html.ItemAdminLink(contentItem)<span class="content-type"> - @contentItem.TypeDefinition.DisplayName</span></h3>
            @if (Model.Header != null) {
                <div class="header">@Display(Model.Header)</div>
            }
        </div>
        <div class="related">
            @Display(Model.Actions)
            @if (Authorizer.Authorize(Permissions.EditContent, contentItem)) {
                @Html.ItemEditLink(T("Edit").Text, contentItem)
            }
            @if (Authorizer.Authorize(Permissions.DeleteContent, contentItem)) {
                @Html.Link(T("Delete").Text, Url.ItemRemoveUrl(contentItem, new { returnUrl }), new { itemprop = "RemoveUrl UnsafeUrl" })
            }
        </div>
    </div>
    @if (Model.Content != null) {
    <div class="primary">@Display(Model.Content)</div>
    }
</div>