@using Orchard.Core.Containers.Models
@{
    var container = (ContainerPart)Model.Container;
    var contentItems = (IList<dynamic>)Model.ContentItems;
}
@if (!contentItems.Any()) {
    <div class="message info">@T("'{0}' has no content items.", Model.ContainerDisplayName)</div>
} else {
    <div id="ajaxError" class="message error">@T("There was an error updating the positions. Please try again.")</div>
    <fieldset class="contentItems content-items bulk-items content-items-with-actions">

            <div class="col-sm-12">
                <div class="table-responsive table-with-footer">
                    <table class="items content-list" summary="List Content Items">
                        <colgroup>
                            @if (container.EnablePositioning) {
                                <col id="Col1" />
                            }
                            <col id="Col2" />
                        </colgroup>
                        <thead>
                            <tr>
                                @if (container.EnablePositioning) {
                                    <th scope="col">
                                    </th>
                                }
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var contentItem in contentItems) {
                                <tr class="published" data-content-id="@contentItem.ContentItem.Id">
                                    @if (container.EnablePositioning) {
                                        <td width="30" class="text-center"><i class="fa fa-arrows" aria-hidden="true"></i></td>
                                    }
                                    <td>
                                        @Display(contentItem)
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

    </fieldset>
}
<div class="row am-datatable-footer">
    <div class="col-sm-12">
        @Display(Model.Pager)
        @Display.Dialog_CloseButton()
    </div>
</div>
