@using Orchard.Core.Containers.Models
@{
    var container = (ContainerPart)Model.Container;
    var contentItems = (IList<dynamic>)Model.ContentItems;
}
<div class="panel-body">
    @if (!contentItems.Any()) {
        <div class="message info">@T("'{0}' has no content items.", Model.ContainerDisplayName)</div>
    } else {
        <div id="ajaxError" class="message error">@T("There was an error updating the positions. Please try again.")</div>
        <fieldset class="contentItems content-items bulk-items content-items-with-actions">
            <ul class="items content-list dd-list">
                @foreach (var contentItem in contentItems) {
                    <li class="published dd-item dd3-item" data-content-id="@contentItem.ContentItem.Id">

                            @if (container.EnablePositioning) {
                                <div class="dd-handle dd3-handle"><i class="fa fa-arrows" aria-hidden="true"></i></div>
                            }
                            <div class="dd3-content">
                                @Display(contentItem)
                            </div>

                    </li>
                }
            </ul>
        </fieldset>
    }
</div>
<div class="row or-datatable-footer">
    <div class="col-sm-12">
        @Display(Model.Pager)
        @Display.Dialog_CloseButton()
    </div>
</div>
