@using Orchard.ContentManagement.MetaData.Models
@{
    var containerId = (int)Model.ContainerId;
    var itemContentTypes = (IList<ContentTypeDefinition>)Model.ItemContentTypes;
}
<div class="col-xs-12 col-md-7 text-right text-nowrap">
    <a class="btn btn-default" href="@Url.Action("Edit", new { Area = "Contents", Id = (int)Model.ContainerId, ReturnUrl = Html.ViewContext.HttpContext.Request.RawUrl })"><i class="fa fa-cog"></i> @T("{0} Properties", (string)Model.ContainerDisplayName)</a>
    @if (itemContentTypes.Any()) {
        foreach (var contentType in itemContentTypes) {
            @Html.ActionLink(T("New {0}", contentType.DisplayName), "Create", "Admin", new { area = "Contents", id = contentType.Name, containerId }, new { @class = "btn btn-primary create-content" })
        }
    } else {
        @Html.ActionLink(T("New Content"), "Create", "Admin", new { area = "Contents", containerId }, new { @class = "btn btn-primary create-content" })
    }
    <a id="chooseItems" href="#" class="btn btn-primary">@T("Choose Items")</a>
</div>