@model Orchard.OpenId.Models.ActiveDirectoryFederationServicesSettingsPart
@using Orchard.OpenId.Constants

<h2>Active Directory Federation Services Settings</h2>
<fieldset>
    @Html.LabelFor(m => m.ClientId, T("Client Id"))
    @Html.TextBoxFor(m => m.ClientId, new { @class = "text large" })
    <span class="hint">@T("ADFS's Client Id obtained from your ADFS configuration (e.g. {0})", ActiveDirectoryFederationServices.DefaultClientId)</span>
</fieldset>
<fieldset>
    @Html.LabelFor(m => m.MetadataAddress, T("Metadata Address"))
    @Html.TextBoxFor(m => m.MetadataAddress, new { @class = "text large" })
    <span class="hint">@T("ADFS's Metadata Address url obtained from your ADFS configuration (e.g. {0})", ActiveDirectoryFederationServices.DefaultMetadataAddress)</span>
</fieldset>
<fieldset>
    @Html.LabelFor(m => m.PostLogoutRedirectUri, T("Post Logout Redirect Uri"))
    @Html.TextBoxFor(m => m.PostLogoutRedirectUri, new { @class = "text large" })
    <span class="hint">@T("ADFS's Post Logout Redirect url obtained from your ADFS configuration (e.g. {0})", ActiveDirectoryFederationServices.DefaultPostLogoutRedirectUri)</span>
</fieldset>
<hr />