@model Orchard.OpenId.Models.AzureActiveDirectorySettingsPart

<h2>Azure Active Directory Settings</h2>
<fieldset>
    @Html.LabelFor(m => m.Tenant, T("Tenant"))
    @Html.TextBoxFor(m => m.Tenant, new { @class = "text large" })
    <span class="hint">@T("Azure Active Directory tenant (e.g. yoursite.onmicrosoft.com).")</span>
</fieldset>
<fieldset>
    @Html.LabelFor(m => m.ADInstance, T("Active Directory Instance"))
    @Html.TextBoxFor(m => m.ADInstance, new { @class = "text large" })
    <span class="hint">@T("Default instance is https://login.microsoftonline.com/{your-tenant-name}")</span>
</fieldset>
<fieldset>
    @Html.LabelFor(m => m.ClientId, T("App ID"))
    @Html.TextBoxFor(m => m.ClientId, new { @class = "text large" })
</fieldset>
<fieldset>
    @Html.LabelFor(m => m.AppName, T("App Name"))
    @Html.TextBoxFor(m => m.AppName, new { @class = "text large" })
    <span class="hint">@T("The application name you wish to give active directory login rights to.")</span>
</fieldset>
<fieldset>
    @Html.LabelFor(m => m.LogoutRedirectUri, T("Logout Redirect"))
    @Html.TextBoxFor(m => m.LogoutRedirectUri, new { @class = "text large" })
    <span class="hint">@T("Redirect url after azure logout, default is http://localhost:30321/OrchardLocal/")</span>
</fieldset>
<fieldset>
    @Html.LabelFor(m => m.ServiceResourceID, T("Service Resource ID"))
    @Html.TextAreaFor(m => m.ServiceResourceID, new { @class = "text large" })
    <span class="hint">
        @T(@"If you have a single 'Service Resource ID' just write it down directly.
             If you have multiple resources, enter each resource id on its own line, using key=value pairs.
             Example: service1=https://yoursite.onmicrosoft.com/some-guid-for-service1")
    </span>
</fieldset>
<fieldset>
    @Html.LabelFor(m => m.AppKey, T("App Key"))
    @Html.TextBoxFor(m => m.AppKey, new { @class = "text large" })
</fieldset>
<fieldset>
    @Html.CheckBoxFor(m => m.BearerAuthEnabled)
    <label class="forcheckbox" for="AzureActiveDirectorySettings_BearerAuthEnabled">@T("Enable Bearer Token Authentication")</label>
</fieldset>
<fieldset>
    @Html.CheckBoxFor(m => m.SSLEnabled)
    <label class="forcheckbox" for="AzureActiveDirectorySettings_SSLEnabled">@T("Use SSL Protocol for valid audience")</label>
</fieldset>
<fieldset>
    @Html.CheckBoxFor(m => m.AzureWebSiteProtectionEnabled)
    <label class="forcheckbox" for="AzureActiveDirectorySettings_AzureWebSiteProtectionEnabled">@T("Enable Machine Key Data Protection for Azure Web Site")</label>
</fieldset>
<fieldset>
    @Html.CheckBoxFor(m => m.UseAzureGraphApi)
    <label class="forcheckbox" for="AzureActiveDirectorySettings_UseAzureGraphApi">@T("Enable Graph API")</label>
    <span class="hint">@T("Check this box to enable syncing Orchard Role membership to Azure Graph API Group Membership.  This module will not create new Orchard Roles for you, but it will sync up user membership of existing Orchard Roles with AD Group membership for Role names that match a group name")</span>
</fieldset>
<fieldset>
    @Html.LabelFor(m => m.GraphApiUrl, T("Graph API URL"))
    @Html.TextBoxFor(m => m.GraphApiUrl, new { @class = "text large" })
    <span class="hint">@T("Typically https://graph.windows.net")</span>

    @Html.LabelFor(m => m.GraphApiKey, T("Graph API Key"))
    @Html.TextBoxFor(m => m.GraphApiKey, new { @class = "text large" })
</fieldset>
<hr />