@model Orchard.OpenId.Models.TwitterSettingsPart
@using Orchard.OpenId

<h2>Twitter Settings</h2>
<fieldset>
    @Html.LabelFor(m => m.ConsumerKey, T("Consumer Key"))
    @Html.TextBoxFor(m => m.ConsumerKey, new { @class = "text large" })
    <span class="hint">@T("Twitter's Consumer Key obtained from your twitter dahsboard (e.g. {0})", Constants.DefaultTwitterConsumerKey)</span>
</fieldset>
<fieldset>
    @Html.LabelFor(m => m.ConsumerSecret, T("Consumer Secret"))
    @Html.TextBoxFor(m => m.ConsumerSecret, new { @class = "text large" })
    <span class="hint">@T("Twitter's Consumer Secret obtained from your twitter dahsboard (e.g. {0})", Constants.DefaultTwitterConsumerSecret)</span>
</fieldset>
<hr />