@using Orchard.Utility.Extensions
@using Orchard.Workflows.Models
@using Orchard.Workflows.Services

@{
    IList<IActivity> allActivities = Model.AllActivities;

    foreach (var activity in allActivities) {
        Style.Include("workflows-activity-" + activity.Name.ToLower()).Define(x => x.SetDependencies("WidgetsAdmin"));
    }   
    
}
<!-- List of available activities -->
<div id="activity-toolbox">
    <ul>
        @foreach (var activity in allActivities) {
            <li class="activity-toolbox-item" data-activity-name="@activity.Name" title="@activity.Description">
                <h2>@activity.Name.CamelFriendly()</h2>
            </li>
        }   
    </ul> 
</div>

@* Render script to initialize a new jsplumb shape in the form of activities['activity-name'].create() *@
@using (Script.Foot()) {
    <script type="text/javascript">
        //<![CDATA[
        var activities = { @foreach (var activity in allActivities) { <text>
            '@activity.Name': {
                outcomes: [@Html.Raw(String.Join(",", activity.GetPossibleOutcomes(new WorkflowContext()).Where(x => !String.IsNullOrEmpty(x.Text)).Select(x => "'" + HttpUtility.JavaScriptStringEncode(x.Text) + "'").ToArray()))],
                category: '@HttpUtility.JavaScriptStringEncode(activity.Category.Text)',
                description: '@HttpUtility.JavaScriptStringEncode(activity.Description.Text)',
                IsEvent: @(activity.IsEvent ? "true" : "false"),
                hasForm: @(!String.IsNullOrWhiteSpace(activity.Form) ? "true" : "false")
            },</text> 
                           }

        };
        //]]>
    </script>
}
