@model Orchard.Rules.ViewModels.AddActionViewModel
           
@{
    Layout.Title = T("Add an Action");
}

@if (!Model.Actions.Any())
{
    <h3>@T("There are no currently available actions")</h3>
}

@foreach (var action in Model.Actions.OrderBy(x => x.Name.Text))
{
    <h2>@action.Name</h2>
    
    <table class="items">
        <thead>
            <tr>
                <th scope="col" style="width:300px">@T("Name")</th>
                <th scope="col">@T("Description")</th>
            </tr>
        </thead>
        @foreach (var descriptor in action.Descriptors)
        {
        <tr>
            <td>@Html.ActionLink(descriptor.Name.Text, "Edit", new { id = Model.Id, category = descriptor.Category, type = descriptor.Type })</td>
            <td>@descriptor.Description</td>    
        </tr>
        }
    </table>
}
