@model SiteCulturesViewModel
@using Orchard.Core.Settings.ViewModels;

@{ Layout.Title = T("Cultures").ToString(); }

<p class="breadcrumb">@Html.ActionLink(T("Manage Settings").Text, "index")@T(" &#62; ")@T("Supported Cultures")</p>
<div class="panel panel-default ">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-6">
                <h3>@T("Available Cultures")</h3>
                @using (Html.BeginFormAntiForgeryPost("AddCulture")) {
                    @Html.ValidationSummary()
                    <fieldset class="addCulture">
                        <label for="CultureName">@T("Add a culture...")</label>
                        @Html.DropDownList("SystemCultureName", new SelectList(Model.AvailableSystemCultures.OrderBy(s => s), Model.CurrentCulture), new { @class = "form-control auto-size" })
                        @T("Other"): @Html.TextBox("CultureName", null, new { @class = "form-control auto-size" })
                    </fieldset>
                    <fieldset>
                        <button class="btn btn-primary" type="submit">@T("Add")</button>
                    </fieldset>
                }
            </div>
            <div class="col-md-6">
                <h3>@T("Cultures this site supports")</h3>
                @Html.UnorderedList(
    Model.SiteCultures.OrderBy(s => s),
    (s, i) => Html.DisplayFor(scvm => s, s == Model.CurrentCulture ? "CurrentCulture" : "RemovableCulture", ""),
    "site-cultures", "culture", "odd")
            </div>
        </div>

    </div>
</div>