@using Orchard.Themes.Models
@using Orchard.Mvc.Html
@using Orchard.Environment.Extensions.Models

<div id="currentTheme">
    @Display.Image(Src: Html.ThemePath((ExtensionDescriptor)Model.ContentPart.Descriptor, "/Theme.png"), Alt: Model.ContentPart.Name, Classes: "themePreviewImage")

    <div class="details">
        <h4>@Model.ContentPart.Name</h4>
        <h5>@T("By") @Model.ContentPart.Descriptor.Author<br />
        @T("Version:") @Model.ContentPart.Descriptor.Version<br />
        @if (Model.ContentPart.Descriptor.WebSite != null) {
            @Display.Link(Value: Model.ContentPart.Descriptor.WebSite, Href: Model.ContentPart.Descriptor.WebSite)<br />
        }</h5>
        
        <p class="themeInfo">@Model.ContentPart.Descriptor.Description</p>
    </div>
</div>