@model Orchard.Core.Settings.ViewModels.SiteSettingsPartViewModel
@using Orchard.Settings;
@{
	var resourceDebugMode = new SelectList(new object[] {
		new { Id = (int)ResourceDebugMode.FromAppSetting, Text = "Use web.config setting" },
		new { Id = (int)ResourceDebugMode.Enabled, Text = "Enabled" },
		new { Id = (int)ResourceDebugMode.Disabled, Text = "Disabled" },
	}, "Id", "Text", (int)Model.ResourceDebugMode);
}
<fieldset>
    <legend>@T("Global Settings")</legend>
    <div>
        <label for="SiteName">@T("Site name")</label>
        @Html.EditorFor(m => m.SiteName)
        @Html.ValidationMessage("SiteName", "*")
    </div>
    <div>
        <label for="SiteCulture">@T("Default Site Culture")</label>
        @Html.DropDownList("SiteCulture", new SelectList(Model.SiteCultures, Model.SiteCulture))
        @Html.ValidationMessage("SiteCulture", "*")
        <p>@Html.ActionLink(T("Add or remove supported cultures for the site.").ToString(), "Culture")</p>
    </div>
    <div>
        <label for="PageTitleSeparator">@T("Page title separator")</label>
        @Html.EditorFor(x => x.PageTitleSeparator)
        @Html.ValidationMessage("PageTitleSeparator", "*")
    </div>
    <div>
        <label for="SuperUser">@T("Super user")</label>
        @Html.EditorFor(x=>x.SuperUser)
        @Html.ValidationMessage("SuperUser", "*")
    </div>
	<div>
		<label for="SiteDebugMode">@T("Resource Debug Mode")</label>
		@Html.DropDownList("ResourceDebugMode", resourceDebugMode)
		<p>@T("Determines whether scripts and stylesheets load in their debuggable or minified form.")</p>
	</div>
</fieldset>
