@model AdminMenuPart
@using Orchard.Core.Navigation.Models;
@{
    Script.Require("ShapesBase");
}
<fieldset>
    @Html.EditorFor(m => m.OnAdminMenu)
    <label for="OnAdminMenu" class="forcheckbox">@T("Show on admin menu")</label>
    <div data-controllerid="OnAdminMenu" class="">
        <label for="AdminMenuText">@T("Menu text")</label>
        @Html.TextBoxFor(m => m.AdminMenuText, new { @class = "large text" })

		<label for="AdminMenuPosition">@T("Position")</label>
		@Html.TextBoxFor(m => m.AdminMenuPosition)
    </div>
</fieldset>
