@using Orchard.Comments.Models;
@using Orchard.Comments;
@using Orchard.Security;
@using Orchard.Utility.Extensions;

@if (Model.ContentPart.Comments.Count > 0) {
<div id="comments">
    <h2 class="comment-count">@T.Plural("1 Comment", "{0} Comments", (int)Model.ContentPart.Comments.Count)</h2>
    @{Html.RenderPartial("ListOfComments", (IEnumerable<Orchard.Comments.Models.CommentPart>)Model.ContentPart.Comments);}
</div>
}

@if (Model.CommentsActive == false) {
    if (Model.Comments.Count > 0) {
        <div id="comments">
            <p class="comment-disabled">@T("Comments have been disabled for this content.")</p>
        </div>
    }
}
else if(!Request.IsAuthenticated && !AuthorizedFor(Permissions.AddComment)) {
<h2 id="add-comment">@T("Add a Comment")</h2>
<p class="info message">@T("You must {0} to comment.", Html.ActionLink(T("log on").ToString(), "LogOn", new { Controller = "Account", Area = "Orchard.Users", ReturnUrl = string.Format("{0}#addacomment", Context.Request.RawUrl) }))</p>
} else {
using (Html.BeginForm("Create", "Comment", new { area = "Orchard.Comments" }, FormMethod.Post, new { @class = "comment-form" })) { 
    @Html.ValidationSummary() 
    if (!Request.IsAuthenticated) {

    <fieldset class="who">
        <legend id="add-comment">@T("Add a Comment")</legend> 
    <ol>
        <li>
            <label for="Name">@T("Name")</label>
            <input id="Name" class="text" name="Name" type="text" />
        </li>
        <li>
            <label for="Email">@T("Email")</label>
            <input id="Email" class="text" name="Email" type="text" />
        </li>
        <li>
            <label for="SiteName">@T("Url")</label>
            <input id="SiteName" class="text" name="SiteName" type="text" />
        </li>
     </ol>
    </fieldset>
    } else {
        @Html.Hidden("Name", WorkContext.CurrentUser.UserName ?? "")
        @Html.Hidden("Email", WorkContext.CurrentUser.Email ?? "")
    }

    <h2 id="commenter">@if (Request.IsAuthenticated) { @T("Hi, {0}!", Html.Encode(WorkContext.CurrentUser.UserName))}</h2>
    <fieldset class="what">
    <ol>
        <li>
            <label for="comment-text">@T("Comment")</label>
            <textarea id="comment-text" rows="10" cols="30" name="CommentText"></textarea>
        </li>
        <li>
            <input type="submit" class="button" value="@T("Submit Comment")" />
            @Html.Hidden("CommentedOn", (int)Model.ContentPart.ContentItem.Id) 
            @Html.Hidden("ReturnUrl", Context.Request.ToUrlString()) 
            @Html.AntiForgeryTokenOrchard() 
        </li>
    </ol>
    </fieldset>
    }
} 
