@using Orchard.Utility.Extensions
@model Orchard.ContentTypes.ViewModels.EditPartFieldViewModel
@{
    var fieldNameId = Model.Name.HtmlClassify();
    var partNameId = Model.Part.Name.HtmlClassify();
    var accordionId = String.Format("accordion-{0}-{1}", partNameId, fieldNameId);
    var accordionPanelId = String.Format("accordion-panel-{0}", fieldNameId);
}
<div id="@accordionId" class="panel-group accordion accordion-semi">
    <div class="panel panel-default">
        <div class="panel-heading information">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#@accordionId" href="#@accordionPanelId" aria-expanded="false" class="collapsed">
                    <i class="icon fa fa-angle-down"></i> @String.Format("{0} ({1})", Model.DisplayName, Model.FieldDefinition._Definition.Name)
                </a>
                <span class="manage">
                    <a href="@Url.Action("RemoveFieldFrom", new {area = "Orchard.ContentTypes", id = Model.Part.Name, name = Model.Name})" class="btn-link btn-danger" itemprop="RemoveUrl UnsafeUrl">
                        <i class="fa fa-trash-o"></i>
                    </a>
                    <a href="@Url.Action("EditField", new {area = "Orchard.ContentTypes", id = Model.Part.Name, name = Model.Name})" class="btn-link">
                        <i class="fa fa-pencil"></i>
                    </a>
                </span>
            </h4>
        </div>
        <div id="@accordionPanelId" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
            <div class="panel-body">
                <div class="content-type-settings">
                    @{Html.RenderTemplates(Model.Templates);}
                    @Html.HiddenFor(m => m.Name)
                    @Html.HiddenFor(m => m.FieldDefinition.Name)@Html.HiddenFor(m => m.Index)
                </div>
            </div>
        </div>
    </div>
</div>