@model Orchard.Tags.ViewModels.TagsAdminCreateViewModel

<h1>@Html.TitleForPage(T("Add a Tag").ToString()) </h1>
@using (Html.BeginFormAntiForgeryPost()) { 
    @Html.ValidationSummary() 
    
    <fieldset>
        @Html.LabelFor(m => m.TagName, T("Tag Name"))
        @Html.TextBoxFor(m=>m.TagName, new { @class = "text" })
    </fieldset>

    <fieldset>
        <button class="primaryAction" type="submit">@T("Save")</button>
    </fieldset>
 } 
