@model Orchard.Workflows.ViewModels.AdminEditViewModel
@using ClaySharp.Implementation
@using Orchard.ContentManagement
@using Orchard.Localization
@using Orchard.Utility.Extensions
@using Orchard.Workflows.Models;
@using Orchard.Workflows.ViewModels;
@using Orchard.DisplayManagement;

@{
    Layout.Title = @T("Edit Workflow");
    Style.Include("admin-workflows.css");
    Script.Require("jQueryUI");
    Script.Include("jquery.jsPlumb-1.3.16-all-min.js");
    
    //        var editorShape = ((IShapeFactory)New).Create(activity.Name + "_Editor");
}

@Display.ActivityToolbox(Model)
@{
    Script.Include("orchard-workflows.js").AtFoot();
    Script.Include("orchard-workflows-serialize.js").AtFoot();
}

@using (Html.BeginFormAntiForgeryPost()) {
    @Html.ValidationSummary()

    <div id="activity-editor">
    </div>
}

@using (Script.Head()) {
<script type="text/javascript">
    //<![CDATA[
    var renderActivityUrl = '@Url.Action("RenderActivity", "Admin", new { area = "Orchard.Workflows" })';
    var editActivityUrl = '@Url.Action("EditActivity", "Admin", new { area = "Orchard.Workflows" })';
    var requestAntiForgeryToken = '@Html.AntiForgeryTokenValueOrchard()';
    var localId = '@Model.LocalId';

    //]]>
</script>
}
