@model Orchard.Workflows.ViewModels.AdminEditViewModel
@using Orchard.Workflows.Models;
@using Orchard.Workflows.ViewModels;
<div class="panel panel-default">
    @using (Html.BeginFormAntiForgeryPost()) {
        @Html.ValidationSummary()
        <div class="panel-body">
            <label for="name">@T("Name")</label>
            @Html.TextBoxFor(m => m.WorkflowDefinition.Name, new { @class = "text medium" })
            <span class="help-block">@T("The name of the Workflow.")</span>
        </div>
        <div class="panel-footer">
            <button class="btn btn-primary" type="submit">@T("Save")</button>
        </div>
    }
</div>
