@model AdminEditViewModel
@using Orchard.Forms.Services
@using Orchard.Workflows.ViewModels;

@{
    Layout.Title = @T("Edit Workflow");
    Style.Require("WorkflowsAdmin");
    Script.Require("jQueryUI");
    Style.Require("jQueryUI_Orchard");
    Script.Include("jquery.jsPlumb-1.3.16-all-min.js");
    
    //        var editorShape = ((IShapeFactory)New).Create(activity.Name + "_Editor");
}

@Display.ActivityToolbox(Model)
@{
    Script.Include("orchard-workflows.js").AtFoot();
    Script.Include("orchard-workflows-serialize.js").AtFoot();
}

@using (Html.BeginFormAntiForgeryPost("Edit")) {
    @Html.ValidationSummary()

    <div id="activity-editor">
        <div id="activity-toolbar">
            <div id="activity-toolbar-start">
                <input type="checkbox" id="activity-toolbar-start-checkbox"/>
                <label for="activity-toolbar-start-checkbox" title="@T("Start")"></label>
            </div>
            <div id="activity-toolbar-edit">
                <label title="@T("Edit")"></label>
            </div>
            <div id="activity-toolbar-delete">
                <label title="@T("Remove")"></label>
            </div>
        </div>
    </div>

    
    using (Script.Head()) {
<script type="text/javascript">
    //<![CDATA[
    var renderActivityUrl = '@HttpUtility.JavaScriptStringEncode(Url.Action("RenderActivity", "Admin", new { area = "Orchard.Workflows" }))';
    var editActivityUrl = '@HttpUtility.JavaScriptStringEncode(Url.Action("EditActivity", "Admin", new { area = "Orchard.Workflows" }))';
    var requestAntiForgeryToken = '@HttpUtility.JavaScriptStringEncode(Html.AntiForgeryTokenValueOrchard().ToString())';
    var localId = '@HttpUtility.JavaScriptStringEncode(Model.LocalId)';
    var updatedActivityClientId = null;
    var updatedActivityState = null;
    
    @if (TempData.ContainsKey("UpdatedViewModel")) {
        var model = TempData["UpdatedViewModel"] as UpdatedActivityModel;
        if (model != null) {
            <text>
    updatedActivityClientId = '@(model.ClientId)';
    updatedActivityState = '@Html.Raw(HttpUtility.JavaScriptStringEncode(FormParametersHelper.ToJsonString(model.Data)))';
            </text>
        }
    }
    else if (!Model.IsLocal) {
        <text>
    var state = @Html.Raw(Model.WorkflowDefinition.JsonData);
    sessionStorage.setItem(localId, JSON.stringify(state));
        </text>
    }
    
    //]]>
</script>
    }

@Html.Hidden("id", Model.WorkflowDefinition.Id)
@Html.Hidden("localId", Model.LocalId)
@Html.Hidden("data", String.Empty)

    using (Script.Foot()) {
<script type="text/javascript">
    //<![CDATA[
    $("form").submit(function () {
        saveLocal(localId);
        var workflow = loadWorkflow(localId);
        var data = JSON.stringify(workflow);
        $("[name='data']").val(data);
    });
    //]]>
</script>
    }

<fieldset>
    <button class="primaryAction" type="submit" name="submit.Save" value="@T("Save")">@T("Save")</button>
    @Html.ActionLink(T("Cancel").Text, "Index", "Admin", new { area = "Orchard.Workflows" }, new { @class = "primaryAction button" })
</fieldset>
}
