@using Orchard.Core.Contents.ViewModels;
@using Orchard.Utility.Extensions;
@{
    Layout.Title = T("Custom Form submissions").Text;
    Layout.Tail.Add(New.ConfirmationDialog());
    Model.List.Classes.Add("content-items");
}

<div class="panel panel-default">
    @using (Html.BeginFormAntiForgeryPost(Url.Action("List", "Admin", new { area = "Contents", id = "" }))) {
        if (Model.List.Items.Count > 0) {
            <div class="panel-heading">
                <fieldset class="bulk-actions">
                    <fieldset class="bulk-actions">
                        <div class="or-checkbox or-select-all inline">
                            <input id="checkAll" class="check-all" type="checkbox">
                            <label class="check-all" title="@T("Select All")" for="checkAll"></label>
                        </div>
                    </fieldset>
                    <fieldset class="bulk-actions">
                        <input id="bulkActions" name="Options.BulkAction" type="hidden" value="@ContentsBulkAction.None" />
                        @Html.Hidden("returnUrl", ViewContext.RequestContext.HttpContext.Request.ToUrlString())
                        <button name="submit.BulkEdit" type="submit" class="hidden" value="@T("Apply")">@T("Apply")</button>
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                @T("Bulk Actions") <span class="caret"></span>
                            </button>&nbsp;
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#" data-bulk-action-confirm="@T("Are you sure you want to publish these items?")" data-bulk-action="@ContentsBulkAction.PublishNow">@T("Publish Now").ToString()</a></li>
                                <li><a href="#" data-bulk-action-confirm="@T("Are you sure you want to unpublish these items?")" data-bulk-action="@ContentsBulkAction.Unpublish">@T("Unpublish").ToString()</a></li>
                                <li><a href="#" data-bulk-action-confirm="@T("Are you sure you want to delete these items?")" data-bulk-action="@ContentsBulkAction.Remove">@T("Delete").ToString()</a></li>
                            </ul>
                        </div>
                    </fieldset>
                </fieldset>
            </div>
            <div class="panel-body">
                <fieldset class="content-items bulk-items content-items-with-actions">
                    @Display(Model.List)
                </fieldset>
            </div>
            <div class="row or-datatable-footer">
                <div class="col-sm-12">
                    @Display(Model.Pager)
                </div>
            </div>
        } else {
            <div class="panel-body">
                <h3 class="no-content">@T("There are no submissions for this form.")</h3>
            </div>
        }
    }
</div>