@using Orchard.Utility.Extensions

@{
    Script.Require("jQuery");
    Script.Require("Toastr");
    Style.Require("Toastr");
    Layout.Title = T("Migrate Media Files").ToString();
}
<div class="panel panel-default">
    <div class="panel-body">
        <fieldset>
            <legend>@T("Migrating Media Files:")</legend>
            <span class="help-block">@T("This migration step will create and organize new Media Content Items based on the media files in your ~/Media folder.")</span>
            @if (ViewBag.CanMigrate) {
                <span class="help-block">@T("Before importing, please ensure the server has the expected mime types already registered as explained here: <a href=\"http://www.iis.net/configreference/system.webserver/staticcontent/mimemap\">http://www.iis.net/configreference/system.webserver/staticcontent/mimemap</a>")</span>
            }
            @if (ViewBag.CanMigrate) {
                <button type="button" class="button" id="button-migrate">@T("Migrate")</button>
            }

        </fieldset>
        <fieldset>
            <div class="progress">
                <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
                    <span class="sr-only">60% Complete</span>
                </div>
            </div>
        </fieldset>
        <fieldset>
            @using (Html.BeginFormAntiForgeryPost(Url.Action("MediaPicker", "Media"))) {
                <legend>@T("Migrating Media Picker Fields:")</legend>
                <span class="help-block">@T("This migration step will migrate your Media Picker and Media Gallery Picker fields to the new Media Library Field.")</span>
                if (!ViewBag.CanMigrateFields) {
                    <span class="help-block">@T("Before migrating fields, please migrate all the Media files.")</span>
                }
                if (ViewBag.CanMigrateFields) {
                    <button type="submit">@T("Migrate")</button>
                }
            }
        </fieldset>


        @using (Script.Foot()) {
            <script type="text/javascript">
                $(function () {
                    var importMediaUrl = '@HttpUtility.JavaScriptStringEncode(Url.Action("ImportMedia", "Media"))';
                    var antiForgeryToken = '@HttpUtility.JavaScriptStringEncode(Html.AntiForgeryTokenValueOrchard().ToString())';
                    var endMessage = '@HttpUtility.JavaScriptStringEncode(T("All media files have been processed").Text)';
                    var shortCutFunction = "info";
                    var title = "";

                    toastr.options = {
                        closeButton: true,
                        debug: false,
                        newestOnTop: true,
                        progressBar: true,
                        positionClass: 'toast-bottom-right',
                        preventDuplicates: false,
                        onclick: null
                    };

                    $('#button-migrate').click(function () {
                        var remaining = 1;
                        $('.progress-bar').css('width', '0%')
                        $('.progress-bar').text('');

                        var iID = setInterval(function () {
                            $.ajax({
                                type: 'POST',
                                url: importMediaUrl,
                                async: false,
                                data: {
                                    __RequestVerificationToken: antiForgeryToken
                                },
                                success: function (data) {
                                    remaining = data;
                                    console.log('media remaining: ' + remaining);
                                    percent = ((@(ViewBag.MediaFilesToMigrate) - remaining) / @(ViewBag.MediaFilesToMigrate) * 100).toFixed(0) + '%';
                                    $('.progress-bar').css('width', percent)
                                    $('.progress-bar').text(percent);
                                },
                                fail: function (result) {
                                    remaining = 0;
                                    console.log("An error occured: " + result);
                                    shortCutFunction = "error";
                                    var $toast = toastr[shortCutFunction]("An error occured: " + result, title);
                                }
                            });

                            if (remaining == 0) {
                                clearInterval(iID);
                                shortCutFunction = "success";
                                var $toast = toastr[shortCutFunction](endMessage, title);
                            }
                        }, 200);

                    });
                });
            </script>
        }
    </div>
    <div class="panel-footer">&nbsp;</div>
</div>