@model Orchard.AuditTrail.Models.ClientIpAddressSettingsPart
@{
    Script.Require("ShapesBase");
}
<section class="clientipaddress-settings-section">
    <fieldset>
        @Html.CheckBoxFor(m => m.EnableClientIpAddressHeader)
        @Html.LabelFor(m => m.EnableClientIpAddressHeader, T("Read client IP address from HTTP header instead of network source IP").Text, new { @class = "forcheckbox" })
        <span class="hint">@T("This can be useful when the site is behind a reverse proxy server.")</span>
    </fieldset>
    <fieldset data-controllerid="@Html.FieldIdFor(m => m.EnableClientIpAddressHeader)">
        @Html.LabelFor(m => m.ClientIpAddressHeaderName, T("Client IP address HTTP header name"))
        @Html.TextBoxFor(m => m.ClientIpAddressHeaderName, new { @class = "text medium" })
        <span class="hint">@T("The name of the HTTP header from which to read the client IP address. For most reverse proxy servers this should be <strong>X-Forwarded-For</strong>.")</span>
    </fieldset>
</section>
