@model Orchard.AuditTrail.ViewModels.AuditTrailSettingsViewModel
@{
    Style.Include("audittrail-settings.css");
    Script.Require("ShapesBase");
    Script.Include("audittrail-checkall.js").AtFoot();
}
<section class="audittrail-settings-section">
    <h2>@T("Events to record in the audit trail")</h2>
    <div class="row">
        <div class="col-sm-12">
            <div class="table-responsive table-with-footer">
                <table class="table table-fw-widget data-table table-striped table-bordered dataTable no-footer">
                    <thead>
                        <tr>
                            <th class="event-name">@T("Event")</th>
                            <th>@T("Description")</th>
                            <th class="audittrail-event-enabled-cell">
                                <label>
                                    @T("Enabled")
                                </label>
                            </th>
                        </tr>
                    </thead>
                    @{ var i = 0; }
                    @foreach (var category in Model.Categories) {
                        <tbody class="audittrail-category-body check-all-container">
                            <tr>
                                <th colspan="2">
                                    @category.Name
                                    <input type="hidden" name="AuditTrailSettingsPart.Categories[@i].Category" value="@category.Category" />
                                </th>
                                <th class="audittrail-event-enabled-cell text-center">
                                    <div class="am-checkbox am-select-all inline">
                                        <input id="check-all-@i" class="check-all-master" type="checkbox">
                                        <label class="check-all" title="@T("Select All")" for="check-all-@i"></label>
                                    </div>
                                </th>
                            </tr>
                            @{ var j = 0; }
                            @foreach (var e in category.Events) {
                    var checkboxId = String.Format("Event{0}{1}", i, j);
                                <tr>
                                    <td>
                                        <input type="hidden" name="AuditTrailSettingsPart.Categories[@i].Events[@j].Event" value="@e.Event" />
                                        @e.Name
                                    </td>
                                    <td>@e.Description</td>
                                    <td class="audittrail-event-enabled-cell text-center">
                                        <div class="am-checkbox">
                                            <input class="check-all-slave" id="@checkboxId" type="checkbox" value="@Boolean.TrueString" name="AuditTrailSettingsPart.Categories[@i].Events[@j].IsEnabled" value="@Boolean.TrueString" @if (e.IsEnabled || e.IsMandatory) { <text> checked="checked" </text>  } @if (e.IsMandatory) { <text> disabled="disabled" </text>  } />
                                            <label for="@checkboxId"></label>
                                        </div>
                                    </td>
                                </tr>
                                j++;
                            }
                        </tbody>
                                    i++;
                                }
                </table>
            </div>
        </div>
    </div>
    <h2>@T("Client IP address logging")</h2>
    <div class="col-sm-12">
        <div class="am-checkbox">
            @Html.CheckBoxFor(m => m.EnableClientIpAddressLogging)
            <label for="AuditTrailSettingsPart_EnableClientIpAddressLogging">@T("Enable client IP address logging").Text</label>
        </div>
        <span class="help-block">@T("When enabled, the client IP address will be recorded in audit trail event records.")</span>
    </div>
</section>