@using Orchard.Tags.ViewModels;

@{
    Layout.Title = Model.ContentItem.TitlePart.Title;

    var blogPost = Model.ContentItem;
}

<article id="post-@blogPost.Id">
    <h1>@blogPost.TitlePart.Title</h1>
    <div class="metadata" style="margin-bottom: 10px;">
        <time class="clearfix" datetime="@blogPost.CommonPart.CreatedUtc.ToLocalTime().ToString("yyyy-MM-dd")">@blogPost.CommonPart.CreatedUtc.ToLocalTime().ToString("dddd, MMMM d, yyyy")</time>
        @if (Model.Tags.Items.Count > 0 && ((IEnumerable<ShowTagViewModel>)Model.Tags.Items[0].Tags).Any()) {
            @Display(Model.Tags)
        }
    </div>
    @Display(Model.Summary)
</article>
<hr />
@Display(Model.Footer)