@model Orchard.MultiTenancy.ViewModels.TenantResetViewModel
@{
    Layout.Title = T("Reset Tenant").ToString();
}

<div class="panel panel-default">
    @using (Html.BeginFormAntiForgeryPost()) {
        @Html.ValidationSummary()
        <div class="panel-heading">
            <fieldset>
                <p>@T("This will reset the tenant <strong>{0}</strong> to its uninitialized state, allowing you to set it up again.", Model.Name)</p>
            </fieldset>
        </div>
        <div class="panel-body">
            <fieldset>
                <div class="or-checkbox">
                    @Html.CheckBoxFor(m => Model.DropDatabaseTables)
                    <label class="forcheckbox" for="@Html.FieldIdFor(m => m.DropDatabaseTables)">@("Also delete tenant database tables:")</label>
                </div>
                <ul style="margin-left: 4em; margin-top: 1em; -webkit-column-width: 24em; -moz-column-width: 24em; column-width: 24em;">
                    @foreach (var tableName in Model.DatabaseTableNames) {
                        <li><span class="help-block">@tableName</span></li>
                    }
                </ul>
            </fieldset>
        </div>
        <div class="panel-footer">
            <fieldset>
                <button class="btn btn-danger" type="submit">@T("Reset")</button>
            </fieldset>
        </div>
    }
</div>