@model NavigationIndexViewModel
@using Orchard.Core.Navigation
@using Orchard.Core.Navigation.ViewModels
@using Orchard.Core.Navigation.Helpers
@{ 
    var hasPermission = Authorizer.Authorize(Permissions.ManageMenus);

    Layout.Title = T("Navigation").ToString();
    Html.AdminBreadcrumbs();
    Layout.Tail.Add(New.ConfirmationDialog());
}

<div class="or-panel-main panel-default">
    @if (Model.Menus.Any()) {
        using (Html.BeginFormAntiForgeryPost()) {
            @Html.ValidationSummary()
            <div class="panel-heading no-border">
                <div class="panel-heading-primary-group">
                    <fieldset>
                        <input id="bulkActions" name="@Html.NameOf(m => m.BulkAction)" type="hidden" value="@NavigationIndexBulkAction.None" />
                        <button name="submit.BulkEdit" type="submit" class="hidden" value="@T("Apply")">@T("Apply")</button>
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-bolt"></i> @("Bulk Actions") <span class="caret"></span>
                            </button>&nbsp;
                            <ul class="dropdown-menu" role="menu">
                                <li><a id="btn-bulk-delete" href="#" data-bulk-action-confirm="@T("Are you sure you want to delete these items?")" data-bulk-action="@NavigationIndexBulkAction.Delete">@T("Delete")</a></li>
                            </ul>
                        </div>
                    </fieldset>
                </div>
                <div class="panel-heading-actions">
                    <a class="btn btn-primary" href="@Url.Action("Create", "Admin", new { area = "Contents", id = "Menu", ReturnUrl = Url.Action("EditLastMenu", new { id = Model.LastMenuId }) })"><i class="fa fa-plus"></i> @T("Add a menu").Text</a>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="table-responsive table-with-footer">
                        <table class="table table-fw-widget data-table table-striped dataTable no-footer" summary="@T("This is a table of the menus in your application")">
                            <thead>
                                <tr>
                                    <th scope="col" class="text-nowrap">
                                        <div class="or-checkbox inline">
                                            <input id="checkAll" class="check-all" type="checkbox">
                                            <label class="check-all" title="@T("Select All")" for="checkAll"></label>
                                        </div>
                                    </th>
                                    <th scope="col" width="100%">@T("Name")</th>
                                    <th scope="col">&nbsp;</th>
                                </tr>
                            </thead>
                            @{ 
                                var menuIndex = 0;
                                var canManageMenus = Authorizer.Authorize(Permissions.ManageMenus);
                            }
                            @foreach (var menu in Model.Menus) {
                                <tr>
                                    <td>
                                        @Html.HiddenFor(m => m.Menus[menuIndex].MenuId)
                                        @if (canManageMenus) {
                                            <div class="or-checkbox">
                                                <input type="checkbox" value="true" name="@Html.NameOf(m => m.Menus[menuIndex].IsSelected)" id="@Html.IdFor(m => m.Menus[menuIndex].IsSelected)" />
                                                <label for="@Html.IdFor(m => m.Menus[menuIndex].IsSelected)"></label>
                                            </div>
                                        }
                                    </td>
                                    <td>
                                        @if (canManageMenus) {
                                            @Html.ItemAdminLink(menu.MenuName, menu.ContentItem)
                                        }
                                        else {
                                            @menu.MenuName
                                        }
                                    </td>
                                    <td class="text-nowrap">
                                        @if (canManageMenus) {
                                            <a class="btn btn-default" href="@Url.ItemEditUrl(menu.ContentItem, new { returnUrl = Request.RawUrl })"><i class="fa fa-cog"></i> @T("Properties")</a>
                                            <a class="btn btn-primary" href="@Url.ItemAdminUrl(menu.ContentItem)"><i class="fa fa-pencil-square-o"></i> @T("Manage")</a>
                                            <a class="btn btn-danger" href="@Url.ItemRemoveUrl(menu.ContentItem, new { returnUrl = Request.RawUrl })" data-confirm="@T("Are you sure you want to delete this menu?")"><i class="fa fa-trash"></i> @T("Delete")</a>
                                        }
                                    </td>
                                </tr>
                                menuIndex++;
                            }
                        </table>
                    </div>
                </div>
            </div>
        }
    }
    else {
        <div class="panel-body">
            <h3 class="no-content">
                @T("There are currently no menus.")
                @Html.ActionLink(T("Add one now").Text, "Create", "Admin", new { area = "Contents", id = "Menu", ReturnUrl = Url.Action("EditLastMenu", new { id = Model.LastMenuId }) }, new { @class = "" })
            </h3>
        </div>
    }
</div>