@model FilterEditViewModel
@using Orchard.Projections.Models;
@using Orchard.Projections.ViewModels;

@{
    Layout.Title = T("Edit Filter - {0}", Model.Filter.Name);
    //Style.Include("admin-projections.css");
    //Script.Require("jQuery");
    //Script.Include("admin-projections.js");
}

@Html.ValidationSummary()
<div class="panel panel-default panel-heading-fullwidth panel-borders">
    <div class="panel-heading">
        <div class="panel-heading-primary-group">
            <h2>
                @Model.Filter.Name
                <span class="help-block">@Model.Filter.Description</span>
            </h2>
        </div>
    </div>
    <div class="panel-body">

        @using (Html.BeginFormAntiForgeryPost()) {

            <fieldset>
                @Html.LabelFor(m => m.Description, T("Description"))
                @Html.TextBoxFor(m => m.Description, new { @class = "text medium" })
                <span class="help-block">@T("You may optionally give a description to this filter, to be used in the dashboard screens.")</span>
            </fieldset>

            @* Render the dynamic form *@
        if (Model.Form != null) {
            <fieldset>
                @DisplayChildren(Model.Form)
            </fieldset>
        }

        @Display.TokenHint()
            <hr />
            <fieldset>
                <button class="btn btn-primary" type="submit">@T("Save")</button>
            </fieldset>
        }
    </div>

</div>
