@using Orchard.ContentManagement;
@using Orchard.Core.Contents;
@using Orchard.Utility.Extensions;
@{
    ContentItem contentItem = Model.ContentItem;
}
<div class="summary" itemscope="itemscope" itemid="@contentItem.Id" itemtype="http://orchardproject.net/data/ContentItem">
    <div class="properties">
        <div class="head">
            <div class="">
                <div class="or-checkbox inline">
                    <input type="checkbox" value="@contentItem.Id" name="itemIds" id="content-summary-@contentItem.Id" />
                    <label for="content-summary-@contentItem.Id"></label>
                </div>
                <h3>@Html.ItemAdminLink(contentItem) <span class="content-type">- @T(contentItem.TypeDefinition.DisplayName)</span></h3>
            </div>
        </div>
        @if (Model.Header != null) {
            <div class="header">@Display(Model.Header)</div>
        }
    </div>
    @if (Model.Content != null) {
        <div class="primary">@Display(Model.Content)</div>
    }
    @if (Model.Meta != null) {
        <div class="metadata">@Display(Model.Meta)</div>
    }
    @*<div class="content-item-actions-dropdown">
            <div class="dropdown">
                @{
                    var ddlId = "ddl" + @contentItem.Id;
                }
                <a class="button-classes" href="#" data-toggle="dropdown" id="@ddlId">
                    Actions
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li>@Display(Model.Actions)</li>
                </ul>
            </div>
        </div>*@
</div>
<div class="content-item-actions">
    <ul class="main-actions">
        <li>
            @Display(Model.Actions)
        </li>
    </ul>
    <div class="more-actions-dropdown">
        @{
            var ddlId = "ddl" + @contentItem.Id;
        }
        <a class="btn btn-link dropdown-toggle" href="#" data-toggle="dropdown" id="@ddlId">
            <i class="fa fa-bars"></i>
        </a>
        <ul class="more-actions dropdown-menu">
        </ul>
    </div>
</div>