@using Orchard.ContentManagement;
@using Orchard.Utility.Extensions;
@{
    ContentItem contentItem = Model.ContentItem;
    var returnUrl = ViewContext.RequestContext.HttpContext.Request.ToUrlString();
}
<div class="summary" itemscope="itemscope" itemid="@contentItem.Id" itemtype="http://orchardproject.net/data/ContentItem">
    <div class="properties">
        <input type="checkbox" value="@contentItem.Id" name="itemIds"/>
        <h3>@Html.ItemAdminLink(contentItem)</h3>
        @if (Model.Header != null) {
        <div class="header">@Display(Model.Header)</div>
        }
        @if (Model.Meta != null) {
        <div class="metadata">@Display(Model.Meta)</div>
        }
    </div>
    <div class="related">
        @Display(Model.Actions)
        @Html.ItemEditLink(T("Edit").Text, contentItem) @T(" | ")
        @Html.Link(T("Delete").Text, Url.Action("Remove", "Admin", new { area = "Contents", id = contentItem.Id, returnUrl }), new { itemprop = "RemoveUrl UnsafeUrl" })
    </div>
    @if (Model.Content != null) {
    <div class="primary">@Display(Model.Content)</div>
    }
</div>