@model Orchard.Media.ViewModels.MediaFolderCreateViewModel
@using Orchard.Media.Helpers
@using Orchard.Media.Models
@{ Style.Require("MediaAdmin"); }

<h1>@Html.TitleForPage(T("Add a Folder").ToString())</h1>
<div class="breadCrumbs">
<p>@Html.ActionLink(T("Media Folders").ToString(), "Index") &#62; 
		@foreach (FolderNavigation navigation in MediaHelpers.GetFolderNavigationHierarchy(Model.MediaPath)) { 
		    @Html.ActionLink(navigation.FolderName, "Edit",
                      new {name = navigation.FolderName, mediaPath = navigation.FolderPath}) 
		}
		@T("Add a Folder") </p>
</div> 
			
@using (Html.BeginFormAntiForgeryPost()) { 
    @Html.ValidationSummary()
    <fieldset>
        <label for="Name">@T("Folder Name")</label>
		<input id="Name" class="textMedium" name="Name" type="text" />
	    <input type="hidden" id="MediaPath" name="MediaPath" value="@Model.MediaPath" />
    </fieldset>
	<fieldset>
	    <input type="submit" class="button primaryAction" value="@T("Save")" />
    </fieldset>
 }