@model Orchard.Comments.Models.CommentsPart
@using Orchard.Comments.Models
@using Orchard.Comments
@using Orchard.Security
@using Orchard.Utility.Extensions

@if (Model.Comments.Count > 0) { 
<h2 id="comments">@T.Plural("1 Comment", "{0} Comments", Model.Comments.Count)</h2>
@Html.RenderPartial("ListOfComments", Model.Comments);
}

@if (Model.CommentsActive == false) {
    if (Model.Comments.Count > 0) {
        <p>@T("Comments have been disabled for this content.")</p>
    }
}
else if(!Request.IsAuthenticated && !AuthorizedFor(Permissions.AddComment)) {
<h2 id="addacomment">@T("Add a Comment")</h2>
<p class="info message">@T("You must {0} to comment.", Html.ActionLink(T("log on").ToString(), "LogOn", new { Controller = "Account", Area = "Orchard.Users", ReturnUrl = string.Format("{0}#addacomment", Context.Request.RawUrl) }))</p>
} else {
using (Html.BeginForm("Create", "Comment", new { area = "Orchard.Comments" }, FormMethod.Post, new { @class = "comment" })) { 
    @Html.ValidationSummary() 
    <h2 id="addacomment">@T("Add a Comment")</h2>
    @if (!Request.IsAuthenticated) { 
    <fieldset class="who">
        <div>
            <label for="Name">@T("Name")</label>
            <input id="Name" class="text" name="Name" type="text" />
        </div>
        <div>
            <label for="Email">@T("Email")</label>
            <input id="Email" class="text" name="Email" type="text" />
        </div>
        <div>
            <label for="SiteName">@T("Url")</label>
            <input id="SiteName" class="text" name="SiteName" type="text" />
        </div>
    </fieldset>
    } else {
        var currentUser = Html.Resolve<IAuthenticationService>().GetAuthenticatedUser();
        @Html.Hidden("Name", currentUser.UserName ?? "")
        @Html.Hidden("Email", currentUser.Email ?? "")
    }
    <fieldset class="what">
        <div>
            <label for="CommentText">@if (Request.IsAuthenticated) { T("Hi, {0}!", Html.Encode(Page.User.Identity.Name))<br /> } @T("Comment")</label>
            <textarea id="CommentText" rows="10" cols="30" name="CommentText"></textarea>
        </div>
        <div>
            <input type="submit" class="button" value="@T("Submit Comment")" />
            @Html.Hidden("CommentedOn", Model.ContentItem.Id) 
            @Html.Hidden("ReturnUrl", Context.Request.ToUrlString()) 
            @Html.AntiForgeryTokenOrchard() 
        </div>
    </fieldset>
    }
} 