@model Orchard.Tags.ViewModels.EditTagsViewModel

@{
    Style.Require("jQueryUI_Orchard");
    Script.Require("TagsAutocomplete");
}

<fieldset>
    @Html.LabelFor(m => m.Tags, T("Tags"))
    @Html.TextBoxFor(m => m.Tags, new { @class = "text large" })
    <span class="hint">@T("Separate multiple tags with commas")</span>
</fieldset>

@using (Script.Foot()) {
<script type="text/javascript">
//<![CDATA[
    $(function () {
        $.tagsAutocomplete.autocomplete(
            '@Html.FieldIdFor(m => m.Tags)',
            '@Url.Action("FetchSimilarTags", new { Controller = "Admin", Area = "Orchard.Tags" })', 1);
    });
//]]>
</script>
}