@model Orchard.Layouts.Settings.CommonElementSettings
<fieldset>
    <div>
        @Html.LabelFor(m => m.Id, T("ID"))
        @Html.TextBoxFor(m => m.Id, new { @class = "text medium tokenized", autofocus = "autofocus" })
        <span class="hint">@T("If specified, the ID attribute will be rendered with the specified value.")</span>
    </div>
    <div>
        @Html.LabelFor(m => m.CssClass, T("Css Class"))
        @Html.TextBoxFor(m => m.CssClass, new { @class = "text large tokenized" })
        <span class="hint">@T("If specified, the class attribute will be rendered with the specified value.")</span>
    </div>
    <div>
        @Html.LabelFor(m => m.InlineStyle, T("Inline Style"))
        @Html.TextAreaFor(m => m.InlineStyle, new { @class = "text large tokenized" })
        <span class="hint">@T("If specified, the style attribute will be rendered with the specified css.")</span>
    </div>
</fieldset>