@model Orchard.Layouts.ViewModels.BlockquoteEditorViewModel
@{
    Script.Include("AutoFocus.js");
}
<fieldset>
    <div class="form-group autofocus">
        @Html.LabelFor(m => m.Text, T("Text"))
        @Html.TextAreaFor(m => m.Text, new { @class = "text large tokenized", autofocus = "autofocus" })
        @Html.Hint(T("Note: HTML markup will be rendered unencoded."))
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Citation, T("Cite"))
        @Html.TextBoxFor(m => m.Citation, new { @class = "text large" })
        @Html.Hint(T("The source URL of the quotation, if any."))
    </div>
</fieldset>