@model TermAdminIndexViewModel
@using Orchard.Taxonomies
@using Orchard.Taxonomies.ViewModels;
@using Orchard.Taxonomies.Helpers;
@{
    Style.Include("admin-taxonomy.css");
    Layout.Title = T("Manage terms for {0}", Model.Taxonomy.Name).ToString();
    Layout.Tail.Add(New.ConfirmationDialog());

    var termIndex = 0;
}
<div class="or-panel-main panel-default">
    @if (Model.Terms.Any()) {
        using (Html.BeginFormAntiForgeryPost()) {
            @Html.ValidationSummary()
            @Html.HiddenFor(m => m.TaxonomyId)
            <div class="panel-heading no-border">
                <div class="panel-heading-primary-group">
                    <fieldset>
                        <input id="bulkActions" name="@Html.NameOf(m => m.BulkAction)" type="hidden" value="@TermsAdminIndexBulkAction.None" />
                        <button name="submit.BulkEdit" type="submit" class="hidden" value="@T("Apply")">@T("Apply")</button>
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-bolt"></i> @T("Bulk Actions") <span class="caret"></span>
                            </button>&nbsp;
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#" data-bulk-action-confirm="@T("Are you sure you want to move these items?")" data-bulk-action="@TermsAdminIndexBulkAction.Move">@T("Move").ToString()</a></li>
                                <li><a href="#" data-bulk-action-confirm="@T("Are you sure you want to delete these items?")" data-bulk-action="@TermsAdminIndexBulkAction.Delete">@T("Delete").ToString()</a></li>
                            </ul>
                        </div>
                    </fieldset>
                </div>
                @if (Authorizer.Authorize(Permissions.CreateTerm)) {
                    <div class="panel-heading-actions">
                        <a class="btn btn-primary" href="@Url.Action("SelectTerm", new { taxonomyId = Model.Taxonomy.Id })"><i class="fa fa-plus"></i> @T("Add a term").Text</a>
                    </div>
                }
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive table-with-footer">
                        <table class="table table-striped table-fw-widget table-hover no-footer" summary="@T("This is a table of the terms in your application")">
                            <thead>
                                <tr>
                                    <th class="text-nowrap">
                                        <div class="or-checkbox inline">
                                            <input id="checkAll" class="check-all" type="checkbox">
                                            <label class="check-all" title="@T("Select All")" for="checkAll"></label>
                                        </div>
                                    </th>
                                    <th scope="col" width="100%" class="text-left">@T("Term Name")</th>
                                    <th scope="col">&nbsp;</th>
                                </tr>
                            </thead>
                            @foreach (var termEntry in Model.Terms) {
                                var ti = termIndex;
                                <tr>
                                    <td>
                                        <input type="hidden" value="@Model.Terms[termIndex].Id" name="@Html.NameOf(m => m.Terms[ti].Id)" />
                                        <div class="or-checkbox indent-level-@termEntry.GetLevels() inline">
                                            <input id="@Html.NameOf(m => m.Terms[ti].IsChecked)" type="checkbox" value="true" name="@Html.NameOf(m => m.Terms[ti].IsChecked)" />
                                            <label for="@Html.NameOf(m => m.Terms[ti].IsChecked)"></label>
                                        </div>
	                                @if (termEntry.HasDraft) {
                                            <text>@T(" (Draft)")</text>
                                        }
                                    </td>
                                    <td>
                                        @Html.ItemDisplayLink(termEntry.Name, termEntry.ContentItem)
                                    </td>
                                    <td class="text-nowrap">
                                        @if (Authorizer.Authorize(Permissions.EditTerm)) {
                                            <a class="btn btn-primary" href="@Url.Action("MoveTerm", new { taxonomyId = Model.Taxonomy.Id, termIds = termEntry.Id })"><i class="fa fa-arrows"></i> @T("Move")</a>
                                            <a class="btn btn-primary" href="@Url.ItemEditUrl(termEntry.ContentItem, new { returnUrl = Url.Action("Index", "TermAdmin", new { taxonomyId = Model.Taxonomy.Id }) })"><i class="fa fa-pencil-square-o"></i> @T("Edit")</a>
                                            <a class="btn btn-danger" href="@Url.ItemRemoveUrl(termEntry.ContentItem, new { returnUrl = Url.Action("Index", "TermAdmin", new { taxonomyId = Model.Taxonomy.Id }) })" data-confirm="@T("Are you sure you want to delete this item?")"><i class="fa fa-trash"></i> @T("Delete")</a>
                                        }
                                    </td>
                                </tr>
                                termIndex++;
                            }
                        </table>
                    </div>
                    <div class="row or-datatable-footer">
                        <div class="col-sm-12">
                            @Display(Model.Pager)
                        </div>
                    </div>
                </div>
            </div>
        }
    } else {
        <div class="panel-body">
            <h3 class="no-content">
                @T("There are currently no terms.")
                @Html.ActionLink(T("Add one now").Text, "SelectTerm", new { taxonomyId = Model.Taxonomy.Id }, new { @class = "" })
            </h3>
        </div>
    }
</div>