@using Orchard.Utility.Extensions;
@using Orchard.Widgets.Models;
@{
    Style.Require("WidgetsAdmin");
    Layout.Title = T("Manage Widgets").ToString();
    IEnumerable<LayerPart> layers = Model.Layers;
    IEnumerable<WidgetPart> widgets = Model.Widgets;
    IEnumerable<string> zones = Model.Zones;
    var returnUrl = ViewContext.RequestContext.HttpContext.Request.ToUrlString();
}

<div id="widgets" class="group">
    <div id="widgets-layers-control" class="widgets-container">
        @if (layers.Count() > 0) {
            using (Html.BeginForm("index", "admin", FormMethod.Get, new {area = "Orchard.Widgets"})) {
                <fieldset class="bulk-actions-auto">
                    <label for="layerId">@T("Current Layer:")</label>
                    <select id="layerId" name="layerId">
                        @foreach (var layer in Model.Layers) {
                            @Html.SelectOption((int)Model.CurrentLayer.Id, (int)layer.Id, (string)layer.Name)
                        }
                    </select>
                    <button type="submit" class="apply-bulk-actions-auto">@T("Show")</button>
                    @Html.Link(T("Edit").Text, Url.Action("EditLayer", "Admin", new { area = "Orchard.Widgets", id = Model.CurrentLayer.Id, returnUrl }), new { @class = "button" })
                </fieldset>
            }
        }
        @Html.Link(T("Add a new layer...").Text, Url.Action("AddLayer", "Admin", new { area = "Orchard.Widgets", returnUrl }))
    </div>
    <div id="layout-widgets-placement">
        <div id="widgets-placement">
            <div id="widgets-layers" class="widgets-container">
                <div id="widgets-zones">
                    <ol>
                        @foreach (string zone in zones) {
                            <li>
                                <h2>@zone</h2>
                                <ul class="widgets-zone-widgets">
                                    @{
                                        int count = widgets.Where(w => w.Zone == zone).Count() - 1;
                                        int i = 0;
                                    }
                                    @foreach (WidgetPart widget in widgets.Where(w => w.Zone == zone).OrderBy(w => w.Position, new Orchard.UI.FlatPositionComparer())) {
                                        <li>
                                            @if (i > 0) {
                                                <input class="widgets-mover" type="image" name="submit.MoveUp.@widget.Id" src="@Url.Content("~/modules/orchard.widgets/Content/Admin/images/moveup.gif")" alt="Move up" value="@widget.Id" />
                                            }
                                            @if (i < count) {
                                                <input class="widgets-mover" type="image" name="submit.MoveDown.@widget.Id" src="@Url.Content("~/modules/orchard.widgets/Content/Admin/images/movedown.gif")" alt="Move down" value="@widget.Id" />
                                            }
                                            @{
                                                i++;
                                            }
                                            @Html.ActionLink(HasText(widget.Title) ? widget.Title : widget.TypeDefinition.DisplayName, "EditWidget", new { @widget.Id })
                                        </li>
                                    }
                                </ul>
                            </li>
                        }
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div id="layout-widgets-assistance">
        <div id="widgets-assistance">
            <div class="widgets-container">
                <p>[theme preview image]</p>
                <p>[layer visibility]</p>
            </div>
        </div>
    </div>
</div>
