@{
    Style.Require("WidgetsAdmin");
    Layout.Title = T("Widgets").ToString();
}
@Display.WidgetPlacement_Orphans(OrphanWidgets: Model.OrphanWidgets)
<div id="widgets" class="or-panel-main group">
    @Display.WidgetFiltersControl(Layers: Model.Layers, CurrentLayer: Model.CurrentLayer, Cultures: Model.Cultures, CurrentCulture: Model.CurrentCulture)
    <div class="panel-body">
        <div class="flex-2-column">
            <div id="widgets-placement-flexcolumn">
                @Display.WidgetPlacement(Widgets: Model.Widgets, Zones: Model.Zones, OrphanZones: Model.OrphanZones, CurrentLayer: Model.CurrentLayer)
            </div>
            <div>
                <div id="widgets-assistance">
                    @Display.WidgetLayerVisibility(Layers: Model.Layers, CurrentLayer: Model.CurrentLayer)
                    @Display.WidgetSimplePreview(ZonePreviewImage: Model.ZonePreviewImage, CurrentTheme: Model.CurrentTheme)
                </div>
            </div>
        </div>
    </div>
</div>