@using Orchard.Core.Title.Settings;
@model TitlePartSettings
@{
    var maxLength = TitlePartSettings.MaxTitleLength;
}

<fieldset>
    <label for="@Html.FieldIdFor(m => m.MaxLength)">@T("Maximum length")</label>
    @Html.EditorFor(m => m.MaxLength, new { htmlAttributes = new { min = 0, max = maxLength } })
    <span class="hint">@T("Maximum length allowed for the title. Setting the value to 0 means the maximum allowed length is {0} characters.", maxLength)</span>
    @Html.ValidationMessageFor(m => m.MaxLength)
</fieldset>