@using Orchard.Modules.Extensions;
@using Orchard.Mvc.Html;
@using Orchard.Modules.ViewModels;
@using Orchard.Environment.Extensions.Models;

@{
    Orchard.Modules.Models.ModuleEntry module = Model.Module;
    string moduleClasses = module.IsRecentlyInstalled ? "recentlyInstalledModule" : string.Empty;
}

<div class="summary">
    @if (module.Notifications != null && module.Notifications.Count > 0) {
        <div class="notifications">
            @foreach (string notification in module.Notifications) {
                <h5>@Html.Raw(notification)</h5>
            }
        </div>
    }
    <div class="properties">
        <h2@{ if(!string.isnullorempty(moduleclasses)) {<text> class="@moduleClasses" </text> }}>
            @module.Descriptor.Name<span> - @T("Version: {0}", !string.IsNullOrEmpty(module.Descriptor.Version) ? module.Descriptor.Version : T("1.0").ToString())</span></h2>

            @if (!string.IsNullOrEmpty(module.Descriptor.Description)) {
                <p>@module.Descriptor.Description</p>
            }

            <ul class="pageStatus" style="color:#666; margin:.6em 0 0 0;">
                @{ IEnumerable<FeatureDescriptor> features = module.Descriptor.Features; }
                <li>@T("Features: {0}", MvcHtmlString.Create(string.Join(", ", features.Select(f => Html.Link(string.IsNullOrEmpty(f.Name) ? f.Id : f.Name, string.Format("{0}#{1}", Url.Action("features", new { area = "Orchard.Modules" }), f.Id.AsFeatureId(n => T(n)))).ToString()).OrderBy(s => s).ToArray())))</li>
                <li>&nbsp;&#124;&nbsp;@T("Author: {0}", !string.IsNullOrEmpty(module.Descriptor.Author) ? module.Descriptor.Author : T("Unknown").ToString())</li>
                <li>
                    &nbsp;&#124;&nbsp;@T("Website: ")
                    @if (!string.IsNullOrEmpty(module.Descriptor.WebSite)) { <a href="@module.Descriptor.WebSite">@modu>@module.Descriptor.WebSite</a> }
                    else { @T("Unknown").ToString() }
                </li>
            </ul>
    </div>
</div>