@using Orchard.Indexing
@using Orchard.Utility.Extensions
@model Orchard.Indexing.Settings.TypeIndexing
@{
    var indexProvider = WorkContext.Resolve<IIndexManager>().GetSearchIndexProvider();
    
}

@if (indexProvider != null) {
    <fieldset>
        <legend>@T("Index this content type in:")</legend>
        @{ var i = 0;}
        <select size="0" name="@Html.FieldNameFor(m => m.List)">
            @foreach (var index in indexProvider.List()) {
                <option value="" selected="@(!Model.List.Contains(index + ":latest") && !Model.List.Contains(index))">@index - Not indexed</option>
                <option value="@index" selected="@(Model.List.Contains(index))">@index - Index published version</option>
                <option value="@(index):latest" selected="@(Model.List.Contains(index + ":latest"))">@index - Index any version</option>
                i++;
            }
        </select>
    </fieldset>
}