@model Orchard.Core.Common.ViewModels.DateTimeEditor

@{
    Style.Require("DateTimeEditor");
}

@if (Model.ShowDate) {
    <label class="forpicker" for="@Html.FieldIdFor(m => Model.Date)">@T("Date")</label>
    <span class="date">@Html.EditorFor(m => m.Date)</span>
}

@if (Model.ShowTime) {
    <label class="forpicker" for="@Html.FieldIdFor(m => Model.Time)">@T("Time")</label>
    <span class="time">@Html.EditorFor(m => m.Time)</span>
}

@if (Model.ShowDate) { <text>@Html.ValidationMessageFor(m => m.Date)</text> }
@if (Model.ShowTime) { <text>@Html.ValidationMessageFor(m => m.Time)</text> }