@model Orchard.Core.Common.ViewModels.TextFieldDriverViewModel

<fieldset>
    <label for="@Html.FieldIdFor(m => m.Text)" @if(Model.Settings.Required) { <text>class="required"</text> }>@Model.Field.DisplayName</label>
    @if (String.IsNullOrWhiteSpace(Model.Settings.Flavor)) {
        @Html.TextBoxFor(m => m.Text, new { @class = "text" })        
        @Html.ValidationMessageFor(m => m.Text)
    }
    else {
        @Display.Body_Editor(Text: Model.Text, EditorFlavor: Model.Settings.Flavor)
    }
    <span class="hint">@Model.Settings.Hint</span>
</fieldset>
