@model Orchard.Experimental.ViewModels.CommandsExecuteViewModel
<h1>
    @Html.TitleForPage(T("Command line").ToString())
</h1>
<div>
    @using (Html.BeginFormAntiForgeryPost(Url.Action("Execute"))) {
        @Html.ValidationSummary()
        <ul>
            @for (int index = 0; index != (Model.History ?? new string[0]).Length; ++index) {
                <li>
                    @Model.History[index]
                    @Html.HiddenFor(m => m.History[index])
                </li>
            }
        </ul>
        @Html.LabelFor(m => m.CommandLine, T("Command Line"))
        @Html.TextBoxFor(m => m.CommandLine, new { style = "width:100%;" })
        @Html.ValidationMessageFor(m => m.CommandLine)
        <pre>@Model.Results</pre>
    }
</div>
