@using Orchard.CustomForms.ViewModels
@using Orchard.Utility.Extensions
@model Orchard.CustomForms.ViewModels.CustomFormIndexViewModel

@{
    var formIndex = 0;

	var pageSizes = new List<int?>() { 10, 50, 100 };
	var defaultPageSize = WorkContext.CurrentSite.PageSize;
	if(!pageSizes.Contains(defaultPageSize)) { 
		pageSizes.Add(defaultPageSize);
	}

    Layout.Title(T("Manage Custom Forms").ToString());
}

@using (Html.BeginFormAntiForgeryPost()) { 
    @Html.ValidationSummary()
    <div class="manage">@Html.ActionLink(T("Add a new Custom Form").ToString(), "Create", "Admin", new { area = "Contents", id = "CustomForm", returUrl = Request.RawUrl }, new { @class = "btn btn-primary" })</div>

    <fieldset class="bulk-actions">
        <input id="publishActions" name="@Html.NameOf(m => m.Options.BulkAction)" type="hidden" value="@CustomFormBulkAction.None" />
        <button name="submit.BulkEdit" type="submit" class="hidden" value="@T("Apply")">@T("Apply")</button>
        <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                Bulk Actions <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li><a href="javascript:submitForm($('form'), '@CustomFormBulkAction.Publish');">@T("Publish").ToString()</a></li>
                <li><a href="javascript:submitForm($('form'), '@CustomFormBulkAction.Unpublish');">@T("Unpublish").ToString()</a></li>
                <li><a href="javascript:submitForm($('form'), '@CustomFormBulkAction.Delete');">@T("Delete").ToString()</a></li>
            </ul>
        </div>
    </fieldset>
    <fieldset class="bulk-actions">
		<label for="filterResults">@T("Sort by:")</label>
        <select id="filterResults" name="@Html.NameOf(m => m.Options.Order)">
            @Html.SelectOption(Model.Options.Order, CustomFormOrder.Creation, T("Creation date").ToString())
        </select>
		<input type="hidden" name="Page" value="1" />
		<label for="pageSize">@T("Show:")</label>
		<select id="pageSize" name="PageSize">
			@Html.SelectOption((int)Model.Pager.PageSize, 0, T("All").ToString())
			@foreach(int size in pageSizes.OrderBy(p => p)) {
				@Html.SelectOption((int)Model.Pager.PageSize, size, size.ToString())
			}
		</select>
        <button class="btn btn-default" type="submit" name="submit.Filter" value="@T("Filter")">@T("Filter")</button>
    </fieldset>
    <fieldset class="table-responsive">
        <table class="table table-hover table-bordered items">
            <thead>
                <tr>
                    <th scope="col"><input type="checkbox" class="check-all" /></th>
                    <th scope="col">@T("Title")</th>
                    <th scope="col">@T("Content Type")</th>
                    <th class="text-right" scope="col">@T("Actions")</th>
                </tr>
            </thead>
            @foreach (var entry in Model.CustomForms)
            {
                <tr>
                    <td>
                        <input type="hidden" value="@Model.CustomForms[formIndex].CustomForm.Id" name="@Html.NameOf(m => m.CustomForms[formIndex].CustomForm.Id)" />
                        <input type="checkbox" value="true" name="@Html.NameOf(m => m.CustomForms[formIndex].IsChecked)" />
                    </td>
                    <td>
                        @Html.ItemEditLink(entry.CustomForm.Title, entry.CustomForm.ContentItem)
                        @if (entry.CustomForm.ContentItem.ContentType == "CustomFormWidget")
                        {
                            @T("-")<text> </text>@T("Widget")
                        }
                    </td>
                    <td>
                        @entry.CustomForm.ContentType.CamelFriendly()
                    </td>
                    <td class="text-right">
                        @Html.ItemEditLink(T("Edit").Text, entry.CustomForm.ContentItem) @T(" | ")
                        @Html.Link(T("Delete").Text, Url.ItemRemoveUrl(entry.CustomForm.ContentItem, new { returnUrl = Request.RawUrl }), new { itemprop = "RemoveUrl UnsafeUrl" }) @T(" | ")
                        @Html.ActionLink(T("Submissions").Text, "Item", "Admin", new { area = "Orchard.CustomForms", id = entry.CustomForm.Id }, new { })
                    </td>
                </tr>
                        formIndex++;
            }
        </table>
    </fieldset>
    @Display(Model.Pager)
} 