@model PropertyAddViewModel
@using Orchard.Projections.Models;
@using Orchard.Projections.ViewModels;
           
@{
    Layout.Title = T("Add a Property");
}
<div class="panel panel-default panel-bordered">

    <div class="panel-body">
        @if (!Model.Properties.Any()) {
            <h4>@T("There are no currently available properties")</h4>
        }

        @foreach (var property in Model.Properties.OrderBy(x => x.Name.Text)) {
            <h4>@property.Name</h4>

            <table class="table table-condensed table-hover table-bordered table-striped">
                <thead>
                    <tr>
                        <th scope="col" style="width:300px">@T("Name")</th>
                        <th scope="col">@T("Description")</th>
                    </tr>
                </thead>
                @foreach (var descriptor in property.Descriptors) {
                    <tr>
                        <td>@Html.ActionLink(descriptor.Name.Text, "Edit", new { id = Model.Id, category = descriptor.Category, type = descriptor.Type })</td>
                        <td class="left-align">@descriptor.Description</td>
                    </tr>
                }
            </table>
        }

    </div>
</div>
