@using Orchard.Blogs.Extensions;
@using Orchard.Blogs.Models;
@using Orchard.ContentManagement

@{
    ContentItem blog = Model.ContentItem;
    var displayText = blog.ContentManager.GetItemMetadata(blog).DisplayText;
    Layout.Title = T("Manage {0}", displayText);
}

<div class="panel-heading form-inline">
    @Display(Model.Header)
    <div class="panel-heading-primary-group">
        <fieldset class="bulk-actions">
            @Display(Model.Actions)
        </fieldset>
    </div>
    <div class="panel-heading-actions"><a href="@Url.BlogPostCreate((BlogPart)Model.ContentItem.Get(typeof(BlogPart)))" class="add button primaryAction">@T("New Post")</a></div>
</div>
<div class="panel-body">
    @Display(Model.Content)
</div>