@using Orchard.ContentManagement;
@using Orchard.Core.Contents
@using Orchard.Utility.Extensions;
@{
    Script.Require("ShapesBase");
    ContentItem contentItem = Model.ContentItem;
    var returnUrl = ViewContext.RequestContext.HttpContext.Request.ToUrlString();
}
<div class="summary" itemscope="itemscope" itemid="@contentItem.Id" itemtype="http://orchardproject.net/data/ContentItem">

    <div class="properties">
        <input type="checkbox" value="@contentItem.Id" name="itemIds" />
        <h3>@Html.ItemAdminLink(contentItem)</h3> - <div class="contentType">@contentItem.TypeDefinition.DisplayName</div>
        @if (Model.Header != null) {
            <div class="header">@Display(Model.Header)</div>
        }
        @if (Model.Meta != null) {
            <div class="metadata">@Display(Model.Meta)</div>
        }
    </div>

    <div class="related">
        <ul class="action-links">
            @if (contentItem.HasPublished()) {
                <li class="action-link">
                    @Html.ItemDisplayLink(T("View").Text, contentItem)
                </li>

                if (contentItem.HasDraft()) {
                    if (Authorizer.Authorize(Orchard.Blogs.Permissions.PublishBlogPost, contentItem)) {
                        <li class="action-link">
                            @Html.Link(T("Publish Draft").Text, Url.Action("Publish", "Admin", new { area = "Contents", id = contentItem.Id, returnUrl = Request.ToUrlString() }), new { itemprop = "UnsafeUrl" })
                        </li>
                    }

                    if (Authorizer.Authorize(Permissions.PreviewContent, contentItem)) {
                        <li class="action-link">
                            @Html.ActionLink(T("Preview").Text, "Preview", "Item", new { area = "Contents", id = contentItem.Id }, new { })
                        </li>
                    }
                }

                if (Authorizer.Authorize(Orchard.Blogs.Permissions.PublishBlogPost, contentItem)) {
                    <li class="action-link">
                        @Html.Link(T("Unpublish").Text, Url.Action("Unpublish", "Admin", new { area = "Contents", id = contentItem.Id, returnUrl = Request.ToUrlString() }), new { itemprop = "UnsafeUrl" })
                    </li>
                }
            }
            else {
                if (contentItem.HasDraft()) {
                    if (Authorizer.Authorize(Permissions.PreviewContent, contentItem)) {
                        <li class="action-link">
                            @Html.ActionLink(T("Preview").Text, "Preview", "Item", new { area = "Contents", id = contentItem.Id }, new { })
                        </li>
                    }
                }

                if (Authorizer.Authorize(Orchard.Blogs.Permissions.PublishBlogPost, contentItem)) {
                    <li class="action-link">
                        @Html.Link(T("Publish").Text, Url.Action("Publish", "Admin", new { area = "Contents", id = contentItem.Id, returnUrl = Request.ToUrlString() }), new { itemprop = "UnsafeUrl" })
                    </li>
                }
            }
            @if (Authorizer.Authorize(Orchard.Blogs.Permissions.EditBlogPost, contentItem)) {
                <li class="action-link">
                    @Html.ItemEditLink(T("Edit").Text, contentItem)
                </li>
            }
            @if (Authorizer.Authorize(Orchard.Blogs.Permissions.DeleteBlogPost, contentItem)) {
                <li class="action-link">
                    @Html.Link(T("Delete").Text, Url.ItemRemoveUrl(contentItem, new { returnUrl }), new { itemprop = "RemoveUrl UnsafeUrl" })
                </li>
            }
        </ul>
        @Display(Model.Actions)
    </div>

    @if (Model.Content != null) {
        <div class="primary">@Display(Model.Content)</div>
    }
</div>