@using Orchard.Blogs.Extensions;
@using Orchard.Blogs.Models;

@{ Layout.Title = (string)Model.Title; }

@Display(Model.Header)
@Display(Model.Actions)
<div class="manage"><a href="@Url.BlogPostCreate((BlogPart)Model.ContentItem.Get(typeof(BlogPart)))" class="add button primaryAction">@T("New Post")</a></div>
@Display(Model.Content)