@using Orchard.Core.Contents.ViewModels;
@using Orchard.Utility.Extensions;
@{
    var pageSizes = new List<int?>() { 10, 50, 100 };
    var defaultPageSize = WorkContext.CurrentSite.PageSize;
    if (!pageSizes.Contains(defaultPageSize)) {
        pageSizes.Add(defaultPageSize);
    }
}
@if (Model.ContentItems.Items.Count > 0) {
    using (Html.BeginFormAntiForgeryPost(Url.Action("List", "Admin", new { area = "Contents", id = "" }))) {
        <div class="panel panel-default">
            <div class="panel-heading no-border form-inline">
                <div class="panel-heading-primary-group">
                    <fieldset class="bulk-actions">
                        <div class="or-checkbox inline">
                            <input type="checkbox" class="check-all" id="blog-post-list-select-all" />
                            <label class="check-all" title="@T("Select All")" for="blog-post-list-select-all"></label>
                        </div>
                        <input id="bulkActions" name="Options.BulkAction" type="hidden" value="@ContentsBulkAction.None" />
                        @Html.Hidden("returnUrl", ViewContext.RequestContext.HttpContext.Request.ToUrlString())
                        <button name="submit.BulkEdit" type="submit" class="hidden" value="@T("Apply")">@T("Apply")</button>
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-bolt"></i> @T("Bulk Actions") <span class="caret"></span>
                            </button>&nbsp;
                            <ul class="dropdown-menu" role="menu">
                                <li><a id="btn-bulk-publish" href="#" data-bulk-action-confirm="@T("Are you sure you want to publish these items?")" data-bulk-action="@ContentsBulkAction.PublishNow">@T("Publish Now").ToString()</a></li>
                                <li><a id="btn-bulk-unpublish" href="#" data-bulk-action-confirm="@T("Are you sure you want to unpublish these items?")" data-bulk-action="@ContentsBulkAction.Unpublish">@T("Unpublish").ToString()</a></li>
                                <li><a id="btn-bulk-delete" href="#" data-bulk-action-confirm="@T("Are you sure you want to delete these items?")" data-bulk-action="@ContentsBulkAction.Remove">@T("Delete").ToString()</a></li>
                            </ul>
                        </div>
                    </fieldset>
                </div>
            </div>
            <div class="panel-body">
                <fieldset class="content-items bulk-items content-items-with-actions">
                    @Display(Model.ContentItems)
                </fieldset>
            </div>
            <div class="row or-datatable-footer">
                <div class="col-sm-12">
                    @Display(Model.Pager)
                </div>
            </div>
        </div>
        @Display.ConfirmationDialog()
    }
} else {
    <div class="panel panel-default">
        <div class="panel-body">
            <h3 class="no-content">@T("There are no posts for this blog.")</h3>
        </div>
    </div>
}
