@using Orchard.Blogs.Extensions;
@using Orchard.Blogs.Models;
@using Orchard.ContentManagement;
@using Orchard.ContentManagement.MetaData.Models
@using Orchard.Utility.Extensions;
@{
    ContentItem contentItem = Model.ContentItem;
    BlogPart blog = (BlogPart)contentItem.Get(typeof(BlogPart));
}
<a href="@Url.BlogForAdmin(blog)" title="@T("List Posts")">@T("List Posts")</a>@T(" | ")

@foreach (ContentTypeDefinition blogPostType in Layout.BlogPostContentTypes) {
    <a href="@Url.BlogPostCreate(blog,blogPostType.Name)" title="@T("New {0}", blogPostType.DisplayName)">@T("New {0}", blogPostType.DisplayName)</a>@T(" | ")
}
