@using Orchard.AuditTrail.Services.Models
@model Orchard.AuditTrail.ViewModels.AuditTrailViewModel
@{
    Style.Include("audittrail-display.css");

    var orderBy = Model.OrderBy;
    var orderByItems = new List<SelectListItem> {
        new SelectListItem {Text = T("Date (newest first)").Text, Value = AuditTrailOrderBy.DateDescending.ToString(), Selected = Model.OrderBy == AuditTrailOrderBy.DateDescending},
        new SelectListItem {Text = T("Category (alphabetical)").Text, Value = AuditTrailOrderBy.CategoryAscending.ToString(), Selected = Model.OrderBy == AuditTrailOrderBy.CategoryAscending},
        new SelectListItem {Text = T("Event name (alphabetical)").Text, Value = AuditTrailOrderBy.EventAscending.ToString(), Selected = Model.OrderBy == AuditTrailOrderBy.EventAscending},
    };

    Layout.Title = T("Audit Trail");
}
@using (Html.BeginForm("Index", "Admin", new { area = "Orchard.AuditTrail" }, FormMethod.Get)) {
    <section class="audittrail-filter-section">
        @Display(Model.FilterDisplay)
        <div class="filter-control-group">
            @Html.LabelFor(m => orderBy, T("Sort by:"))
            @Html.DropDownListFor(m => orderBy, orderByItems)
        </div>
        <div class="filter-control-group">
            <button type="submit" class="filter-apply-button" value="yes">@T("Apply")</button>
        </div>
    </section>
}
<section class="audittrail-list-section">
    @if (!Model.Records.Any()) {
        <p class="info">@T("There are no records to display.")</p>
    }
    else {
        <table class="items">
            <thead>
                <tr>
                    <th>@T("Category")</th>
                    <th>@T("Event")</th>
                    <th>@T("User")</th>
                    <th>@T("Timestamp")</th>
                    <th>@T("Summary")</th>
                    <th>@T("Comment")</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var record in Model.Records) {
                    <tr>
                        <td>@record.CategoryDescriptor.Name</td>
                        <td>@record.EventDescriptor.Name</td>
                        <td>@record.Record.UserName</td>
                        <td>@Display.DateTime(DateTimeUtc: record.Record.CreatedUtc, CustomFormat: T("g"))</td>
                        <td>@Display(record.SummaryShape)</td>
                        <td>@record.Record.Comment</td>
                        <td>@Html.ActionLink(T("Details").Text, "Detail", "Admin", new { id = record.Record.Id, area = "Orchard.AuditTrail" }, null)</td>
                    </tr>
                }
            </tbody>
        </table>
    }
</section>
<section class="pager">
    @Display(Model.Pager)
</section>