@using Orchard.AuditTrail.Services.Models
@model Orchard.AuditTrail.ViewModels.AuditTrailViewModel
@{
    Style.Include("custom-grid.css");
    Style.Include("admin.css");
    var orderBy = Model.OrderBy;
    var orderByItems = new List<SelectListItem> {
        new SelectListItem {Text = T("Date (desc)").Text, Value = AuditTrailOrderBy.DateDescending.ToString(), Selected = Model.OrderBy == AuditTrailOrderBy.DateDescending},
        new SelectListItem {Text = T("Category (asc)").Text, Value = AuditTrailOrderBy.CategoryAscending.ToString(), Selected = Model.OrderBy == AuditTrailOrderBy.CategoryAscending},
        new SelectListItem {Text = T("Event (asc)").Text, Value = AuditTrailOrderBy.EventAscending.ToString(), Selected = Model.OrderBy == AuditTrailOrderBy.EventAscending},
    };
    
    Layout.Title = T("Audit Trail");
}
<section class="audit-trail-filter">
    @using (Html.BeginForm("Index", "Admin", new { area = "Orchard.AuditTrail" }, FormMethod.Get)) {
        <div class="table">
            <div class="row">
                <div class="cell span-12">
                    @Display(Model.FilterLayout)
                </div>
            </div>
            <div class="row">
                <div class="cell span-4">
                    @Display(Model.FilterLayout.TripleFirst)
                    <fieldset>
                        @Html.LabelFor(m => orderBy, T("Ordered by:"))
                        @Html.DropDownListFor(m => orderBy, orderByItems)
                    </fieldset>
                </div>
                <div class="cell span-4">
                    @Display(Model.FilterLayout.TripleSecond)
                </div>
                <div class="cell span-4">
                    @Display(Model.FilterLayout.TripleThird)
                </div>
            </div>
            <div class="row">
                <div class="cell span-12">
                    <button type="submit" value="yes">@T("Apply")</button>
                </div>
            </div>
        </div>
    }
</section>
<section class="audit-trail-list">
    @if (!Model.Records.Any()) {
        <p class="info">@T("There are no records to display.")</p>
    }
    else {
        <table class="items">
            <thead>
                <tr>
                    <th>@T("Event")</th>
                    <th>@T("Category")</th>
                    <th>@T("User")</th>
                    <th>@T("Timestamp")</th>
                    <th>@T("Comment")</th>
                    <th>@T("Event Data")</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var record in Model.Records) {
                    <tr>
                        <td>@record.EventDescriptor.Name</td>
                        <td>@record.CategoryDescriptor.Name</td>
                        <td>@record.Record.UserName</td>
                        <td>@Display.DateTime(DateTimeUtc: record.Record.CreatedUtc, CustomFormat: T("g"))</td>
                        <td>@record.Record.Comment</td>
                        <td>@Display(record.SummaryShape)</td>
                        <td>@Html.ActionLink(T("Details").Text, "Detail", "Admin", new { id = record.Record.Id, area = "Orchard.AuditTrail" }, null)</td>
                    </tr>
                }
            </tbody>
        </table>
    }
</section>
<section class="pager">
    @Display(Model.Pager)
</section>