@model Orchard.Core.Containers.ViewModels.ContainerViewModel
@using Orchard.Core.Containers.Models;
<fieldset class="with-checkbox">
    <span class="checkbox-and-label">
        @Html.CheckBoxFor(m => m.Part.ItemsShown)
        <label for="@Html.FieldIdFor(m => m.Part.ItemsShown)" class="forcheckbox">@T("Show contained items list")</label>
    </span>
</fieldset>
<fieldset>
	@Html.LabelFor(m => m.Part.ItemContentType, T("Contains"))
	@Html.DropDownListFor(m => m.Part.ItemContentType, Model.AvailableContainables)
	<span class="hint">@T("Only types with the Containable part can be contained in a list.")</span>
</fieldset>
<fieldset>
    @Html.LabelFor(m => m.Part.OrderByProperty, T("Order by"))
    <select id="@Html.FieldIdFor(m => m.Part.OrderByProperty)" name="@Html.FieldNameFor(m => m.Part.OrderByProperty)">
        @Html.SelectOption(Model.Part.OrderByProperty, "ContainablePart.Weight", T("Weight").Text)
        @Html.SelectOption(Model.Part.OrderByProperty, "CommonPart.CreatedUtc", T("Date Created").Text)
        @Html.SelectOption(Model.Part.OrderByProperty, "CommonPart.PublishedUtc", T("Date Published").Text)
        @Html.SelectOption(Model.Part.OrderByProperty, "TitlePart.Title", T("Title (Title Part)").Text)
        @Html.SelectOption(Model.Part.OrderByProperty, "CustomPropertiesPart.CustomOne", T("Custom 1").Text)
        @Html.SelectOption(Model.Part.OrderByProperty, "CustomPropertiesPart.CustomTwo", T("Custom 2").Text)
        @Html.SelectOption(Model.Part.OrderByProperty, "CustomPropertiesPart.CustomThree", T("Custom 3").Text)
    </select>
    <select id="@Html.FieldIdFor(m => m.Part.OrderByDirection)" name="@Html.FieldNameFor(m => m.Part.OrderByDirection)">
        @Html.SelectOption(Model.Part.OrderByDirection, (int)OrderByDirection.Ascending, T("Ascending").Text)
        @Html.SelectOption(Model.Part.OrderByDirection, (int)OrderByDirection.Descending, T("Descending").Text)
    </select>
</fieldset>
<fieldset class="with-checkbox">
    <span>
        @Html.LabelFor(m => m.Part.PageSize, T("Page size"))
        @Html.TextBoxFor(m => m.Part.PageSize, new { @class = "text text-small" })
    </span>
    <span class="checkbox-and-label">
        @Html.CheckBoxFor(m => m.Part.Paginated)
        <label for="@Html.FieldIdFor(m => m.Part.Paginated)" class="forcheckbox">@T("Show paging controls")</label>
    </span>
</fieldset>