@model Orchard.Core.Containers.Models.ContainerSettingsPartRecord
@using Orchard.Core.Containers.Models;

<fieldset>
    <legend>@T("Content Container")</legend>
    <div>
        <label for="@ViewData.TemplateInfo.GetFullHtmlFieldId("DefaultPageSize")">@T("Default page size")</label>
        @Html.EditorFor(m => m.DefaultPageSize)
        @Html.ValidationMessageFor(m => m.DefaultPageSize)
    </div>
</fieldset>