@model Orchard.Core.Containers.Models.ContainerPart
@using Orchard.Core.Containers.Models;
<fieldset>
    @Html.LabelFor(m => m.Record.OrderByProperty, T("Order by"))
    <select id="@Html.FieldIdFor(m => m.Record.OrderByProperty)" name="@Html.FieldNameFor(m => m.Record.OrderByProperty)">
        @Html.SelectOption(Model.Record.OrderByProperty, "CommonPart.PublishedUtc", T("Date Published").Text)
        @Html.SelectOption(Model.Record.OrderByProperty, "RoutePart.Title", T("Title").Text)
        @Html.SelectOption(Model.Record.OrderByProperty, "RoutePart.Slug", T("Slug").Text)
        @Html.SelectOption(Model.Record.OrderByProperty, "CustomPropertiesPart.CustomOne", T("Custom 1").Text)
        @Html.SelectOption(Model.Record.OrderByProperty, "CustomPropertiesPart.CustomTwo", T("Custom 2").Text)
        @Html.SelectOption(Model.Record.OrderByProperty, "CustomPropertiesPart.CustomThree", T("Custom 3").Text)
    </select>
    <select id="@Html.FieldIdFor(m => m.Record.OrderByDirection)" name="@Html.FieldNameFor(m => m.Record.OrderByDirection)">
        @Html.SelectOption(Model.Record.OrderByDirection, (int)OrderByDirection.Ascending, T("Ascending").Text)
        @Html.SelectOption(Model.Record.OrderByDirection, (int)OrderByDirection.Descending, T("Descending").Text)
    </select>
</fieldset>
<fieldset class="with-checkbox">
    <span>
        @Html.LabelFor(m => m.Record.PageSize, T("Page size"))
        @Html.TextBoxFor(m => m.Record.PageSize, new { @class = "text text-small" })
    </span>
    <span class="checkbox-and-label">
        @Html.CheckBoxFor(m => m.Record.Paginated)
        <label for="@Html.FieldIdFor(m => m.Record.Paginated)" class="forcheckbox">@T("Show paging controls")</label>
    </span>
</fieldset>