@model Orchard.Core.Containers.Models.ContainerWidgetPart
@using Orchard.Core.Containers.Models;
<fieldset>
    @Html.LabelFor(m => m.Record.ContainerId, T("Show items from"))
    @Html.DropDownListFor(m => m.Record.ContainerId, Model.AvailableContainers)
</fieldset>
<fieldset>
    @Html.LabelFor(m => m.Record.OrderByProperty, T("Order by"))
    <select id="@Html.FieldIdFor(m => m.Record.OrderByProperty)" name="@Html.FieldNameFor(m => m.Record.OrderByProperty)">
        @Html.SelectOption(Model.Record.OrderByProperty, "CommonPart.PublishedUtc", T("Date Published").Text)
        @Html.SelectOption(Model.Record.OrderByProperty, "RoutePart.Title", T("Title").Text)
        @Html.SelectOption(Model.Record.OrderByProperty, "RoutePart.Slug", T("Slug").Text)
        @Html.SelectOption(Model.Record.OrderByProperty, "ContainerCustomPart.Custom1", T("Custom 1").Text)
        @Html.SelectOption(Model.Record.OrderByProperty, "ContainerCustomPart.Custom2", T("Custom 2").Text)
        @Html.SelectOption(Model.Record.OrderByProperty, "ContainerCustomPart.Custom3", T("Custom 3").Text)
    </select>
    <select id="@Html.FieldIdFor(m => m.Record.OrderByDirection)" name="@Html.FieldNameFor(m => m.Record.OrderByDirection)">
        @Html.SelectOption(Model.Record.OrderByDirection, (int)OrderByDirection.Ascending, T("Ascending").Text)
        @Html.SelectOption(Model.Record.OrderByDirection, (int)OrderByDirection.Descending, T("Descending").Text)
    </select>
</fieldset>
<fieldset>
    <span>
        @Html.LabelFor(m => m.Record.PageSize, T("Maximum number of items to display"))
        @Html.TextBoxFor(m => m.Record.PageSize, new { @class = "text text-small" })
    </span>
</fieldset>