@using Orchard.Core.Contents.ViewModels;
@{
    var typeDisplayName = (string)Model.TypeDisplayName;
    var pageTitle = T("Manage Content");
    var createLinkText = T("Create New Content");
    if (!String.IsNullOrWhiteSpace(typeDisplayName)) {
        pageTitle = T("Manage {0} Content", Html.Raw(typeDisplayName));
        createLinkText = T("Create New {0}", Html.Raw(typeDisplayName));
    }

    IEnumerable<string> cultures = Model.Options.Cultures;
    Layout.Title = pageTitle.Text;
}
<div class="panel">
@if (Model.ContentItems.Items.Count > 0) {
    using (Html.BeginFormAntiForgeryPost()) {
        <div class="panel-heading no-border">
            <div class="row">
                <div class="col-sm-4 form-group form-inline">

                    <div class="am-checkbox inline">
                        <input id="checkAll" class="check-all" type="checkbox">
                        <label class="check-all" for="checkAll" title="@T("Select all")"></label>
                    </div>


                    <input id="publishActions" name="Options.BulkAction" type="hidden" value="@ContentsBulkAction.None" />
                    <button name="submit.BulkEdit" type="submit" class="hidden" value="@T("Apply")">@T("Apply")</button>
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-bolt"></i> Bulk Actions <span class="caret"></span>
                        </button>&nbsp;
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#" data-confirm="@T("Are you sure you want to publish these items?")" data-action="@ContentsBulkAction.PublishNow">@T("Publish Now").ToString()</a></li>
                            <li><a href="#" data-confirm="@T("Are you sure you want to unpublish these items?")" data-action="@ContentsBulkAction.Unpublish">@T("Unpublish").ToString()</a></li>
                            <li><a href="#" data-confirm="@T("Are you sure you want to delete these items?")" data-action="@ContentsBulkAction.Remove">@T("Delete").ToString()</a></li>
                        </ul>
                    </div>

                </div>
                <div class="col-sm-4 form-group form-inline">

                    <div class="btn-group">
                        <input id="filterResults" name="Options.SelectedFilter" type="hidden" value="" />
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-bars" aria-hidden="true"></i> @T("Show") : <strong>@T("any (show all)")</strong> <span class="caret"></span>
                        </button>&nbsp;
                        <ul class="dropdown-menu" role="menu">
                            @foreach (var filterOption in Model.Options.FilterOptions) {

                                <li><a href="#" data-action="@filterOption.Key">@filterOption.Value</a></li>
                            }
                        </ul>
                    </div>

                    @*<label for="filterResults" class="bulk-filter">@T("Show")</label>*@
                    @*<select id="filterResults" name="Options.SelectedFilter" class="form-control">
                        @Html.SelectOption((string)Model.Options.SelectedFilter, "", T("any (show all)").ToString())
                        @foreach (var filterOption in Model.Options.FilterOptions) {
                            @Html.SelectOption((string)Model.Options.SelectedFilter, (string)filterOption.Key, (string)filterOption.Value)
                        }
                    </select>*@

                    @if (cultures.Count() > 1) {

                        <div class="btn-group">
                            <input id="filterCultures" name="Options.SelectedCulture" type="hidden" value="" />
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-language" aria-hidden="true"></i> @T("Culture") : <strong>@T("any (show all)")</strong> <span class="caret"></span>
                            </button>&nbsp;
                            <ul class="dropdown-menu" role="menu">
                                @foreach (string culture in cultures) {
                                    
                                    <li><a href="#" data-action="@Model.Options.SelectedCulture">@System.Globalization.CultureInfo.GetCultureInfo(culture).DisplayName</a></li>
                                }
                            </ul>
                        </div>

                        @*<label for="filterCultures" class="bulk-culture">@T("Culture")</label>*@
                        @*<select id="filterCultures" name="Options.SelectedCulture" class="form-control">
                            @Html.SelectOption((string)Model.Options.SelectedCulture, "", T("any (show all)").ToString())
                            @foreach (string culture in cultures) {
                                @Html.SelectOption((string)Model.Options.SelectedCulture, culture, System.Globalization.CultureInfo.GetCultureInfo(culture).DisplayName)
                            }
                        </select>*@
                    }

                    <div class="btn-group">
                        <input id="orderResults" name="Options.OrderBy" type="hidden" value="@ContentsStatus.Latest" />
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-sort" aria-hidden="true"></i> @T("Ordered by") : <strong>@T("recently modified")</strong> <span class="caret"></span>
                        </button>&nbsp;
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#" data-action="@ContentsOrder.Created">@T("recently created").ToString()</a></li>
                            <li><a href="#" data-action="@ContentsOrder.Modified">@T("recently modified").ToString()</a></li>
                            <li><a href="#" data-action="@ContentsOrder.Published">@T("recently published").ToString()</a></li>
                        </ul>
                    </div>
                    @*<label for="orderResults" class="bulk-order">@T("Ordered by")</label>*@
                    @*<select id="orderResults" name="Options.OrderBy" class="form-control">
                            @Html.SelectOption((ContentsOrder)Model.Options.OrderBy, ContentsOrder.Created, T("recently created").ToString())
                            @Html.SelectOption((ContentsOrder)Model.Options.OrderBy, ContentsOrder.Modified, T("recently modified").ToString())
                            @Html.SelectOption((ContentsOrder)Model.Options.OrderBy, ContentsOrder.Published, T("recently published").ToString())
                        </select>*@
                    @*<label for="contentResults" class="bulk-order">@T("Filter by")</label>*@

                    <div class="btn-group">
                        <input id="contentResults" name="Options.ContentsStatus" type="hidden" value="@ContentsStatus.Latest" />
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-filter" aria-hidden="true"></i> @T("Filter by") : <strong>@T("latest")</strong> <span class="caret"></span>
                        </button>&nbsp;
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#" data-action="@ContentsStatus.Owner">@T("owned by me").ToString()</a></li>
                            <li><a href="#" data-action="@ContentsStatus.Latest">@T("latest").ToString()</a></li>
                            <li><a href="#" data-action="@ContentsStatus.Published">@T("published").ToString()</a></li>
                            <li><a href="#" data-action="@ContentsStatus.Draft">@T("unpublished").ToString()</a></li>
                            <li><a href="#" data-action="@ContentsStatus.AllVersions">@T("all versions").ToString()</a></li>
                        </ul>
                    </div>
                    @*<select id="contentResults" name="Options.ContentsStatus" class="form-control">
                            @Html.SelectOption((ContentsStatus)Model.Options.ContentsStatus, ContentsStatus.Owner, T("owned by me").ToString())
                            @Html.SelectOption((ContentsStatus)Model.Options.ContentsStatus, ContentsStatus.Latest, T("latest").ToString())
                            @Html.SelectOption((ContentsStatus)Model.Options.ContentsStatus, ContentsStatus.Published, T("published").ToString())
                            @Html.SelectOption((ContentsStatus)Model.Options.ContentsStatus, ContentsStatus.Draft, T("unpublished").ToString())
                            @Html.SelectOption((ContentsStatus)Model.Options.ContentsStatus, ContentsStatus.AllVersions, T("all versions").ToString())
                        </select>
                        <button type="submit" name="submit.Filter" value="yes please" class="btn btn-default">@T("Filter")</button>*@
                </div>
                <div class="col-sm-4 text-right form-group form-inline">
                    <a href="@Url.Action("Create", new { Area = "Contents", Id = (string)Model.Options.SelectedFilter })" class="btn btn-primary"><i class="fa fa-plus"></i> @createLinkText.Text</a>
                </div>
            </div>
        </div>
        <div class="panel-body">
            @if (Model.ContentItems.Items.Count > 0) {
                <fieldset class="content-items bulk-items content-items-with-actions">
                    @Display(Model.ContentItems)
                </fieldset>
            } else {
                <div class="title">@T("No Content Items to display.") </div>
            }
        </div>
        <div class="panel-footer">
            @Display(Model.Pager)
        </div>
        @Display.Modal()
    }
} else {
    <div class="panel-body">
        <h3 class="no-content">
            @T("There are no content items created yet. Why not ")
            @Html.ActionLink(T("Create one").Text, "Create", new { Area = "Contents", Id = (string)Model.Options.SelectedFilter })?
        </h3>
    </div>
}
</div>