@model RolesIndexViewModel
@using Orchard.Roles.ViewModels;
@using Orchard.Utility.Extensions;
@{
    Script.Require("ShapesBase");

    Layout.Title = T("Roles").ToString();
    Layout.Tail.Add(New.ConfirmationDialog());
    Script.Require("RolesAdmin");
}

@using (Html.BeginFormAntiForgeryPost()) {
    <div class="or-panel-main panel-default">
        <div class="panel-heading no-border form-inline">
            @Html.ValidationSummary()
            <div class="row">
                <div class="col-xs-6">
                    <fieldset>
                        <input id="bulkActions" name="@Html.NameOf(m => m.Options.BulkAction)" type="hidden" value="@RolesBulkAction.None" />
                        <button name="submit.BulkEdit" type="submit" class="hidden" value="@T("Apply")">@T("Apply")</button>
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-bolt"></i> @T("Bulk Actions") <span class="caret"></span>
                            </button>&nbsp;
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#" data-bulk-action-confirm="@T("Are you sure you want to delete these items?")" data-bulk-action="@RolesBulkAction.Delete">@T("Delete").ToString()</a></li>
                            </ul>
                        </div>
                    </fieldset>
                </div>
                <div class="col-xs-6 text-right">
                    <a class="btn btn-primary" href="@Url.Action("Create", new { })"><i class="fa fa-plus"></i> @T("Add a role")</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="table-responsive table-with-footer">
                    <table class="table table-fw-widget table-striped no-footer">
                        <thead>
                            <tr>
                                <th scope="col">
                                    <div class="or-checkbox inline">
                                        <input id="checkAll" class="check-all" type="checkbox">
                                        <label class="check-all" title="@T("Select All")" for="checkAll"></label>
                                    </div>
                                </th>
                                <th scope="col" width="100%" class="text-left">@T("Name")</th>
                                <th scope="col" class="no-sort"></th>
                            </tr>
                        </thead>

                        @foreach (var row in Model.Rows) {
                            <tr>
                                <td>
                                    <div class="or-checkbox">
                                        <input type="checkbox" value="true" name="@("Checkbox." + row.Id)" id="@("Checkbox." + row.Id)" />
                                        <label for="@("Checkbox." + row.Id)"></label>
                                    </div>
                                </td>
                                <td>@Html.ActionLink(row.Name, "Edit", new { row.Id })</td>
                                <td class="text-nowrap text-right">
                                    <a href="@Url.Action("Edit", new { row.Id })" class="btn btn-primary"><i class="fa fa-pencil-square-o"></i> @T("Edit")</a>
                                    @if (row.Name != "Administrator") {
                                        <a class="btn btn-danger" href="@Url.Action("Delete", new { row.Id, returnUrl = ViewContext.RequestContext.HttpContext.Request.ToUrlString() })" data-confirm="@T("Are you sure you want to delete this item?")"><i class="fa fa-trash"></i> @T("Delete")</a>
                                    }
                                </td>
                            </tr>
                        }
                    </table>

                </div>
            </div>
        </div>
        @*<div class="row or-datatable-footer">
                <div class="col-sm-12">
                    @Display(Model.Pager)
                </div>
            </div>*@

    </div>
}