@using Orchard.Widgets.Models
@{
    Style.Require("WidgetsAdmin");
    IEnumerable<WidgetPart> widgets = Model.Widgets;
    IEnumerable<string> themeZones = Model.ThemeZones;
    IEnumerable<string> layoutZones = Model.LayoutZones;
    IEnumerable<string> orphanZones = Model.OrphanZones;
}
<div id="widgets-placement">
    <div id="widgets-layers" class="widgets-container detail-view switchable">
        <div id="widgets-zones" class="widgets-listed">
            @Display.WidgetPlacement_Zones(Widgets: widgets, Zones: themeZones, CurrentLayer: Model.CurrentLayer, Title: T("Theme Zones"))
            @Display.WidgetPlacement_Zones(Widgets: widgets, Zones: layoutZones, CurrentLayer: Model.CurrentLayer, Title: T("Layout Zones"))
        </div>
        @if (orphanZones.Any()) {
            <div id="widgets-zones-orphans-container">
                <h3>@T("Zones for other enabled themes.")</h3>
                <p>@T("Widgets in these zones will not appear anywhere when your currently active theme is applied. They might still appear in selectively applied (e.g. mobile) themes.")</p>
                <div id="widgets-zones-orphans" class="widgets-listed">
                    @Display.WidgetPlacement_Zones(Widgets: widgets, Zones: Model.OrphanZones, CurrentLayer: Model.CurrentLayer)
                </div>
            </div>
        }
    </div> 
</div>