@using Orchard.Utility.Extensions;
@using Orchard.Widgets.Models;
@{
    Style.Require("WidgetsAdmin");
    Script.Require("Switchable").AtFoot();
    //Style.Require("Switchable");
    IEnumerable<LayerPart> layers = Model.Layers;
    IEnumerable<string> cultures = Model.Cultures;
    var returnUrl = Request.RawUrl;
}
<div class="panel-heading form-inline">
    <div class="panel-heading-primary-group">
        @if (layers.Any()) {
            using (Html.BeginForm("index", "admin", FormMethod.Get, new { area = "Orchard.Widgets" })) {
                <fieldset class="bulk-actions-auto">
                    <label for="layerId">@T("Current Layer:")</label>
                    <select id="layerId" name="layerId" class="form-control">
                        @foreach (var layer in layers) {
                            @Html.SelectOption((int)Model.CurrentLayer.Id, (int)layer.Id, (string)layer.Name)
                        }
                    </select>
                    <button type="submit" class="apply-bulk-actions-auto">@T("Show")</button>
                    @Html.Link(T("Edit").Text, Url.Action("EditLayer", "Admin", new { area = "Orchard.Widgets", id = Model.CurrentLayer.Id, returnUrl }), new { @class = "btn btn-primary" })

                    @if (!String.IsNullOrEmpty(Model.CurrentLayer.Description)) {
                        <p class="help-block">
                            @Model.CurrentLayer.Description
                        </p>
                    }
                </fieldset>
            }
        }
        if (cultures.Count() > 1) {

        @if (cultures.Count() > 1) {
            using (Html.BeginForm("index", "admin", FormMethod.Get, new { area = "Orchard.Widgets" })) {
                <fieldset class="bulk-actions-auto">
                    <label for="culture">@T("Current Culture:")</label>
                    <select id="culture" name="culture" class="form-control ltr">
                        @Html.SelectOption((string)Model.CurrentCulture, "", T("any (show all)").ToString())
                        @foreach (var culture in cultures) {
                            @Html.SelectOption((string)Model.CurrentCulture, (string)culture, System.Globalization.CultureInfo.GetCultureInfo(culture).DisplayName)
                        }
                    </select>
                    <button type="submit" class="apply-bulk-actions-auto">@T("Show")</button>
                    <p class="help-block">&nbsp;</p>
                </fieldset>
            }
        }
    </div>
    <div class="panel-heading-actions">
        @Html.Link(T("Add a new layer").Text, Url.Action("AddLayer", "Admin", new { area = "Orchard.Widgets", returnUrl }), new { @class="btn btn-link"})
    </div>

</div>


    @if (!String.IsNullOrEmpty(Model.CurrentLayer.Description)) {
        <div>
            <span class="hint" id="widgets-layer-description">@Model.CurrentLayer.Description</span>
            <br />
        </div>
    }
</div>
